@model List<DTOLayer.BaiVietTaiLieuDTO>

<section class="hop hop-2-vien">
    <section class="tieu-de">
        Đăng tài liệu cho khóa học
    </section>
    @Html.Partial("~/Views/BaiVietTaiLieu/_Form.cshtml", null, new ViewDataDictionary() { { "MaKhoaHoc", ViewData["MaKhoaHoc"].ToString() } })
</section>

<section class="hop">
    <section class="tieu-de">
        Danh sách tài liệu của khóa học
    </section>
    <ul id="danh_sach_bai_viet" class="noi-dung">
        @if (Model != null)
        {
            foreach (var baiViet in Model)
            {
                @Html.Partial("~/Views/BaiVietTaiLieu/_Item.cshtml", baiViet);
            }    
        }
    </ul>
</section>