<article class="hop hop-2-vien">
    <section class="tieu-de">Bạn muốn nhắn tin cho ai?</section>
    <section class="noi-dung">
        <form class="lct-form" id="nhan_tin">
            <article>
                <ul>
                    <li>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="text" name="TenTaiKhoanNguoiNhan" id="ten_tai_khoan_nguoi_nhan" data-validate="bat-buoc" data-input-type="goi-y" data-url="/NguoiDung/_GoiY_NhanTin" />
                            </article>
                        </section>
                    </li>
                </ul>
                <section class="khung-button">
                    <button type="submit" class="chap-nhan">
                        Vào hội thoại
                    </button>
                </section>
            </article>
        </form>
    </section>
</article>