@{
    ViewData["TieuDe"] = "Đăng ký";
    Layout = "~/Views/LCT/Khung.cshtml";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/styles/LCT/Form.css" />    
}
@section Scripts {
    <script src="/Content/scripts/LCT/Form.js"></script>
}

<article class="hop-form">
    <section class="tieu-de">
        Đăng ký tài khoản LCTMoodle
        <br />
        để được trải nghiệm các khoá học bổ ích        
    </section>
    <section class="noi-dung">
        <form class="lct-form" action="#" method="post">
            <article>
                <ul>
                    <li>
                        <section class="tieu-de">
                            <label>Tên tài khoản:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="text" name="TenTaiKhoan" />
                            </article>
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>Mật khẩu:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="password" name="MatKhau" />
                            </article>
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>Nhập lại mật khẩu:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="password" />
                            </article>
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>Email:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="text" name="Email" />
                            </article>
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>Họ tên:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="text" name="HoTen" />
                            </article>
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>Ngày sinh:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input data-input-type="lct-lich" name="NgaySinh" value="" />
                            </article>
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>Địa chỉ:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="text" name="DiaChi" />
                            </article>
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>Số điện thoại:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="text" name="SoDienThoai" />
                            </article>
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>&nbsp;</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">                                
                                <input type="checkbox" name="GhiNho" data-text="Chấp nhận quy định của Mạng xã hội LCT Moodle" />                                
                            </article>
                        </section>
                    </li>                    
                </ul>
                <section class="lct-khung-button">
                    <button type="submit" class="chap-nhan">
                        Đăng Ký
                    </button>
                    <button type="reset" class="can-than">
                        Làm lại
                    </button>
                </section>
            </article>
        </form>
    </section>
</article>

