@{
    ViewData["TieuDe"] = "Đăng nhập";    
    Layout = "~/Views/LCT/Khung.cshtml";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/styles/LCT/Form.css" />    
}
@section Scripts {
    <script src="/Content/scripts/LCT/Form.js"></script>
}

<article class="hop-form">
    <section class="tieu-de">
        LCTMoodle
        <br />
        Mạng xã hội học tập của mọi người
    </section>
    <section class="noi-dung">
        <form class="lct-form" action="#" method="post">
            <article>
                <ul>
                    <li>
                        <section class="tieu-de">
                            <label>Tên tài khoản:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="text" name="TenTaiKhoan" />
                            </article>                            
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>Mật khẩu:</label>
                        </section>
                        <section class="noi-dung">
                            <article class="input">
                                <input type="password" name="TenTaiKhoan" />
                            </article>
                        </section>
                    </li>
                    <li>           
                        <section class="tieu-de">
                            <label>&nbsp;</label>
                        </section>          
                        <section class="noi-dung">
                            <article class="input">                                
                                <input type="checkbox" name="GhiNho" data-text="Ghi nhớ" />
                            </article>
                        </section>
                    </li>
                    <li>
                        <section class="tieu-de">
                            <label>&nbsp;</label>
                        </section>
                        <section class="noi-dung">                            
                                <a href="#">Quên mật khẩu?</a>                            
                        </section>
                    </li>                    
                </ul>
                <section class="lct-khung-button">
                    <button class="chap-nhan">
                        Đăng nhập
                    </button>
                </section>
            </article>
        </form>
    </section>
</article>