@model DTOLayer.NguoiDungDTO
@using Helpers
@using LCTMoodle.LCTView
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Người Dùng", "/NguoiDung/Xem/" + Session["NguoiDung"],
        "Đổi mật khẩu", "/NguoiDung/DoiMatKhau"
    };

    int? maNguoiDung = Session["NguoiDung"] as int?;
    bool coQuyenCapNhatThongTin, coQuyenQuanLyNguoiDung;
    string[] dsQuyen;

    if (maNguoiDung.HasValue)
    {
        dsQuyen = QuyenView.layDSQuyen("ND", 0, maNguoiDung);
        coQuyenCapNhatThongTin = true;
    }
    else
    {
        dsQuyen = null;
        coQuyenCapNhatThongTin = coQuyenQuanLyNguoiDung = false;
    }

    coQuyenQuanLyNguoiDung = QuyenHelper.co(dsQuyen, "QLNguoiDung");

    if (coQuyenCapNhatThongTin || coQuyenQuanLyNguoiDung)
    {
        List<string> chucNang = new List<string>();
        if (coQuyenCapNhatThongTin)
        {
            chucNang.Add("Cập nhật thông tin cá nhân");
            chucNang.Add("href='/NguoiDung/Sua/" + maNguoiDung + "'");
        }
        if (coQuyenQuanLyNguoiDung)
        {
            chucNang.Add("Quản lý người dùng");
            chucNang.Add("href='/NguoiDung/QuanLyNguoiDung/'");
            chucNang.Add("Danh sách người dùng bị chặn");
            chucNang.Add("href='/NguoiDung/DanhSachNguoiDungBiChan/'");
        }
        ViewData["ChucNang"] = chucNang;
    }
}

@section Styles {
    <link rel="stylesheet" href="/Index.css/NguoiDung/" />
}

@section Scripts {
    <script type="text/javascript" src="/DoiMatKhau.js/NguoiDung"></script>
}

@if (Model != null)
{
    <article class="hop-form hop-2-vien">
        <section class="tieu-de">Đổi mật khẩu</section>
        <section class="noi-dung">
            <article>
                <form class="lct-form" id="doi_mat_khau" data-ma="@Model.ma">
                    <article>
                        <ul>
                            <li>
                                <section class="tieu-de">
                                    <label>Tên tài khoản:</label>
                                </section>
                                <section class="noi-dung">
                                    <label class="ten-tai-khoan-kich-hoat">@Model.tenTaiKhoan</label>
                                    <input type="hidden" name="TenTaiKhoan" value="@Model.tenTaiKhoan" />
                                </section>
                            </li>
                            <li>
                                <section class="tieu-de">
                                    <label>Mật khẩu cũ:</label>
                                </section>
                                <section class="noi-dung">
                                    <article class="input">
                                        <input type="password" name="MatKhauCu" data-validate="bat-buoc" />
                                    </article>
                                </section>
                            </li>
                            <li>
                                <section class="tieu-de">
                                    <label>Mật khẩu mới:</label>
                                </section>
                                <section class="noi-dung">
                                    <article class="input">
                                        <input type="password" name="MatKhauMoi" id="MatKhauMoi" data-validate="bat-buoc" />
                                    </article>
                                </section>
                            </li>
                            <li>
                                <section class="tieu-de">
                                    <label>Nhập lại mật khẩu mới:</label>
                                </section>
                                <section class="noi-dung">
                                    <article class="input">
                                        <input type="password" name="NhapLaiMatKhauMoi" id="NhapLaiMatKhauMoi" data-validate="bat-buoc" />
                                    </article>
                                </section>
                            </li>
                        </ul>
                        <section class="khung-button">
                            <button type="submit" class="chap-nhan">
                                Đổi mật khẩu
                            </button>
                        </section>
                    </article>
                </form>
            </article>
        </section>
    </article>
}
else
{
    <div>Không có người dùng tồn tại</div>
}