@{
    ViewData["Title"] = "Người Dùng";
    Layout = "~/Views/LCT/Khung.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="/Content/styles/NguoiDung/Index.css" />
}
@section Scripts {
    
}

<section class="hop hop-2-vien">    
    <article class="noi-dung khung-tren">
        <div class="hinh-dai-dien">
            <img src="/Content/images/user-avatar-01.jpg" />
        </div>
        <div class="thong-tin-nguoi-dung">
            <div class="ten-nguoi-dung">PenguinBlue-Chip</div>
            <div class="loai-nguoi-dung">Người dùng</div>
        </div>
    </article>
</section>
<section class="hop hop-1-vien" >  
    <section class="tieu-de">Thông tin cơ bản</section>
    <section class="noi-dung khung-duoi">
        <div class="dong-noi-dung">
            <div class="tieu-de">Tên đăng nhập</div>
            <div class="noi-dung" data-change="TenDangNhap">PenguinBlue-Chip</div>
            <a href="javascript:void(0)" class="chuc-nang pe-7s-pen" data-edit="TenDangNhap"></a>
        </div> 
        <div class="dong-noi-dung">
            <div class="tieu-de">Mật khẩu</div>
            <div class="noi-dung" data-change="TenDangNhap">*****</div>
            <a href="javascript:void(0)" class="chuc-nang pe-7s-pen" data-edit="TenDangNhap"></a>
        </div>
        <div class="dong-noi-dung">
            <div class="tieu-de">Email</div>
            <div class="noi-dung" data-change="TenDangNhap">penguinbluechip@gmail.com</div>
            <a href="javascript:void(0)" class="chuc-nang pe-7s-pen" data-edit="TenDangNhap"></a>
        </div>       
    </section>
</section>