@{
    ViewData["Title"] = "Phục hồi mật khẩu";
    Layout = "~/Views/LCT/Khung.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="/Index.css/NguoiDung/" />
}

@section Scripts {
    <script type="text/javascript" src="/PhucHoiMatKhau.js/NguoiDung/"></script>
}

<article class="hop-form hop-2-vien">
    <section class="tieu-de">Phục hồi mật khẩu</section>
    <section class="noi-dung">
        <article>
            <form class="lct-form" id="phuc_hoi_mat_khau">
                <article>
                    <ul>
                        <li>
                            <section class="tieu-de">
                                <label>Tên tài khoản:</label>
                            </section>
                            <section class="noi-dung">
                                <article class="input">
                                    <input type="text" name="TenTaiKhoan" data-validate="bat-buoc" />
                                </article>
                            </section>
                        </li>
                        <li>
                            <section class="tieu-de">
                                <label>Email:</label>
                            </section>
                            <section class="noi-dung">
                                <article class="input">
                                    <input type="text" name="Email" data-validate="bat-buoc email" />
                                </article>
                            </section>
                        </li>
                        <li class="loi-dan">
                            Mật khẩu cấp 2 là mật khẩu được gửi kèm khi kích hoạt tài khoản của bạn
                        </li>
                        <li>
                            <section class="tieu-de">
                                <label>Mật khẩu cấp 2:</label>
                            </section>
                            <section class="noi-dung">
                                <article class="input">
                                    <input type="password" name="MatKhauCap2" id="MatKhauCap2" data-validate="bat-buoc" />
                                </article>
                            </section>
                        </li>
                    </ul>
                    <section class="khung-button">
                        <button type="submit" class="chap-nhan">
                            Gửi yêu cầu
                        </button>
                    </section>
                </article>
            </form>
        </article>
    </section>
</article>