
@{
    ViewBag.Title = "TinNhan";
    Layout = "~/Views/LCT/Khung.cshtml";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/TinNhan.css/NguoiDung" />
}

@section Scripts {
}

<article class="khung-tin-nhan">
    <section class="hinh-dai-dien"></section>
    <section class="noi-dung">
        <div class="chi-tiet">bla bla bla ...</div>
        <div class="nguoi-gui">lbc - 8/7/2015</div>
    </section>
</article>