@using DTOLayer;
@using LCTMoodle.LCTView;
@model List<TinNhanDTO>
@{
    ViewBag.Title = "TinNhan";
    Layout = "~/Views/LCT/Khung.cshtml";
    ViewData["DieuHuong"] = new List<string>()
    {
        "Tin Nhắn", "/NguoiDung/TinNhan/" + Session["NguoiDung"],
    };

    List<string> chucNang = new List<string>();    
    {
        chucNang.Add("Nhắn tin");
        chucNang.Add("data-chuc-nang=\"nhan-tin\"");
    }
    ViewData["ChucNang"] = chucNang;
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/TinNhan.css/NguoiDung" />
}

@section Scripts {
    <script src="/TinNhan.js/NguoiDung"></script>
}

@if (Model == null)
{
    <p class="empty">Bạn chưa có tin nhắn</p>
}
else
{
    <article class="hop">
        <section class="tieu-de">Danh sách tin nhắn</section>
        <section class="noi-dung khung-bao-tin-nhan">
            @foreach (var tinNhan in Model)
            {
                @Html.Partial("~/Views/NguoiDung/_Item_DanhSachTinNhan.cshtml", tinNhan);
            }
        </section>
    </article>
}