@using DTOLayer;
@using LCTMoodle.LCTView;
@model List<TinNhanDTO>
@{
    ViewBag.Title = "TinNhan";
    Layout = "~/Views/LCT/Khung.cshtml";
    ViewData["DieuHuong"] = new List<string>()
    {
        "Tin Nhắn", "/NguoiDung/TinNhan/" + Session["NguoiDung"],
    };
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="/TinNhan.css/NguoiDung" />
}

@section Scripts {
}

@if (Model == null)
{
    <p class="empty">Bạn chưa có tin nhắn</p>
}
else
{
    <article class="hop">
        <section class="tieu-de">Danh sách tin nhắn</section>
        <section class="noi-dung khung-bao-tin-nhan">
            @foreach (var tinNhan in Model)
            {
                NguoiDungDTO nguoiHienThi = new NguoiDungDTO();
                nguoiHienThi = (tinNhan.nguoiGui.ma == (int)Session["NguoiDung"] ? tinNhan.nguoiNhan : tinNhan.nguoiGui );
                
                <a href="/NguoiDung/ChiTietTinNhan/@nguoiHienThi.tenTaiKhoan">
                    <article class="khung-tin-nhan">
                        <section class="hinh-dai-dien">
                            @if (nguoiHienThi.hinhDaiDien == null)
                            {
                                <img src="/HinhDaiDienMacDinh.png/NguoiDung" />
                            }
                            else
                            {
                                @NguoiDungView.hinhDaiDien(nguoiHienThi)
                            }
                        </section>
                        <section class="noi-dung">
                            <div class="chi-tiet">@tinNhan.noiDung</div>
                            @if (nguoiHienThi == null)
                            {
                                <div class="nguoi-gui">không xác định</div>
                            }
                            else
                            {
                                <div class="nguoi-gui">                                            
                                    @(nguoiHienThi.ho + " " + nguoiHienThi.tenLot + " " + nguoiHienThi.ten) - @View.HienThiThoiGian(tinNhan.thoiDiemGui)
                                </div>
                            }
                        </section>
                    </article>
                </a>
            }
        </section>
    </article>
}
