.khung-binh-luan {
    padding: 0 10px;
}

    .khung-binh-luan:after {
        content: '';
        display: block;
        clear: both;
        margin-top: -10px;
        height: 10px;
    }

    .khung-binh-luan .khung-danh-sach .muc-binh-luan {
        display: flex;
        position: relative;
        margin: 10px 0;
    }

        .khung-binh-luan .khung-danh-sach .muc-binh-luan .trai {
            min-width: 35px;
            padding-right: 5px;
        }

            .khung-binh-luan .khung-danh-sach .muc-binh-luan .trai .hinh-dai-dien,
            .khung-binh-luan .khung-danh-sach .muc-binh-luan .trai img {
                height: 35px;
                width: 35px;
            }

            .khung-binh-luan .khung-danh-sach .muc-binh-luan .phai .nguoi-dung {
                font-weight: bold;
                display: inline;
            }

            .khung-binh-luan .khung-danh-sach .muc-binh-luan .phai .nguoi-dung a {
                color: #333;
            }

            .khung-binh-luan .khung-danh-sach .muc-binh-luan .phai .noi-dung {
                display: inline;
                color: #333;
            }

            .khung-binh-luan .khung-danh-sach .muc-binh-luan .phai .thong-tin {
                display: block;
            }

                .khung-binh-luan .khung-danh-sach .muc-binh-luan .phai .thong-tin .thoi-gian {
                    color: #888;
                    font-size: 11px;
                }
    .khung-binh-luan .khung-form {
        margin: 10px 0;
    }
