.khung-giao-trinh {
    position: relative;
}

.khung-giao-trinh .td:nth-child(1),
.khung-giao-trinh .td:nth-child(3) {
    width: 25%;
}

.khung-giao-trinh .td:nth-child(2) {
    width: 50%;
}

.khung-giao-trinh.keo .item-giao-trinh:not(.keo) {
    color: #eee;
}

    .khung-giao-trinh .tao-giao-trinh-form .tao-giao-trinh-form {
        display: table-footer-group;
    }

    .khung-giao-trinh .tao-giao-trinh-form .khung-button {
        padding: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: calc(100% - 1.989px);
        background-color: transparent;
        border: 0;
    }