.khung-giao-trinh {
    position: relative;
    margin-bottom: 38px;
}

.khung-giao-trinh .td:nth-child(1),
.khung-giao-trinh .td:nth-child(3) {
    width: 25%;
}

.khung-giao-trinh .td:nth-child(2) {
    width: 50%;
}

.khung-giao-trinh.keo .item-giao-trinh:not(.keo) {
    color: #eee;
}

    .khung-giao-trinh .tao-giao-trinh-form .khung-button {
        padding: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: transparent;
        border: 0;
    }

        .khung-giao-trinh .tao-giao-trinh-form .khung-button button {
            background-color: #fafafa;
        }