@model DTOLayer.ChuongTrinhDTO

<section class="tr item-chuong-trinh" data-doi-tuong="item-chuong-trinh" data-ma="@Model.ma">
    <section class="td"></section>
    <section class="td">
        @Model.baiHoc
    </section>
    <section class="td">
        @Model.noiDung
    </section>
    <section class="td" style="position: relative;">
        @Model.thoiGian
        <section class="khung-chuc-nang-lct trai">
            <ul data-doi-tuong="cngt-@Model.ma">
                <li>
                    <a data-chuc-nang="xoa">Xóa bài học</a>
                </li>
            </ul>
            <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cngt-@Model.ma">
                <i class="pe-7f-config"></i>
            </button>
        </section>
    </section>
</section>
