@model List<DTOLayer.ChuongTrinhDTO>

@{
    var khoaHoc = ViewData["KhoaHoc"] as DTOLayer.KhoaHocDTO;
    ViewData["TieuDe"] = "Soạn giáo trình - " + khoaHoc.ten;
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Khóa học của tôi", "/KhoaHoc",
        khoaHoc.ten, "/KhoaHoc/" + khoaHoc.ma,
        "Soạn giáo trình", "/ChuongTrinh/" + khoaHoc.ma
    };
}
@section Styles {
    <link href="/Index.css/ChuongTrinh" rel="stylesheet" />
}
@section Scripts {
    <script src="/Index.js/ChuongTrinh"></script>
    <script>
        maKhoaHoc = '@khoaHoc.ma';
    </script>
}

<article class="hop hop-2-vien">
    <section class="tieu-de">
        Soạn giáo trình
    </section>
    <section class="noi-dung">
        <article style="border: none;">
            <article id="khung_giao_trinh" class="lct-bang khung-giao-trinh">
                <section class="thead">
                    <article class="tr">
                        <section class="th"></section>
                        <section class="th">Công việc</section>
                        <section class="th">Mô tả</section>
                        <section class="th">Thời gian</section>
                    </article>
                </section>
                <section class="tbody">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            @Html.Partial("~/Views/ChuongTrinh/_Item.cshtml", item)
                        }
                    }
                </section>
                <form id="tao_giao_trinh_form" class="lct-form tao-giao-trinh-form tfoot" data-an-rang-buoc>
                    <section class="tr">
                        <section class="td"></section>
                        <section class="td">
                            <input type="hidden" name="KhoaHoc" value="@khoaHoc.ma" />
                            <article class="input">
                                <input data-validate="bat-buoc" type="text" name="CongViec" placeholder="Công việc" />
                            </article>
                        </section>
                        <section class="td">
                            <article class="input">
                                <textarea name="MoTa" placeholder="Mô tả" style="height: 20px;"></textarea>
                            </article>
                        </section>
                        <section class="td">
                            <article class="input">
                                <input type="text" name="ThoiGian" placeholder="Thời gian" />
                            </article>
                            <section class="khung-button">
                                <button type="submit" class="chap-nhan">
                                    Thêm
                                </button>
                            </section>
                        </section>
                    </section>
                </form>
            </article>
        </article>
    </section>
</article>