@using LCTMoodle.LCTView
@using Helpers
@model List<DTOLayer.ChuongTrinhDTO>

@{
    var maNguoiDung = Session["NguoiDung"] as int?;
    
    var khoaHoc = ViewData["KhoaHoc"] as DTOLayer.KhoaHocDTO;
    ViewData["TieuDe"] = "Soạn chương trình - " + khoaHoc.ten;
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        khoaHoc.ten, "/KhoaHoc/" + khoaHoc.ma,
        "Chương trình khóa học", "/ChuongTrinh/" + khoaHoc.ma
    };

    List<string> chucNang = new List<string>();
    string[] dsQuyen;
    bool coQuyenQLChuongTrinh;

    if (maNguoiDung.HasValue)
    {
        dsQuyen = QuyenView.layDSQuyen("KH", khoaHoc.ma.Value);

        coQuyenQLChuongTrinh = QuyenHelper.co(dsQuyen, "QLChuongTrinh");
    }
    else
    {
        dsQuyen = null;
        coQuyenQLChuongTrinh = false;
    }

    chucNang.Add("Nội dung khóa học");
    chucNang.Add("href='/KhoaHoc/" + khoaHoc.ma + "'");

    if (QuyenHelper.co(dsQuyen, "QLQuyen"))
    {
        chucNang.Add("Quản lý quyền");
        chucNang.Add("href='/QuanlyQuyen/KH/" + khoaHoc.ma + "'");
    }

    if (QuyenHelper.co(dsQuyen, "QLCotDiem"))
    {
        chucNang.Add("Quản lý bảng điểm");
        chucNang.Add("href='/KhoaHoc/Tao-BangDiem/" + khoaHoc.ma + "'");
    }

    chucNang.Add("Xem điểm khóa học");
    chucNang.Add("href='/KhoaHoc/Xem-BangDiem/" + khoaHoc.ma + "'");

    ViewData["ChucNang"] = chucNang;
}
@section Styles {
    <link href="/Index.css/ChuongTrinh" rel="stylesheet" />
}
@section Scripts {
    <script src="/Index.js/ChuongTrinh"></script>
    <script>
        maKhoaHoc = '@khoaHoc.ma';
    </script>
}

<article class="hop hop-2-vien">
    <section class="tieu-de">
        Chương trình khóa học
    </section>
    <section class="noi-dung">
        <article style="border: none;">
            <article id="khung_giao_trinh" class="lct-bang khung-giao-trinh" style="@(coQuyenQLChuongTrinh ? "margin-bottom: 38px;" : null)">
                <section class="thead">
                    <article class="tr">
                        <section class="th"></section>
                        <section class="th">Bài học</section>
                        <section class="th">Nội dung</section>
                        <section class="th">Thời gian</section>
                    </article>
                </section>
                <section class="tbody">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            @Html.Partial("~/Views/ChuongTrinh/_Item.cshtml", item, new ViewDataDictionary()
                            {
                                { "DSQuyen", dsQuyen },
                                { "MaKhoaHoc", khoaHoc.ma.Value }
                            });
                        }
                    }
                </section>
                @if (coQuyenQLChuongTrinh)
                {
                    <form id="tao_giao_trinh_form" class="lct-form tao-giao-trinh-form tfoot" data-an-rang-buoc>
                        <section class="tr">
                            <section class="td"></section>
                            <section class="td">
                                <input type="hidden" name="MaKhoaHoc" value="@khoaHoc.ma" />
                                <article class="input">
                                    <input data-validate="bat-buoc" type="text" name="BaiHoc" placeholder="Bài học" />
                                </article>
                            </section>
                            <section class="td">
                                <article class="input">
                                    <textarea name="NoiDung" placeholder="Nội dung" style="height: 20px;"></textarea>
                                </article>
                            </section>
                            <section class="td">
                                <article class="input">
                                    <input type="text" name="ThoiGian" placeholder="Thời gian" />
                                </article>
                                <section class="khung-button">
                                    <button type="submit" class="chap-nhan">
                                        Thêm
                                    </button>
                                </section>
                            </section>
                        </section>
                    </form>
                }
            </article>
        </article>
    </section>
</article>