<article class="hop hop-1-vien">
    <section class="tieu-de">
        Danh sách bài tập đã nộp
    </section>
    <section class="noi-dung khung-danh-sach-nop">
        <section class="so-luong">
            <span>
                Đã có 41 người nộp bài
            </span>
        </section>
        <section class="khung-danh-sach">
            <ul>
                <li>
                    <section class="trai">
                        <article class="hinh-dai-dien">
                            <img src="#" />
                        </article>
                    </section>
                    <section class="phai">
                        <section class="thong-tin">
                            <a class="nguoi-nop" href="#">Lê Bình Chiêu</a>
                            <span class="thoi-gian">30 phút trước</span>
                        </section>
                        <section class="bai-nop">
                            <a href="#">
                                <img src="#" />
                                <span>asdf.asdf</span>
                            </a>
                        </section>
                    </section>
                </li>
                <li>
                    <section class="trai">
                        <article class="hinh-dai-dien">
                            <img src="#" />
                        </article>
                    </section>
                    <section class="phai">
                        <section class="thong-tin">
                            <a class="nguoi-nop" href="#">Lê Bình Chiêu</a>
                            <span class="thoi-gian">30 phút trước</span>
                        </section>
                        <section class="bai-nop">
                            <a href="#">
                                <img src="#" />
                                <span>asdf.asdf</span>
                            </a>
                        </section>
                    </section>
                </li>
            </ul>
        </section>
    </section>
</article>
