@model List<Data.PhamVi>

<li data-doi-tuong="muc" data-loai="cay-he-thong" data-ma="PhamVi">
    <a data-chuc-nang="mo-nut">
        Chọn phạm vi
    </a>
    <ul data-doi-tuong="danh-sach-muc" class="nut-con">
        @foreach (Data.PhamVi phamVi in Model)
        {
            @Html.Partial("~/Views/ChuDe/Khung/_Cay_Con_HeThong_Item.cshtml", phamVi)
        }
    </ul>
</li>