@model Data.PhamVi

<li data-doi-tuong="muc" data-loai="ds-pham-vi" data-ma="@Model.ma">
    <section class="mo-ta">
        <img src="/@Model.hinh/ChuDe/MacDinh">
        <p>
            @Model.moTa
        </p>
    </section>
    <a class="ten" data-chuc-nang="mo-nut">
        @Model.ten
    </a>
</li>