@model DTOLayer.BinhLuanViewDTO

<li class="muc-binh-luan">
    <section class="trai">
        <article class="hinh-dai-dien">
            <img src="#" />
        </article>
    </section>
    <section class="phai">
        <section class="nguoi-dung">
            <a href="#">Lê Bình Chiêu</a>
        </section>
        <section class="noi-dung">
            @Model.noiDung
        </section>
        <section class="thong-tin">
            <span class="thoi-gian">18 giờ trước</span>
        </section>
    </section>
</li>