@{
    var ketQua = BUSLayer.BinhLuanBUS.layTheoDoiTuong((string)ViewData["LoaiDoiTuong"], (int)ViewData["MaDoiTuong"]);
    var danhSachBinhLuan = ketQua.trangThai == 0 ? ketQua.ketQua as List<DTOLayer.BinhLuanDTO> : null;
}

<section data-doi-tuong="khung-binh-luan" class="khung-binh-luan">
    <section class="khung-danh-sach">
        <ul data-doi-tuong="danh-sach">
            @if (danhSachBinhLuan != null)
            {
                foreach (var binhLuan in danhSachBinhLuan)
                {
                    @Html.Partial("~/Views/BinhLuan/_Item.cshtml", binhLuan);
                }
            }
        </ul>
    </section>
    <section class="khung-form">
        @Html.Partial("~/Views/BinhLuan/_Form.cshtml", null, ViewData)
    </section>
</section>