@{
    var ketQua = BUSLayer.BinhLuanBUS.layTheoDoiTuong((string)ViewData["LoaiDoiTuong"], (int)ViewData["MaDoiTuong"]);
    var danhSachBinhLuan = ketQua.trangThai == 0 ? ketQua.ketQua as List<DTOLayer.BinhLuanDTO> : null;

    bool coQuyenBinhLuan, coQuyenXoa, coQuyenSua;
    
    if (Session["NguoiDung"] != null)
    {
        coQuyenBinhLuan = ViewData.ContainsKey("CoQuyenBinhLuan") && (bool)ViewData["CoQuyenBinhLuan"];
        coQuyenXoa = ViewData.ContainsKey("CoQuyenXoa") && (bool)ViewData["CoQuyenXoa"];
        coQuyenSua = ViewData.ContainsKey("CoQuyenSua") && (bool)ViewData["CoQuyenSua"];
    }
    else
    {
        coQuyenXoa = coQuyenSua = coQuyenBinhLuan = false;
    }
    
    ViewData["CoQuyenXoa"] = coQuyenXoa;
    ViewData["CoQuyenSua"] = coQuyenSua;    
}

<section data-doi-tuong="khung-binh-luan" class="khung-binh-luan">
    <section class="khung-danh-sach">
        <ul data-doi-tuong="danh-sach">
            @if (danhSachBinhLuan != null)
            {
                foreach (var binhLuan in danhSachBinhLuan)
                {
                    @Html.Partial("~/Views/BinhLuan/_Item.cshtml", binhLuan, ViewData);
                }
            }
        </ul>
    </section>
    @if (coQuyenBinhLuan)
    {
        <section class="khung-form">
            @Html.Partial("~/Views/BinhLuan/_Form.cshtml", null, ViewData)
        </section>   
    }
</section>