<article class="hop hop-1-vien">
    <section class="tieu-de">
        Thêm nhóm người dùng
    </section>
    <form id="them_nhom_form" class="noi-dung lct-form">
        <input type="hidden" name="PhamVi" value="HT" />
        <ul>
            <li>
                <section class="tieu-de">
                    <label>
                        Tên nhóm
                    </label>
                </section>
                <section class="noi-dung">
                    <article class="input">
                        <input data-validate="bat-buoc" type="text" name="Ten" placeholder="Tên của nhóm là gì?" />
                    </article>
                </section>
            </li>
            <li>
                <section class="tieu-de">
                    <label>
                        Mô tả
                    </label>
                </section>
                <section class="noi-dung">
                    <article class="input">
                        <textarea name="MoTa" placeholder="Nhóm cho phép thực hiện những gì?"></textarea>
                    </article>
                </section>
            </li>
        </ul>
        <section class="khung-button">
            <button type="submit" class="chap-nhan">
                Tạo
            </button>
        </section>
    </form>
</article>