@using LCTMoodle.LCTView
@model DTOLayer.NguoiDungDTO

<li data-doi-tuong="item-nguoi-dung" class="item" data-ma="@Model.ma">
    <img src="/boy.png/" />
    @NguoiDungView.link(Model)
    <section class="khung-chuc-nang-lct">
        <ul data-doi-tuong="cnnd-@Model.ma">
            <li>
                <a data-chuc-nang="xoa-khoi-nhom">Xóa khỏi nhóm</a>
            </li>
        </ul>
        <button data-chuc-nang="tat-mo" data-mo-doi-tuong="cnnd-@Model.ma">
            <i class="pe-7f-config"></i>
        </button>
    </section>
</li>