@using LCTMoodle.LCTView
@using Helpers
@{
    Layout = "~/Views/LCT/Khung.cshtml";


    var danhSachNhom = ViewData["DanhSachNhom"] as List<DTOLayer.NhomNguoiDungDTO>;
    var danhSachQuyen = ViewData["DanhSachQuyen"] as List<DTOLayer.QuyenDTO>;

    DTOLayer.KhoaHocDTO khoaHoc = ViewData["KhoaHoc"] as DTOLayer.KhoaHocDTO;

    ViewData["TieuDe"] = "Quản lý quyền khóa học - " + khoaHoc.ten;

    ViewData["DieuHuong"] = new List<string>()
    {
        khoaHoc.ten, "/KhoaHoc/" + khoaHoc.ma,
        "Quản lý quyền", "/QuanLyQuyen/KH/" + khoaHoc.ma
    };

    List<string> chucNang = new List<string>();

    chucNang.Add("Danh sách thành viên");
    chucNang.Add("href='/KhoaHoc/DanhSachThanhVien/" + khoaHoc.ma + "'");

    var dsQuyen = QuyenView.layDSQuyen("KH", khoaHoc.ma.Value);

    chucNang.Add("Chương trình khóa học");
    chucNang.Add("href='/KhoaHoc/ChuongTrinh/" + khoaHoc.ma + "'");

    if (QuyenHelper.co(dsQuyen, "QLCotDiem"))
    {
        chucNang.Add("Quản lý bảng điểm");
        chucNang.Add("href='/KhoaHoc/Tao-BangDiem/" + khoaHoc.ma + "'");
    }

    chucNang.Add("Xem điểm khóa học");
    chucNang.Add("href='/KhoaHoc/Xem-BangDiem/" + khoaHoc.ma + "'");

    ViewData["ChucNang"] = chucNang;
}
@section Styles {
    <link href="/QuanLy.css/Quyen" rel="stylesheet" />
}
@section Scripts {
    <script src="/QuanLy.js/Quyen"></script>    
    <script>
        _PhamViQuanLy = _PhamViHienTai = 'KH';
        _DoiTuongHienTai = _DoiTuongQuanLy = '@khoaHoc.ma';
    </script>
}

<article class="hop">
    <section class="tieu-de">
        Quản lý quyền khóa học
    </section>
    <section class="noi-dung">
        <article class="khung-chua">
            <section class="khung-tren">
                <section class="khung-nhom">
                    <section class="khung-tim-them lct-form">
                        <section class="input tim">
                            <input type="text" placeholder="Tìm nhóm" />
                        </section>
                        <section class="them">
                            <a data-chuc-nang="them-nhom" class="button chap-nhan"><i></i></a>
                        </section>
                    </section>
                    <section class="khung-danh-sach">
                        <ul id="danh_sach_nhom" class="danh-sach">
                            @if (danhSachNhom != null)
                            {
                                foreach(var nhom in danhSachNhom)
                                {
                                    @Html.Partial("~/Views/Quyen/_Item_Nhom.cshtml", nhom)
                                }
                            }
                        </ul>
                    </section>
                </section>
                <section id="khung_nguoi" class="khung-nguoi tat" data-chi-an>
                    <section class="khung-tim lct-form">
                        <article class="input">
                            <input id="tim_nguoi_input" type="text" placeholder="Tìm người dùng" />
                        </article>
                    </section>
                    <section class="khung-danh-sach">
                        <ul id="danh_sach_nguoi" class="danh-sach"></ul>
                        <section>Không có người dùng</section>
                    </section>
                </section>
            </section>
            <section id="khung_quyen" class="khung-duoi tat" data-chi-an>
                <section class="khung-pham-vi">
                    <ul class="danh-sach">
                        <li class="item chon">
                            <a data-chuc-nang="chon-pham-vi" data-ma="KH">Khóa học</a>
                        </li>
                    </ul>
                </section>
                <section class="khung-quyen">
                    <section id="mo_ta_pham_vi" class="mo-ta">
                        Tùy chỉnh quyền cho nhóm
                    </section>
                    <ul id="danh_sach_quyen" class="danh-sach lct-form">
                        @Html.Partial("~/Views/Quyen/_DanhSach_Quyen.cshtml", danhSachQuyen)
                    </ul>
                    <section class="mo-ta-duoi">
                        Quyền được cập nhật ngay lập tức
                    </section>
                </section>
            </section>
        </article>
    </section>
</article>