@model List<DTOLayer.ChuDeDTO>
@*
    ViewData: 
        Ma: Mã của chủ đề
        Ten: Tên của chủ đề
*@

<li data-doi-tuong="muc" data-loai="cay-nut" data-ma="@ViewData["Ma"]">
    <a data-chuc-nang="mo-nut" data-doi-tuong="ten">
        @ViewData["Ten"]
    </a>
    <ul data-doi-tuong="danh-sach-muc" class="nut-con">
        @if (Model != null)
        {
            foreach (DTOLayer.ChuDeDTO chuDe in Model)
            {
                @Html.Partial("~/Views/ChuDe/_Cay_Con_Item.cshtml", chuDe)
            }
        }
    </ul>
</li>