@model List<DTOLayer.ChuDeDTO>
@{
    bool coQuyenTao = ViewData["QuyenTao"] != null && (bool)ViewData["QuyenTao"];

    var chuDe = ViewData["ChuDe"] == null ? null : ViewData["ChuDe"] as DTOLayer.ChuDeDTO;
}

<section id="khung_chu_de" class="noi-dung lct-cay" data-ma="0" data-chon>
    <section class="cay">
        <ul id="khung_cay" class="nut">
            @if (chuDe == null)
            {
                @Html.Partial("~/Views/ChuDe/_Cay_Item.cshtml", Model, new ViewDataDictionary()
                {
                    { "Ma", 0 },
                    { "Ten", "Danh sách" }
                })   
            }
            else
            {
                @Html.Partial("~/Views/ChuDe/_Cay_Item.cshtml", Model, new ViewDataDictionary()
                {
                    { "Ma", chuDe.ma },
                    { "Ten", chuDe.ten }
                }) 
            }
        </ul>
    </section>
    <section class="con">
        <ul id="khung_danh_sach" class="khung-danh-sach">@Html.Partial("~/Views/ChuDe/_DanhSach.cshtml", Model, new ViewDataDictionary() { { "CoChon", true } })</ul>
        <a data-chuc-nang="tao">
            <i class="pe-7s-plus"></i>
            Hiện chưa có nút con, hãy tạo một nút con mới
        </a>
    </section>
    <section class="khung-chuc-nang">
        <ul>
            <li>
                <a class="pe-7s-tools"></a>
            </li>
            <li>
                <a data-chuc-nang="chon-nut-ht" class="pe-7s-check">
                    <u></u>
                </a>
            </li>   
            @if (coQuyenTao)
            {
                <li>
                    <a data-chuc-nang="tao" class="pe-7s-plus">
                        <u></u>
                    </a>
                </li>   
            }
        </ul>
    </section>
</section>
