@{
    ViewData["TieuDe"] = "Quản lý chủ đề";
    Layout = "~/Views/LCT/Khung.cshtml";

    var danhSachPhamVi = Data.PhamVi.layDanhSach();
}
@section Styles {
}
@section Scripts {
    <script src="/QuanLy.js/ChuDe/"></script>
}

<article class="hop">
    <section class="tieu-de">
        Quản lý chủ đề
    </section>
    <section id="khung_quan_ly" class="noi-dung lct-cay" data-ma data-pham-vi>
        <section class="cay">
            <ul id="khung_cay" class="nut">
                @Html.Partial("~/Views/ChuDe/Khung/_Cay_HeThong_Item.cshtml", Data.PhamVi.layDanhSach())
            </ul>
        </section>
        <section class="con">
            <ul id="khung_danh_sach" class="khung-danh-sach">
                @Html.Partial("~/Views/ChuDe/Khung/_DanhSach_PhamVi.cshtml", Data.PhamVi.layDanhSach())
            </ul>
            <a href="javascript:void(0)" data-chuc-nang="tao">
                <i class="pe-7s-plus"></i>
                Hiện chưa có nút con, hãy tạo một nút con mới
            </a>
        </section>
        <section class="khung-chuc-nang">
            <ul>
                <li>
                    <a class="pe-7s-tools"></a>
                </li>
                <li>
                    <a data-chuc-nang="tao" class="pe-7s-plus">
                        <u></u>
                    </a>
                </li>
            </ul>
        </section>
    </section>
</article>