/*#region Câu hỏi */

.cau-hoi {    
    display: flex;
    flex-direction: row;
}

    /*#region Thông tin người đăng */

    .cau-hoi > .thong-tin {
        display: flex;
        flex-direction: column;   
        min-width: 80px;
        max-width: 80px;
        padding: 10px;
        border-right: 1px solid #f5f5f5;
        background-color: #f8f8f8;
    }
        .cau-hoi > .thong-tin > .nguoi-dung {            
            display: flex;
            flex-direction: column;     
            margin-bottom: 10px;       
        }
            .cau-hoi > .thong-tin > .nguoi-dung > .hinh-dai-dien {                
                width: 80px;
                height: 80px;
                background-color: #ff6a00; 
            }
                .cau-hoi > .thong-tin > .nguoi-dung > .hinh-dai-dien > img {                
                    width: 100%;
                }
            .cau-hoi > .thong-tin > .nguoi-dung > span {
                width: 100%;
                text-align: center;
            }
        .cau-hoi > .thong-tin > .cau-hoi {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
            .cau-hoi > .thong-tin > .cau-hoi > .diem-so {
                text-align: center;
                font-size: 25px;
                font-weight: bold;
            }
            .cau-hoi > .thong-tin > .cau-hoi > i {
                text-align: center;
                font-size: 50px;
                cursor: pointer;
                font-weight: bold;
                height: 20px;
                line-height: 20px;
            }
        .cau-hoi > .thong-tin > .thoi-gian {
            margin-top: 10px;
            font-size: 11px;
            text-align: center;
            color: #bbb;
        }

    /*#endregion */
    
    /*#region Nội dung câu hỏi */
    
    .cau-hoi > .chi-tiet {
        width: 100%;  
        padding: 10px;
    }
        .cau-hoi > .chi-tiet > .noi-dung {

        }
            .cau-hoi > .chi-tiet > .tieu-de {            
                font-size: 18px;
            }
            .cau-hoi > .chi-tiet > .noi-dung {
                padding-top: 5px;
            }
            .cau-hoi > .chi-tiet > .nut-tra-loi {
                margin-top: 10px;                
            }
                .cau-hoi > .chi-tiet > .nut-tra-loi > a {
                    color: #08c;
                }

    /*#endregion */
                
/*#endregion */

/*#region Trả lời */

.tra-loi {
    border: 1px solid #eee;
    background-color: #fff;
    margin-bottom: 10px;
}
    .tra-loi .chi-tiet {
        padding: 10px;
    }
    .tra-loi .thong-tin {
        display: flex;
        flex-direction: row;
        border-top: 1px solid #f5f5f5;
        background-color: #f8f8f8;
    }
        .tra-loi .thong-tin .diem {
            display: flex;
            flex-direction: column;
            padding: 0;
            min-width: 80px;
            max-width: 80px;
            padding: 10px;
        }
            .tra-loi .thong-tin .diem span {
                text-align: center;
                font-size: 25px;
                font-weight: bold;
            }
            .tra-loi .thong-tin .diem i {
                text-align: center;
                font-size: 50px;
                cursor: pointer;
                font-weight: bold;
                height: 20px;
                line-height: 20px;
            }
        .tra-loi .thong-tin .thong-tin-them {
            text-align: left;
            color: #bbb;
            padding: 10px;
        }
            .tra-loi .thong-tin .thong-tin-them .thoi-gian {

            }
                .tra-loi .thong-tin .thong-tin-them .thoi-gian span {
                    color: #333;
                }
            .tra-loi .thong-tin .thong-tin-them .nguoi-dang {

            }
                .tra-loi .thong-tin .thong-tin-them .nguoi-dang a {
                    color: #333;
                    font-weight: bold;
                }

/*#endregion */

/*#region Custom */

.hop-1-vien:not(:first-child) {
    margin-bottom: 10px;
}

.hop-form > .noi-dung {
    width: 100%;
}

/*#endregion */