.cau-hoi {
    padding: 10px;
}
    .cau-hoi > ul {

    }
        .cau-hoi > ul > li {            
            margin-bottom: 10px;
            height: 40px;
            display: flex;
            flex-direction: row;
        }
        .cau-hoi > ul > li:last-child {
            margin-bottom: 0;
        }
        .cau-hoi > ul > li:nth-child(2n+1) {
            background-color: #f4f4f4;
        }
            .cau-hoi > ul > li > .thong-tin {
                border: 1px solid #ddd;
                width: 200px;
                display: flex;
                flex-direction: row;
            }
                .cau-hoi > ul > li > .thong-tin > .diem,
                .cau-hoi > ul > li > .thong-tin > .tra-loi
                {
                    width: 50%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    color: #555;
                }
                    .cau-hoi > ul > li > .thong-tin > .diem > .so-diem,
                    .cau-hoi > ul > li > .thong-tin > .tra-loi > .so-diem {

                    }
                    .cau-hoi > ul > li > .thong-tin > .diem > .tieu-de,
                    .cau-hoi > ul > li > .thong-tin > .tra-loi > .tieu-de {

                    }                                  
            .cau-hoi > ul > li > .chi-tiet {
                width: 100%;
                padding: 0 10px;                
            }
                .cau-hoi > ul > li > .chi-tiet > .tieu-de {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;                    
                }
                .cau-hoi > ul > li > .chi-tiet > .thong-tin-dang {
                    font-size: 11px;
                    color: #999;
                    text-align: right;
                    font-style: italic;
                }