/*#region khung muc Hỏi đáp */

.muc-hoi-dap {    
    display: flex;
    flex-direction: row;
    position: relative;
}

    /*#region Thông tin người đăng */

    .muc-hoi-dap .thong-tin {
        display: flex;
        flex-direction: column;   
        min-width: 80px;
        max-width: 80px;
        padding: 10px;
        border-right: 1px solid #f5f5f5;
        background-color: #f8f8f8;
    }
        .muc-hoi-dap .thong-tin .nguoi-dung {            
            display: flex;
            flex-direction: column;     
            margin-bottom: 10px;       
        }
            .muc-hoi-dap .thong-tin .nguoi-dung .hinh-dai-dien {                
                width: 80px;
                height: 80px;
                background-color: #ff6a00; 
            }
                .muc-hoi-dap .thong-tin .nguoi-dung .hinh-dai-dien img {                
                    width: 100%;
                }
            .muc-hoi-dap .thong-tin .nguoi-dung span {
                width: 100%;
                text-align: center;
            }
        .muc-hoi-dap .thong-tin .diem-so {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
            .muc-hoi-dap .thong-tin .diem-so .so {
                text-align: center;
                font-size: 25px;
                font-weight: bold;
            }
            .muc-hoi-dap .thong-tin .diem-so i {
                text-align: center;
                font-size: 50px;
                cursor: pointer;
                font-weight: bold;
                height: 20px;
                line-height: 20px;
            }
        .muc-hoi-dap .thong-tin .thoi-gian {
            margin-top: 10px;
            font-size: 11px;
            text-align: center;
            color: #bbb;
        }

    /*#endregion */
    
    /*#region Nội dung câu hỏi */
    
    .muc-hoi-dap .chi-tiet {
        width: 100%;  
        padding: 10px;
    }
        .muc-hoi-dap .chi-tiet .noi-dung {

        }
            .muc-hoi-dap .chi-tiet .tieu-de {            
                font-size: 18px;
            }
            .muc-hoi-dap .chi-tiet .noi-dung {
                padding-top: 5px;
            }            

    /*#endregion */
                
/*#endregion */

/*#region Câu hỏi */

.cau-hoi {

}
    .cau-hoi .chi-tiet .tieu-de {
        font-weight: bold;
    }
    .cau-hoi .chi-tiet .noi-dung {
        padding-top: 10px;
    }


/*#endregion */

/*#region Trả lời */

    /*#region Danh sách trả lời*/

    .danh-sach-tra-loi {

    }
        .danh-sach-tra-loi + * {
            display: none;
            text-align:center;
            border: 1px solid #ddd;
            background-color: #fff;
            color: #555;
            padding: 10px;
        }
        .danh-sach-tra-loi:empty + * {
            display: block;
        }

    /*#endregion*/

    /*#region Item Trả Lời*/

    .tra-loi {
        border-color: #e5e5e5 !important;
    }

    /*#endregion*/

    /*#region Trạng thái*/

    .binh-thuong {
        border-left: 3px solid #ccc;
    }
    .duyet {
        border-left: 3px solid #08c;
    }

    /*#endregion*/

/*#endregion */

/*#region Form trả lời */


/*#endregion */

/*#region Khung chức năng */

.khung-chuc-nang-lct {
    right: 10px;
    top: 10px;
}

/*#endregion */