/*#region khung item Hỏi đáp */

.item-hoi-dap {    
    display: flex;
    flex-direction: row;
}

    /*#region Thông tin người đăng */

    .item-hoi-dap > .thong-tin {
        display: flex;
        flex-direction: column;   
        min-width: 80px;
        max-width: 80px;
        padding: 10px;
        border-right: 1px solid #f5f5f5;
        background-color: #f8f8f8;
    }
        .item-hoi-dap > .thong-tin > .nguoi-dung {            
            display: flex;
            flex-direction: column;     
            margin-bottom: 10px;       
        }
            .item-hoi-dap > .thong-tin > .nguoi-dung > .hinh-dai-dien {                
                width: 80px;
                height: 80px;
                background-color: #ff6a00; 
            }
                .item-hoi-dap > .thong-tin > .nguoi-dung > .hinh-dai-dien > img {                
                    width: 100%;
                }
            .item-hoi-dap > .thong-tin > .nguoi-dung > span {
                width: 100%;
                text-align: center;
            }
        .item-hoi-dap > .thong-tin > .diem-so {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
            .item-hoi-dap > .thong-tin > .diem-so > .so {
                text-align: center;
                font-size: 25px;
                font-weight: bold;
            }
            .item-hoi-dap > .thong-tin > .diem-so > i {
                text-align: center;
                font-size: 50px;
                cursor: pointer;
                font-weight: bold;
                height: 20px;
                line-height: 20px;
            }
        .item-hoi-dap > .thong-tin > .thoi-gian {
            margin-top: 10px;
            font-size: 11px;
            text-align: center;
            color: #bbb;
        }

    /*#endregion */
    
    /*#region Nội dung câu hỏi */
    
    .item-hoi-dap > .chi-tiet {
        width: 100%;  
        padding: 10px;
    }
        .item-hoi-dap > .chi-tiet > .noi-dung {

        }
            .item-hoi-dap > .chi-tiet > .tieu-de {            
                font-size: 18px;
            }
            .item-hoi-dap > .chi-tiet > .noi-dung {
                padding-top: 5px;
            }            

    /*#endregion */
                
/*#endregion */

/*#region Câu hỏi */



/*#endregion */

/*#region Trả lời */

.tra-loi {
    border-color: #e5e5e5 !important;
}
    .binh-thuong {
        border-left: 3px solid #ccc;
    }
    .duyet {
        border-left: 3px solid #08c;
    }

/*#endregion */

/*#region Form trả lời */

.form-tra-loi .noi-dung {
    width: 100%;
}

/*#endregion */