/*#start Đăng nhập*/
.hop-dang-nhap {
    display: block;
    margin: 0 auto;    
    width: 100%;
    padding: 20px 10px;
}
    .hop-dang-nhap > .tieu-de {
        display: block;
        clear: both;
    }
        .hop-dang-nhap > .tieu-de > h1 {
            text-align: center;            
            font-size: 2em;   
            font-family: 'Tahoma';        
            font-weight: normal;
            color: #004263; 
        }
    .hop-dang-nhap > .noi-dung {
        margin: 30px auto;
        width: 50%;       
        clear: both;
    }           
/*endregion*/