.khung-xac-nhan {

}

    .khung-xac-nhan tbody {
    }
    
    .khung-xac-nhan tbody tr[data-thiet-lap="tk"],
    .khung-xac-nhan tbody tr[data-thiet-lap="e"] {
        background-color: #08c;
    }
    
    .khung-xac-nhan tbody tr[data-thiet-lap="b"] {
        background-color: #000;
    }

    .khung-xac-nhan tbody td:nth-child(1) {
        width: 1%;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        text-align: center;
    }
    
        .khung-xac-nhan tbody tr[data-thiet-lap="tk"] td,
        .khung-xac-nhan tbody tr[data-thiet-lap="e"] td,
        .khung-xac-nhan tbody tr[data-thiet-lap="b"] td {
            color: #fff;
        }
    
        .khung-xac-nhan tbody tr:not([data-thiet-lap]) td.loi {
            background-color: #e00;
            color: #fff;
        }

    .khung-xac-nhan tbody td:nth-child(2) {
        width: 10%;
    }

    .khung-xac-nhan tbody td:nth-child(3) {
        width: 10%;
        
    }

    .khung-xac-nhan tbody td:nth-child(4) {
        width: 10%;
        
    }

    .khung-xac-nhan tbody td:nth-child(5) {
        width: 20%;
        
    }

    .khung-xac-nhan tbody td:nth-child(6) {
        width: 20%;
        
    }

    .khung-xac-nhan tbody td:nth-child(7) {
        width: 20%;
        
    }

.khung-xac-nhan .khung-chuc-nang {
    text-align: center;
}