/*#region Khung trên */

.khung-tren {
    display: flex;    
    padding: 5px;
}

    .khung-tren .hinh-dai-dien {
        max-height: 100px;    
        min-height: 100px;
        max-width: 100px;
        min-width: 100px;    
        position: relative;    
    }
    
        .khung-tren .hinh-dai-dien img {
            height: 100%;
            width: 100%;
            position: absolute;
        }

    .khung-tren .thong-tin-nguoi-dung {
        margin-left: 10px;
        width: 100%;
    }
        .khung-tren .thong-tin-nguoi-dung .ten-nguoi-dung {
            line-height: 50px;
            color: #555;
            font-size: 2em;
        }
        .khung-tren .thong-tin-nguoi-dung .loai-nguoi-dung {
            color: #888; 
        }

/*#endregion */

/*#region Khung dưới */

.khung-duoi {
    display: flex;
    flex-direction: column;
}   
    .khung-duoi .dong-noi-dung {
        display: flex;
        position: relative;
        padding: 5px;
        margin: 5px 0;
    }   
        .khung-duoi .dong-noi-dung .tieu-de {
            color: #888;
            min-width: 150px;
            max-width: 150px;
        }
        .khung-duoi .dong-noi-dung .noi-dung {
            font-weight: bold;
            width: 100%;
            color: #555;
        }
        .khung-duoi .dong-noi-dung .chuc-nang:before {
            position: absolute;
            top: calc(50% - 10px);
            right: 0;
            font-size: 13px;
            width: 20px;
            height: 20px;
            display: block;
            line-height: 20px;
            text-align: center;
            opacity: 0.2;
            transition: 0.5s;            
        }
            .khung-duoi .dong-noi-dung:hover .chuc-nang:before {
                opacity: 1;                
            }

            .khung-duoi .dong-noi-dung .chuc-nang:hover:before {
                color: #08c;
            }
/*#endregion */

/*#region Kích hoạt tài khoản */

.ten-tai-khoan-kich-hoat {
    line-height: 30px;
    font-weight:bold;    
}

/*#endregion */

/*#region Đổi mật khẩu */



/*#endregion */