.khung-tin-nhan {
    padding: 10px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-bottom: 5px;
    transition: 0.5s;
}
    .khung-tin-nhan:hover {
        background-color: #fcfcfc;
    }

    .khung-tin-nhan .hinh-dai-dien {
        width: 42px;
        height: 42px;
        max-height: 42px;
        max-width: 42px;
    }
        .khung-tin-nhan img {
            width: 100%;
            height: 100%;
        }

    .khung-tin-nhan .noi-dung {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
    }
        .khung-tin-nhan .chi-tiet {

        }
        .khung-tin-nhan .nguoi-gui {
            font-size: 11px;
            color: #888;
            margin-top: 5px;
        }

/*#region Thẻ a */

.khung-bao-tin-nhan a:hover {
    text-decoration: none;
}

/*#endregion */