/*#region General */

.empty {
    padding: 10px;
    text-align: center;
    color: #888;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
}

/*#endregion */

/*#region Khung chọn hiển thị */

.khung-chon-hien-thi {
    margin-bottom: 20px;
}

    .khung-chon-hien-thi ul {
        display: flex;
        position: relative;
    }

        /*.khung-chon-hien-thi ul:after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: -3px;
            left: 0;
            background-color: #ddd;
        }*/            

    .khung-chon-hien-thi li {
        order: 1;
        opacity: 0.8;
        transition: 0.5s;
    }         
        .khung-chon-hien-thi li:after {
            content: '';
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: -3px;
            left: 0;
        }

            .nhiem-vu-moi.active:after {
                background-color: #6b00b2;
                display: block;
            }
            .bai-giang-moi.active:after {
                background-color: #0c0;
                display: block;
            }
            .bai-tap-moi.active:after {
                background-color: #e00;
                display: block;
            }

            .khung-chon-hien-thi li:hover {
                opacity: 1;
            }

    .khung-chon-hien-thi a {
        padding: 7px 15px;
        display: block;
        color: #fff;
    }

        .khung-chon-hien-thi a:hover {
            text-decoration: none;
        }

        .khung-chon-hien-thi .bai-giang-moi a {
              background-color: #0c0;
        }

        .khung-chon-hien-thi .nhiem-vu-moi a {
              background-color: #6b00b2;
        }

        .khung-chon-hien-thi .bai-tap-moi a {
              background-color: #e00;
        }

    .khung-chon-hien-thi i {
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: bottom;
        background-image: url('/KhoaHoc.png/KhoaHoc');
        background-position-x: -48px;
    }

        .khung-chon-hien-thi .bai-giang-moi i {
            background-position-y: -96px;
        }
        
        .khung-chon-hien-thi .nhiem-vu-moi i {
            background-position-y: -48px;
        }

        .khung-chon-hien-thi .bai-tap-moi i {
            background-position-y: -24px;
        }

    .khung-chon-hien-thi span {
        font-size: 15px;
    }
    
        [data-hien-thi="bai-giang-moi"] .khung-chon-hien-thi .bai-giang-moi a,
        [data-hien-thi="nhiem-vu-moi"] .khung-chon-hien-thi .nhiem-vu-moi a,
        [data-hien-thi="bai-tap-moi"] .khung-chon-hien-thi .bai-tap-moi a {
            border-right: 2px solid #f5f5f5;
            border-top: 2px solid #f5f5f5;
            margin-top: -8px;
            padding-top: 15px;
            font-weight: bold;
        }

    .khung-chon-hien-thi a.clicked {
        border-top: 2px solid #f5f5f5;
        margin-top: -5px;
        padding-top: 10px;
        font-weight: bold;
    }
/*#endregion */

/*#region Khung hiển thị*/

.khung-hien-thi {

}
    .khung-hien-thi .noi-dung {
        display: none;
    }
    .khung-hien-thi .noi-dung.active {
        display: block;
    }

/*#endregion*/

/*#region Khung bài tập cần hoàn thành */

.khung-bt-can-hoan-thanh {
    
}

    .khung-bt-can-hoan-thanh li {
        border-bottom: 1px solid #eee;
        padding: 5px;
    }

        .khung-bt-can-hoan-thanh li:last-child {
            border-bottom: 0;
        }

    .khung-bt-can-hoan-thanh .tieu-de {
        font-weight: bold;
    }
    
    .khung-bt-can-hoan-thanh .thoi-diem {
        font-family: Berlin;
        margin-top: 2px;
    }
    
        .khung-bt-can-hoan-thanh .thoi-diem:after {
            content: '';
            display: block;
            clear: both;
        }
    
        .khung-bt-can-hoan-thanh .thoi-diem .tu {
            float: left;
        }

        .khung-bt-can-hoan-thanh .thoi-diem .den {
            float: right;
        }
    
    .khung-bt-can-hoan-thanh .khung-thoi-gian {
        margin-top: 3px;
        background-color: #f5f5f5;
        padding: 2px;
        border: 1px solid #f0f0f0;
    }
    
        .khung-bt-can-hoan-thanh .khung-thoi-gian .khung-tong {
            display: flex;
            height: 100%;
        }
        
            .khung-bt-can-hoan-thanh .khung-thoi-gian .khung-tong i {
                display: block;
                width: 100%;
            }

                .khung-bt-can-hoan-thanh .khung-thoi-gian .khung-tong i:nth-last-child(odd) {
                    background-color: #f90;
                    opacity: .05;
                }

        .khung-bt-can-hoan-thanh .khung-thoi-gian .thoi-gian {
            position: relative;
            height: 10px;
        }

        .khung-bt-can-hoan-thanh .khung-thoi-gian .thoi-gian .thoi-gian-da-qua {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background-color: #08c;
        }

/*#endregion */

/*#region Lịch sử câu hỏi */

.lich-su-cau-hoi {

}
    .lich-su-cau-hoi ul {

    }
    .lich-su-cau-hoi li {
        border: 1px solid #ddd;
        margin-bottom: 5px;
    }
    .lich-su-cau-hoi a {
        display: block;
        padding: 10px;
        color: #666;
        background-color: #fcfcfc;
    }
        .lich-su-cau-hoi a:hover {
            text-decoration: none;
            background-color: #f4f4f4;
        }

/*#endregion */