@model List<DTOLayer.BaiVietBaiGiangViewDTO>

<section class="hop">
    <section class="tieu-de">
        Danh sách bài viết
    </section>
    <ul id="danh_sach_bai_viet" class="noi-dung">
        @foreach(var baiViet in Model)
        {
            @Html.Partial("~/Views/BaiVietBaiGiang/_Item.cshtml", baiViet, ViewData);
        }
    </ul>
</section>