@model DTOLayer.BaiVietBaiGiangViewDTO

<li data-doi-tuong="muc-bai-viet" class="muc-bai-viet" data-ma=@Model.ma>
    <h2 class="tieu-de">
        <i class="pe-7s-notebook"></i>
        @Model.tieuDe
    </h2>
    <section class="khung-noi-dung">
        <section class="noi-dung">
            @Html.Raw(Model.noiDung)
        </section>
        <section class="khung-thong-tin">

        </section>
    </section>
</li>