@model List<DTOLayer.BaiVietBaiGiangDTO>

<section class="hop hop-2-vien">
    <section class="tieu-de">
        Đăng bài viết
    </section>
    @Html.Partial("~/Views/BaiVietDienDan/_Form.cshtml", null, new ViewDataDictionary() { { "MaKhoaHoc", ViewData["MaKhoaHoc"].ToString() } })
</section>

<section class="hop">
    <section class="tieu-de">
        Danh sách bài viết
    </section>
    <ul id="danh_sach_bai_viet" class="noi-dung">
        @if (Model != null)
        {
            foreach (var baiViet in Model)
            {
                @Html.Partial("~/Views/BaiVietBaiGiang/_Item.cshtml", baiViet);
            }    
        }
        
    </ul>
</section>