@using Helpers
@using LCTMoodle.LCTView
@model List<DTOLayer.BaiVietBaiGiangDTO>
@{
    if (!ViewData.ContainsKey("MaKhoaHoc"))
    {
        @:Mã khóa học không được truyền
        return;
    }
    var maKhoaHoc = (int)ViewData["MaKhoaHoc"];
    var maNguoiDung = Session["NguoiDung"] as int?;

    string[] dsQuyen;
    bool coQuyenThem;
        
    if (maNguoiDung.HasValue)
    {
        dsQuyen = QuyenView.layDSQuyen("KH", maKhoaHoc, maNguoiDung);

        coQuyenThem = QuyenHelper.co(dsQuyen, "BG_Them");
    }
    else
    {
        dsQuyen = null;
        coQuyenThem = false;
    }
}

@if (coQuyenThem)
{
    <section class="hop hop-2-vien">
        <section class="tieu-de">
            Đăng bài giảng mới
        </section>
        @Html.Partial("~/Views/BaiVietBaiGiang/_Form.cshtml", null, new ViewDataDictionary() { { "MaKhoaHoc", ViewData["MaKhoaHoc"].ToString() } })
    </section>   
}

<section class="hop">
    <section class="tieu-de">
        Danh sách bài giảng
    </section>
    <ul id="danh_sach_bai_viet" class="noi-dung">
        @if (Model != null)
        {
            foreach (var baiViet in Model)
            {
                @Html.Partial("~/Views/BaiVietBaiGiang/_Item.cshtml", baiViet, new ViewDataDictionary() { 
                    { "DSQuyen", dsQuyen }
                });
            }    
        }
    </ul>
</section>