@model DTOLayer.KhoaHocDTO

<li class="item">
    <section class="hinh-dai-dien">
        <img src="@(@Model.hinhDaiDien != null ? "/LayHinh/KhoaHoc_HinhDaiDien/" + Model.hinhDaiDien.ma : "#")" />
    </section>
    <a href="/KhoaHoc/@Model.ma" class="ten">
        <h1>@Model.ten</h1>
    </a>
</li>  
