<article class="hop">
    <section class="tieu-de">
        Bài viết nổi bật
    </section>
    <section class="noi-dung">
        <ul class="danh-sach-nhom">
            <li class="khung-nhom">
                <section class="ten-nhom">
                    <span>Bài tập</span>
                </section>
                <section class="khung-danh-sach-bai-viet">
                    <ul class="danh-sach-bai-viet">
                        <li class="bai-viet co-bieu-tuong">
                            <section class="khung-bieu-tuong">
                                <article class="bieu-tuong site-image"></article>
                            </section>
                            <section class="khung-noi-dung">
                                <section class="tieu-de">
                                    123123123123123
                                </section>
                                <section class="noi-dung">
                                    3 giờ trước - Lê Bình Chiêu 3 giờ trước - Lê Bình Chiêu 
                                    3 giờ trước - Lê Bình Chiêu 3 giờ trước - Lê Bình Chiêu 
                                    3 giờ trước - Lê Bình Chiêu 3 giờ trước - Lê Bình Chiêu 
                                    3 giờ trước - Lê Bình Chiêu 3 giờ trước - Lê Bình Chiêu 
                                    3 giờ trước - Lê Bình Chiêu 3 giờ trước - Lê Bình Chiêu 
                                </section>
                                <section class="thong-tin-dang">
                                    3 giờ trước - Lê Bình Chiêu
                                </section>
                            </section>
                        </li>
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                20/3/2014 - Lê Bình Chiêu
                            </section>
                        </li>
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                20/3/2014 - Lê Bình Chiêu
                            </section>
                        </li>
                    </ul>
                </section>
            </li>
            <li class="khung-nhom">
                <section class="ten-nhom">
                    <span>Bài tập</span>
                </section>
                <section class="khung-danh-sach-bai-viet">
                    <ul class="danh-sach-bai-viet">
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                12312312312 312 31 231 23
                            </section>
                        </li>
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                12312312312 312 31 231 23
                            </section>
                        </li>
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                12312312312 312 31 231 23
                            </section>
                        </li>
                    </ul>
                </section>
            </li>
            <li class="khung-nhom">
                <section class="ten-nhom">
                    <span>Bài tập</span>
                </section>
                <section class="khung-danh-sach-bai-viet">
                    <ul class="danh-sach-bai-viet">
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                12312312312 312 31 231 23
                            </section>
                        </li>
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                12312312312 312 31 231 23
                            </section>
                        </li>
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                12312312312 312 31 231 23
                            </section>
                        </li>
                    </ul>
                </section>
            </li>
            <li class="khung-nhom">
                <section class="ten-nhom">
                    <span>Bài tập</span>
                </section>
                <section class="khung-danh-sach-bai-viet">
                    <ul class="danh-sach-bai-viet">
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                12312312312 312 31 231 23
                            </section>
                        </li>
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                12312312312 312 31 231 23
                            </section>
                        </li>
                        <li class="bai-viet">
                            <section class="tieu-de">
                                123123123123123
                            </section>
                            <section class="thong-tin-dang">
                                12312312312 312 31 231 23
                            </section>
                        </li>
                    </ul>
                </section>
            </li>
        </ul>
    </section>
</article>