@using Helpers
@using LCTMoodle.LCTView
@model List<DTOLayer.KhoaHocDTO>

@{    
    Layout = "~/Views/LCT/Khung.cshtml";
    
    ViewData["TieuDe"] = "Danh sách khóa học";

    string[] dsQuyen = QuyenView.layDSQuyen("KH");

    bool
        coQuyenQLNoiDungKH = QuyenHelper.co(dsQuyen, "QLNoiDung");

    List<string> dsChucNang = new List<string>();
    
    if (coQuyenQLNoiDungKH)
    {
        dsChucNang.Add("Tạo khóa học");
        dsChucNang.Add("/KhoaHoc/Tao");
    }
    
    if (dsChucNang.Count != 0)
    {
        ViewData["ChucNang"] = dsChucNang;
    }
}

@section Styles {
    <link href="/DanhSach.css/KhoaHoc" rel="stylesheet" />
}

@section Scripts {
    <script src="/TimKiem.js/LCT"></script>
    <script src="/DanhSach.js/KhoaHoc"></script>
    <script src="/Khung.js/ChuDe/"></script>
}

@if (Model != null)
{
    <section class="hop">
        <section class="tieu-de">
            Tìm kiếm khóa học
        </section>
        <section class="noi-dung">
            <section id="khung_tim" class="khung-tim lct-form">
                <section class="line">
                    <article style="width: 100%" class="input">
                        <input data-doi-tuong="ten-tim" type="text" placeholder="Tên khóa học bạn muốn tìm" />
                    </article>
                    <article style="width: 100%" class="input">
                        <input data-doi-tuong="chu-de-tim" data-input-type="chu-de" placeholder="Chủ đề bạn muốn tìm" />
                    </article>
                    <a data-chuc-nang="tat-mo-chu-de" style="min-width: 90px; margin-left: 5px;" class="button inline">Chọn chủ đề</a>
                </section>
            </section>
        </section>
    </section>
    <section class="hop">
        <section class="tieu-de">
            Danh sách khóa học
        </section>
        <section class="noi-dung khung-khoa-hoc">
            <ul id="danh_sach" class="danh-sach">@Html.Partial("~/Views/KhoaHoc/_DanhSach.cshtml", Model)</ul>
            <section class="thong-bao">Không có khóa học phù hợp</section>           
            @Html.Partial("~/Views/LCT/_PhanTrang.cshtml", null, new ViewDataDictionary()
            {
                { "TongSoLuong", LCTHelper.layGiaTri<int>(Model[0].duLieuThem, "TongSoDong", 0) },
                { "SoLuongMoiTrang", Data.GiaTri.soLuongKhoaHocMoiTrang }
            })
        </section>
    </section>
}

