@model List<DTOLayer.KhoaHocDTO>

@{    
    Layout = "~/Views/LCT/Khung.cshtml";
    
    ViewData["TieuDe"] = "Danh sách khóa học";
}

@section Styles {
    <link href="/DanhSach.css/KhoaHoc" rel="stylesheet" />
}

@section Scripts {
    <script src="/DanhSach.js/KhoaHoc"></script>
    <script src="/Khung.js/ChuDe/"></script>
}

@if (Model != null)
{
    <section class="hop">
        <section class="tieu-de">
            Tìm kiếm khóa học
        </section>
        <section class="noi-dung khung-khoa-hoc">
            <section id="form_tim" class="khung-tim lct-form">
                <section class="line">
                    <article style="width: 100%" class="input">
                        <input id="tim_ten" type="text" placeholder="Tên khóa học bạn muốn tìm" />
                    </article>
                    <article style="width: 100%" class="input">
                        <input id="tim_chu_de" data-input-type="chu-de" placeholder="Chủ đề bạn muốn tìm" />
                    </article>
                    <a data-chuc-nang="tat-mo-chu-de" style="min-width: 90px; margin-left: 5px;" class="button inline">Chọn chủ đề</a>
                </section>
            </section>
            <section id="chu_de" style="margin-top: 5px;"></section>
        </section>
    </section>
    <section class="hop">
        <section class="tieu-de">
            Danh sách khóa học
        </section>
        <section class="noi-dung khung-khoa-hoc">
            <ul id="danh_sach" class="danh-sach">
                @Html.Partial("~/Views/KhoaHoc/_DanhSach.cshtml", Model)
            </ul>
            <section class="thong-bao">Không có khóa học phù hợp</section>
        </section>
    </section>
}

