@{
    ViewData["TieuDe"] = "Tạo khóa học";
    Layout = "~/Views/LCT/Khung.cshtml";
}

@section Styles {
}

@section Scripts {
    <script src="/Khung.js/ChuDe/"></script>
    <script src="/Tao.js/KhoaHoc/"></script>
}

<article class="hop hop-2-vien">
    <section class="tieu-de">
        Tạo khóa học
    </section>
    <form id="tao_khoa_hoc_form" class="noi-dung lct-form" data-validate-auto>
        <article>
            <ul>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tên
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-validate="bat-buoc" type="text" name="Ten" placeholder="Tên khóa học của bạn là gì?" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Mô tả
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <textarea data-validate="bat-buoc" name="MoTa" placeholder="Hãy mô tả về khóa học của bạn"></textarea>
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Chủ đề
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-validate="bat-buoc" data-input-type="chu-de" name="MaChuDe" placeholder="Khóa học của bạn thuộc chủ đề nào?" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Ảnh đại diện
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-validate="bat-buoc" type="file" name="MaHinhDaiDien" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Quản lý khóa học
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-validate="bat-buoc" data-input-type="goi-y" data-url="/NguoiDung/_GoiY_QuanLyKhoaHoc" name="MaNguoiQuanLy[]" placeholder="Ai là người quản lý khóa học này?" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Khóa học thời hạn
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-chuc-nang="tat-mo" data-mo="khoa-hoc-thoi-han" name="CoHan" type="checkbox" value="" data-text="Khóa học có thời hạn" />
                        </article>
                    </section>
                </li>
                <li data-doi-tuong="khoa-hoc-thoi-han">
                    <section class="tieu-de">
                        <label>
                            Thời hạn
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-validate="bat-buoc" data-input-type="ngay-gio" name="ThoiDiemHetHan" data-gio-placeholder="Giờ" data-ngay-placeholder="Ngày" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Khóa học đăng ký
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-chuc-nang="tat-mo" data-mo="khoa-hoc-dang-ky" name="CanDangKy" type="checkbox" value="" data-text="Khóa học đăng ký" />
                            <input data-chuc-nang="tat-mo" data-mo="khoa-hoc-thoi-han-dang-ky" data-doi-tuong="khoa-hoc-dang-ky" name="CoHanDangKy" type="checkbox" value="" data-text="Đăng ký có thời hạn" />
                        </article>
                    </section>
                </li>
                <li data-doi-tuong="khoa-hoc-thoi-han-dang-ky">
                    <section class="tieu-de">
                        <label>
                            Thời hạn đăng ký
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-validate="bat-buoc" data-input-type="ngay-gio" name="HanDangKy" data-gio-placeholder="Giờ" data-ngay-placeholder="Ngày" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Phí tham gia
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-validate="so-nguyen" type="text" name="PhiThamGia" placeholder="Phí tham gia khóa học (bỏ qua nếu không có phí)" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Chế độ riêng tư
                        </label>
                    </section>
                    <section class="noi-dung">
                        <section class="input">
                            <select name="CheDoRiengTu">
                                @foreach (var cheDoRiengTu in Data.CheDoRiengTu.layDanhSach())
                                {
                                    <option value="@cheDoRiengTu.ma" @(cheDoRiengTu.macDinh ? "data-mac-dinh" : null) >@cheDoRiengTu.ten</option>
                                }
                            </select>
                        </section>
                    </section>
                </li>
            </ul>
            <section class="khung-button">
                <button type="submit" class="chap-nhan">
                    Tạo khóa học
                </button>
            </section>
        </article>
    </form>
</article>

