@{
    ViewData["TieuDe"] = "TaoKhoaHoc";
    Layout = "~/Views/LCT/Khung.cshtml";
}

<article class="hop">
    <section class="tieu-de">
        Tạo khóa học
    </section>
    <form action="#" method="post" class="noi-dung lct-form">
        <ul>
            <li>
                <section class="tieu-de">
                    <label>
                        Tiêu đề:
                    </label>
                </section>
                <section class="noi-dung">
                    <div class="input">
                        <input type="text" name="name" value="123" />
                    </div>
                </section>
            </li>
            <li>
                <section class="tieu-de">
                    <label>
                        Tiêu đề:
                    </label>
                </section>
                <section class="noi-dung">
                    <div class="input">
                        <textarea name="name"></textarea>
                    </div>
                </section>
            </li>
            <li>
                <section class="tieu-de">
                    <label>
                        Tiêu đề:
                    </label>
                </section>
                <section class="noi-dung">
                    <div class="input">
                        <label class="lct-checkbox-radio-label">
                            <input type="checkbox" name="name" value="" /><u></u>Chơi
                        </label>
                        <label class="lct-checkbox-radio-label">
                            <input type="checkbox" name="name" value="" /><u></u>Chơi
                        </label>
                    </div>
                </section>
            </li>
            <li>
                <section class="tieu-de">
                    <label>
                        Tiêu đề:
                    </label>
                </section>
                <section class="noi-dung">
                    <div class="input">
                        <label class="lct-checkbox-radio-label">
                            <input type="radio" name="name" value="" /><u></u>Chơi
                        </label>
                        <label class="lct-checkbox-radio-label">
                            <input type="radio" name="name" value="" /><u></u>Chơi
                        </label>
                    </div>
                </section>
            </li>
            <li>
                <section class="tieu-de">
                    <label>
                        Tiêu đề:
                    </label>
                </section>
                <section class="noi-dung">
                    <div class="input">
                        <label class="lct-file-label">
                            <input type="file" name="name" value=" " /><u></u>Chọn tập tin
                        </label>                        
                    </div>
                </section>
            </li>
        </ul>
        <section class="lct-khung-button">
            <button>
                <u></u><u></u><u></u><u></u>
                Alô
            </button>
            <button>
                <u></u><u></u><u></u><u></u>
                Alô 123 123 
            </button>
            <button>
                <u></u><u></u><u></u><u></u>
                Alô 123 123 123 112
            </button>
        </section>
    </form>
</article>

