@model DTOLayer.KhoaHocViewDTO
@{
    ViewData["TieuDe"] = Model.ten;
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Khóa học của tôi", "/KhoaHoc",
        Model.ten, "/KhoaHoc/" + Model.ma
    };

    ViewData["ChucNang"] = new List<string>()
    {
        "Bài giảng", "href=?hienthi=baigiang",
        "Bài tập", "href='?hienthi=baitap'",
        "Diễn đàn", "href='?hienthi=diendan'",
        "Đăng ký vào khóa học", "href=javascript:void(0) data-chuc-nang=xoa-khoa-hoc data-value=" + Model.ma
    };
}

@section Styles {
    <link href="/Xem.css/KhoaHoc/" rel="stylesheet" />
    <link href="/Khung.css/BinhLuan/" rel="stylesheet" />
}

@section Scripts {
    <script>
        var maKhoaHoc = '@Model.ma';
        var tieuDe = '@Html.Raw(Model.ten)' + ' - LCTMoodle';
    </script>
    <script src="/Xem.js/KhoaHoc/"></script>
    <script src="/Khung.js/BinhLuan/"></script>
}

<section class="khung-danh-sach-nhom"></section>
<section id="khung_hien_thi"></section>