@model DTOLayer.KhoaHocDTO
@{
    Layout = "~/Views/LCT/Khung.cshtml";

    var thanhVien = ViewData["ThanhVien"] as DTOLayer.KhoaHoc_NguoiDungDTO;
        
    ViewData["TieuDe"] = Model.ten;

    ViewData["DieuHuong"] = new List<string>()
    {
        Model.ten, "/KhoaHoc/" + Model.ma
    };

    List<string> chucNang = new List<string>();
    
    //Kiểm tra thành viên để hiển thị các nút chức năng tham gia/rời nhóm
    if (thanhVien == null)
    {
        if (Model.canDangKy)
        {
            if (!Model.hanDangKy.HasValue || Model.hanDangKy > DateTime.Now)
            {
                chucNang.Add("Đăng ký");
                chucNang.Add("data-chuc-nang='dang-ky'");
            }
        }
        else
        {
            chucNang.Add("Tham gia");
            chucNang.Add("data-chuc-nang='tham-gia'");   
        }
    }
    else
    {
        switch(thanhVien.trangThai)
        {
            case 0:
                chucNang.Add("Rời khóa học");
                chucNang.Add("data-chuc-nang='roi-kh'");
                break;
            case 1:
                chucNang.Add("Hủy đăng ký");
                chucNang.Add("data-chuc-nang='huy-dang-ky'");
                break;
            case 2:
                chucNang.Add("Xác nhận lời mời");
                chucNang.Add("data-chuc-nang='xac-nhan-moi'");
                chucNang.Add("Từ chối lời mời");
                chucNang.Add("data-chuc-nang='tu-choi-moi'");
                break;
        }
    }

    chucNang.Add("Danh sách thành viên");
    chucNang.Add("href='/KhoaHoc/DanhSachThanhVien/" + Model.ma + "'");
    chucNang.Add("Quản lý quyền");
    chucNang.Add("href='/QuanlyQuyen/KH/" + Model.ma + "'");

    ViewData["ChucNang"] = chucNang;
}

@section Styles {
    <link href="/Xem.css/KhoaHoc/" rel="stylesheet" />
    <link href="/Khung.css/BinhLuan/" rel="stylesheet" />
}

@section Scripts {
    <script src="/Xem.js/KhoaHoc/"></script>
    <script src="/Khung.js/BinhLuan/"></script>
    <script>
        maKhoaHoc = '@Model.ma';
        tieuDe = '@Html.Raw(Model.ten)' + ' - LCTMoodle';
    </script>
}

<section id="khung_chon_hien_thi" class="khung-chon-hien-thi">
    <ul>
        <li class="khung">
            <a data-chuc-nang="hien-thi" data-value="khung">
                <i></i>
                <span>Tổng quát</span>
            </a>
        </li>
        <li class="bai-giang">
            <a data-chuc-nang="hien-thi" data-value="baigiang">
                <i></i>
                <span>Bài giảng</span>
            </a>
        </li>
        <li class="bai-tap">
            <a data-chuc-nang="hien-thi" data-value="baitap">
                <i></i>
                <span>Bài tập</span>
            </a>
        </li>
        <li class="tai-lieu">
            <a data-chuc-nang="hien-thi" data-value="tailieu">
                <i></i>
                <span>Tài liệu</span>
            </a>
        </li>
        <li class="dien-dan">
            <a data-chuc-nang="hien-thi" data-value="diendan">
                <i></i>
                <span>Diễn đàn</span>
            </a>
        </li>
    </ul>
</section>
<section id="khung_hien_thi"></section>