@model DTOLayer.KhoaHocViewDTO
@{
    ViewData["TieuDe"] = Model.ten;
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Khóa học của tôi", "/KhoaHoc",
        Model.ten, "/KhoaHoc/" + Model.ma
    };

    ViewData["ChucNang"] = new List<string>()
    {
        "Bài giảng", "href=?hienthi=baigiang",
        "Bài tập", "href='?hienthi=baitap'",
        "Diễn đàn", "href='?hienthi=diendan'",
        "Đăng ký vào khóa học", "href=javascript:void(0) data-chuc-nang=xoa-khoa-hoc data-value=" + Model.ma
    };
}

@section Styles {
    <link href="/Xem.css/KhoaHoc/" rel="stylesheet" />
    <link href="/Khung.css/BinhLuan/" rel="stylesheet" />
}

@section Scripts {
    <script>
        var maKhoaHoc = '@Model.ma';
        var tieuDe = '@Html.Raw(Model.ten)' + ' - LCTMoodle';
    </script>
    <script src="/Xem.js/KhoaHoc/"></script>
    <script src="/Khung.js/BinhLuan/"></script>
}

<section id="khung_chon_hien_thi" class="khung-chon-hien-thi">
    <ul>
        <li class="khung">
            <a data-chuc-nang="hien-thi" data-value="khung">
                <i></i>
                <span>Tổng quát</span>
            </a>
        </li>
        <li class="bai-giang">
            <a data-chuc-nang="hien-thi" data-value="baigiang">
                <i></i>
                <span>Bài giảng</span>
            </a>
        </li>
        <li class="bai-tap">
            <a data-chuc-nang="hien-thi" data-value="baitap">
                <i></i>
                <span>Bài tập</span>
            </a>
        </li>
        <li class="dien-dan">
            <a data-chuc-nang="hien-thi" data-value="diendan">
                <i></i>
                <span>Diễn đàn</span>
            </a>
        </li>
    </ul>
</section>
<section id="khung_hien_thi"></section>