@model DTOLayer.KhoaHocViewDTO
@{
    ViewData["TieuDe"] = "Khóa học";
    Layout = "~/Views/LCT/Khung.cshtml";

    DTOLayer.KhoaHocViewDTO khoaHoc = Model;
}

@section Styles {
    <link href="/Xem.css/KhoaHoc/" rel="stylesheet" />
    <link href="/Khung.css/BinhLuan/" rel="stylesheet" />
}

@section Scripts {
    <script>
        var maKhoaHoc = '@khoaHoc.ma';
    </script>
    <script src="/Xem.js/KhoaHoc/"></script>
    <script src="/Khung.js/BinhLuan/"></script>
}

<section class="khung-danh-sach-nhom"></section>
<section id="khung_hien_thi"></section>