@using BUSLayer
@using DTOLayer
@using Helpers
@{
    string loai = (string)ViewData["Loai"];
    int ma = (int)ViewData["Ma"];
}

<article class="hop-1-vien khung-popup-tap-tin">
    @{
        KetQua ketQua = TapTinBUS.lay(loai, ma);

        if (ketQua.trangThai == 0)
        {
            TapTinDTO tapTin = ketQua.ketQua as TapTinDTO;

            string duongDan = TapTinHelper.layDuongDan(loai, tapTin.ma + tapTin.duoi);
            if (System.IO.File.Exists(duongDan))
            {
                switch (tapTin.duoi.Substring(1))
                {
                    case "jpg":
                    case "jpeg":
                    case "png":
                        <section class="noi-dung">
                            <img src="/LayHinh/@loai/@ma" />
                        </section>
                        break;
                    case "txt":
                    <section class="noi-dung">
                        @TapTinHelper.doc_string(duongDan)
                    </section>
                        break;
                    case "cs":
                    case "css":
                    case "js":
                    case "rb":
                    case "php":
                    case "cshtml":
                    case "cpp":
                    case "html":
                    case "haml":
                    <section data-doi-tuong="khung-noi-dung" class="noi-dung" data-loai="code">
                        <pre><code>@TapTinHelper.doc_string(duongDan)</code></pre>
                    </section>
                        break;
                    default:
                    <section class="noi-dung">
                        Không hỗ trợ đọc tập tin này
                    </section>
                        break;
                }
            }
            else
            {
                <section class="noi-dung">
                    Không hỗ trợ đọc tập tin này
                </section>
            }
        }
        else
        {
            <section class="noi-dung">
                Không hỗ trợ đọc tập tin này
            </section>
        }
    }
    <section class="chuc-nang">
        <a href="/LayTapTin/@loai/@ma">Tải tập tin</a>
    </section>
</article>