@model DTOLayer.BaiVietDienDanViewDTO

<form class="noi-dung lct-form" id="tao_bai_viet_form">
    <input type="hidden" name="KhoaHoc" value="@ViewData["MaKhoaHoc"]" />
    <article>
        <ul>
            <li>
                <section class="noi-dung">
                    <article class="input">
                        <input data-validate="bat-buoc" data-chuc-nang="bat-dau-tao-bai-viet" type="text" name="TieuDe" placeholder="Tiêu đề" data-mac-dinh="@(Model != null ? Model.tieuDe : null)" />
                    </article>
                </section>
            </li>
            <li data-an>
                <section class="noi-dung">
                    <section class="input">
                        <textarea data-validate="bat-buoc" name="NoiDung" data-input-type="editor" placeholder="Nội dung" data-mac-dinh="@(Model != null ? Html.Raw(Model.noiDung) : null)"></textarea>
                    </section>
                </section>
            </li>
            <li data-an>
                <section class="noi-dung">
                    <article class="input">
                        <input type="file" name="TapTin" 
                        @if (Model != null && Model.tapTin != null) 
                        { 
                                @:data-ma-mac-dinh="@Model.tapTin.ma" data-loai-mac-dinh="BaiVietDienDan_TapTin"
                        } />
                    </article>
                </section>
            </li>
        </ul>
        <section data-an class="lct-khung-button">
            <button type="submit" class="chap-nhan">
                Cập nhật
            </button>
        </section>
    </article>
</form>