@using Helpers
@using LCTMoodle.LCTView
@model List<DTOLayer.BaiVietDienDanDTO>
@{
    if (!ViewData.ContainsKey("MaKhoaHoc"))
    {
        @:Mã khóa học không được truyền
        return;
    }
    int maKhoaHoc = (int)ViewData["MaKhoaHoc"];
    int? maNguoiDung = Session["NguoiDung"] as int?;

    string[] dsQuyen;
    bool laThanhVien;
    
    if (maNguoiDung.HasValue)
    {
        dsQuyen = QuyenView.layDSQuyen("KH", maKhoaHoc, maNguoiDung);
        
        var ketQua = BUSLayer.KhoaHoc_NguoiDungBUS.layTheoMaKhoaHocVaMaNguoiDung(maKhoaHoc, maNguoiDung.Value);
        if (ketQua.trangThai != 0)
        {
            laThanhVien = false;
        }
        else
        {
            var thanhVien = ketQua.ketQua as DTOLayer.KhoaHoc_NguoiDungDTO;
            laThanhVien = thanhVien.trangThai == 0;
        }
    }
    else 
    {
        dsQuyen = null;
        laThanhVien = false;
    }
}

@if (laThanhVien)
{
    <section class="hop hop-2-vien">
        <section class="tieu-de">
            Đăng bài viết
        </section>
        @Html.Partial("~/Views/BaiVietDienDan/_Form.cshtml", null, new ViewDataDictionary() 
        { 
            { "MaKhoaHoc", ViewData["MaKhoaHoc"] } 
        })
    </section>   
}

<section class="hop">
    <section class="tieu-de">
        Danh sách bài viết
    </section>
    <ul id="danh_sach_bai_viet" class="noi-dung danh-sach-bai-viet">
        @if (Model != null)
        {
            foreach (var baiViet in Model)
            {
                @Html.Partial("~/Views/BaiVietDienDan/_Item.cshtml", baiViet, new ViewDataDictionary()
                {
                    { "DSQuyen", dsQuyen },
                    { "LaThanhVien", laThanhVien }
                })
            }
        }
    </ul>

</section>