@{
    ViewBag.Title = "CayMau";
    Layout = "~/Views/LCT/Khung.cshtml";
}
@section Styles {
}
@section Scripts {
}

<article class="hop">
    <section class="tieu-de">
        Tiêu đề form
    </section>
    <section class="noi-dung lct-cay">
        <section class="cay">
            <ul class="nut">
                <li>
                    <a href="#">
                        a123123
                    </a>
                    <u>
                        <ul class="nut-con">
                            <li>
                                <a href="#">
                                    a123123
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                        </ul>
                    </u>
                </li>
                <li>
                    <a href="#">
                        a123123
                    </a>
                    <u>
                        <ul class="nut-con">
                            <li>
                                <a href="#">
                                    a123123
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                        </ul>
                    </u>
                </li>
                <li>
                    <a href="#">
                        a123123
                    </a>
                    <u>
                        <ul class="nut-con">
                            <li>
                                <a href="#">
                                    a123123
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                        </ul>
                    </u>
                </li>
                <li>
                    <a href="#">
                        a123123
                    </a>
                    <u>
                        <ul class="nut-con">
                            <li>
                                <a href="#">
                                    a123123
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                        </ul>
                    </u>
                </li>
                <li>
                    <a href="#">
                        a123123
                    </a>
                    <u>
                        <ul class="nut-con">
                            <li>
                                <a href="#">
                                    a123123
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                        </ul>
                    </u>
                </li>
                <li>
                    <a href="#">
                        a123123
                    </a>
                    <u>
                        <ul class="nut-con">
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                        </ul>
                    </u>
                </li>
                <li>
                    <a href="#">
                        a123123
                    </a>
                    <u>
                        <ul class="nut-con">
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    b34123424364
                                </a>
                            </li>
                        </ul>
                    </u>
                </li>
            </ul>
        </section>
        <section class="con">
            <ul class="muc">
                <li>
                    <section class="mo-ta">
                        <img src="#">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        </p>
                    </section>
                    <a href="#" class="ten" data-so-luong="8">
                        defdef
                    </a>
                    <section class="chuc-nang">
                        <i class="pe-7s-config"></i>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    Xoa chu de
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Xoa chu de
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Xoa chu de
                                </a>
                            </li>
                        </ul>
                    </section>
                </li>
                <li>
                    <section class="mo-ta">
                        <img src="#">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        </p>
                    </section>
                    <a href="#" class="ten" data-so-luong="8">
                        defdef
                    </a>
                    <section class="chuc-nang">
                        <i class="pe-7s-config"></i>
                        <ul>
                            <li>
                                <a href="javascript:void(0)">
                                    Xoa chu de
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Xoa chu de
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    Xoa chu de
                                </a>
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </section>
        <section class="khung-chuc-nang">
            <ul>
                <li>
                    <a href="javascript:void(0)" class="pe-7s-plus">
                        <u></u>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="pe-7s-plus">
                        <u></u>
                    </a>
                </li>
            </ul>
        </section>
    </section>
</article>