@{
    ViewData["TieuDe"] = "Form mẫu";
    Layout = "~/Views/LCT/Khung.cshtml";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="/Content/styles/LCT/Form.css" />
}
@section Scripts {
    <script src="/Content/scripts/LCT/Form.js"></script>
}

<article class="hop">
    <section class="tieu-de">
        Tên form
    </section>
    <form action="#" method="post" class="noi-dung lct-form">
        <article>
            <ul>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="text" name="name" value="123" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <textarea name="name"></textarea>
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="checkbox" name="name" value="" data-text="Checkbox" />
                            <input type="checkbox" name="name" value="" data-text="Checkbox" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="radio" name="name" value="" data-text="Radio" />
                            <input type="radio" name="name" value="" data-text="Radio" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="file" name="name" value="" data-text="Chọn tập tin" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Thời gian:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-input-type="lct-thoi-gian" name="name" value="" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Thời gian:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-input-type="lct-thoi-gian" name="name" value="" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Lịch:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-input-type="lct-lich" name="name" value="" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Lịch:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-input-type="lct-lich" name="name" value="" />
                        </article>
                    </section>
                </li>
            </ul>
            <section class="lct-khung-button">
                <button class="chap-nhan">
                    Đăng
                </button>
                <button class="thong-tin">
                    Trợ giúp
                </button>
                <button class="can-than">
                    Mặc định
                </button>
                <button class="nguy-hiem">
                    Xóa
                </button>
            </section>
        </article>
    </form>
</article>

