@{
    ViewData["TieuDe"] = "Form mẫu";
    Layout = "~/Views/LCT/Khung.cshtml";
}

<article class="hop">
    <section class="tieu-de">
        Tên form
    </section>
    <form action="#" method="post" class="noi-dung lct-form">
        <article>
            <ul>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="text" name="name" value="123" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <textarea name="name"></textarea>
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <label class="lct-checkbox-radio-label">
                                <input type="checkbox" name="name" value="" /><u></u>Checkbox
                            </label>
                            <label class="lct-checkbox-radio-label">
                                <input type="checkbox" name="name" value="" /><u></u>Checkbox
                            </label>
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <label class="lct-checkbox-radio-label">
                                <input type="radio" name="name" value="" /><u></u>Radio
                            </label>
                            <label class="lct-checkbox-radio-label">
                                <input type="radio" name="name" value="" /><u></u>Radio
                            </label>
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tiêu đề:
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <label class="lct-file-label">
                                <input type="file" name="name" value=" " /><u></u>Chọn tập tin
                            </label>
                        </article>
                    </section>
                </li>
            </ul>
            <section class="lct-khung-button">
                <button class="chap-nhan">
                    Đăng
                </button>
                <button class="thong-tin">
                    Trợ giúp
                </button>
                <button class="can-than">
                    Mặc định
                </button>
                <button class="nguy-hiem">
                    Xóa
                </button>
            </section>
        </article>
    </form>
</article>

