@{
    ViewData["TieuDe"] = "Form mẫu";
    Layout = "~/Views/LCT/Khung.cshtml";
}
@section Styles {

}
@section Scripts {

}

<article class="hop hop-2-vien">
    <section class="tieu-de">
        Tên form
    </section>
    <form action="#" method="post" class="noi-dung lct-form">
        <article>
            <ul>
                <li class="loi-dan">
                    Hãy nhập các thông tin sau
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Select
                        </label>
                    </section>
                    <section class="noi-dung">
                        <section class="input">
                            <select name="select">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </section>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Editor
                        </label>
                    </section>
                    <section class="noi-dung">
                        <section class="input">
                            <textarea data-validate="bat-buoc" name="name" data-input-type="editor" data-mac-dinh="Mặc định (editor)" placeholder="Hãy nhập"></textarea>
                        </section>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Select
                        </label>
                    </section>
                    <section class="noi-dung">
                        <section class="input">
                            <select name="select">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </section>
                        <section class="khung-loi">
                            123asda ds asd
                        </section>
                    </section>
                </li>
                <li class="loi-dan">
                    Hãy nhập các thông tin sau
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Text
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input disabled="disabled" type="text" name="name" data-mac-dinh="Mặc định (text)" placeholder="Hãy nhập..." />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Text
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="text" name="name" data-mac-dinh="Mặc định (text)" placeholder="Hãy nhập..." />
                            <input type="text" name="name" data-mac-dinh="Mặc định (text)" placeholder="Hãy nhập..." />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Textarea
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <textarea name="name" data-mac-dinh="Mặc định (textarea)" placeholder="Hãy nhập"></textarea>
                        </article>
                    </section>
                </li>
                <li class="thong-bao">
                    Thông tin này nên nhập chính xác
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Text & Textarea
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="text" name="name" data-mac-dinh="Mặc định (text)" placeholder="Hãy nhập..." />
                            <textarea name="name" data-mac-dinh="Mặc định (textarea)" placeholder="Hãy nhập"></textarea>
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Checkbox
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="checkbox" name="name" value="" data-text="Checkbox" data-mac-dinh />
                            <input type="checkbox" name="name" value="" data-text="Checkbox" data-mac-dinh />
                            <input type="checkbox" name="name" value="" data-text="Checkbox" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Radio
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="radio" name="name" value="" data-text="Radio" data-mac-dinh />
                            <input type="radio" name="name" value="" data-text="Radio" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Tập tin
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input type="file" name="name" value="" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Thời gian & lịch
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-input-type="lct-thoi-gian" name="name" value="" data-mac-dinh="00:00" placeholder="Chọn thời gian" />
                            <input data-input-type="lct-lich" name="name" value="" data-mac-dinh="23.12.1234" placeholder="Chọn ngày" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Thời gian
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-input-type="lct-thoi-gian" name="name" value="" data-mac-dinh="00:00" placeholder="Chọn thời gian" />
                        </article>
                    </section>
                </li>
                <li>
                    <section class="tieu-de">
                        <label>
                            Lịch
                        </label>
                    </section>
                    <section class="noi-dung">
                        <article class="input">
                            <input data-input-type="lct-lich" name="name" value="" data-mac-dinh="23.12.1234" placeholder="Chọn ngày" />
                        </article>
                    </section>
                </li>
            </ul>
            <section class="lct-khung-button">
                <button type="submit" class="chap-nhan">
                    Đăng
                </button>
                <button class="thong-tin">
                    Trợ giúp
                </button>
                <button class="can-than">
                    Mặc định
                </button>
                <button class="nguy-hiem">
                    Xóa
                </button>
            </section>
        </article>
    </form>
</article>

