@{
    ViewData["TieuDe"] = "Index";
    Layout = "~/Views/LCT/Khung.cshtml";
}

<article class="hop">
    <section class="tieu-de">
        Tên hộp
    </section>
    <section class="noi-dung">
        Nội dung
    </section>
</article>

