/*#region Khung đăng ký */

.khung-nguoi-dung {

}

    .khung-nguoi-dung .danh-sach {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .khung-nguoi-dung .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100px;
        margin: 5px;
        padding: 5px;
        border: 1px solid #ddd;
        background-color: #fff;
        position: relative;
    }
    
        .khung-nguoi-dung .item img {
            width: 50px;
            height: 50px;
        }
    
        .khung-nguoi-dung .item > a {
            font-weight: bold;
            font-size: 11px;
            color: #333;
        }
    
        .khung-nguoi-dung .item .khung-chuc-nang {
            display: inline-block;
            margin-top: 10px;
            cursor: default;
        }
    
            .khung-nguoi-dung .item .khung-chuc-nang a {
                display: inline-block;
                padding: 5px;
                border: 1px solid #ddd;
                background-color: #fafafa;
            }
    
            .khung-nguoi-dung .item .khung-chuc-nang i {
                display: block;
                width: 16px;
                height: 16px;
                background-image: url('/khoahoc.png/KhoaHoc');
                opacity: 0.8;
            }
    
                .khung-nguoi-dung .item .khung-chuc-nang a:hover i {
                    opacity: 1;
                }
    
                .khung-nguoi-dung .item .khung-chuc-nang .dong-y i {
                    background-position: -72px -0px;
                }
    
                .khung-nguoi-dung .item .khung-chuc-nang .tu-choi i,
                .khung-nguoi-dung .item .khung-chuc-nang .bo-chan i {
                    background-position: -72px -16px;
                }
    
                .khung-nguoi-dung .item .khung-chuc-nang .chan i {
                    background-position: -72px -32px;
                }

/*#endregion */
