.khung-khoa-hoc {

}

    .khung-khoa-hoc .danh-sach {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .khung-khoa-hoc .danh-sach .item {
        width: 170px;
        background-color: #fff;
        border: 1px solid #ddd;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

        .khung-khoa-hoc .danh-sach .hinh-dai-dien {
            height: 150px;
            padding: 10px 10px 0;
        }

            .khung-khoa-hoc .danh-sach .hinh-dai-dien img {
                height: 150px;
                width: 150px;
            }

        .khung-khoa-hoc .danh-sach .ten {
            padding: 5px;
            display: block;
            text-align: center;
        }

            .khung-khoa-hoc .danh-sach .ten h1 {
                font-size: 15px;
            }
            
    .khung-khoa-hoc .danh-sach + * {
        display: none;
        text-align: center;
        background-color: #fff;
        padding: 10px;
        border: 1px solid #eee;
        font-weight: bold;
        color: #555;
    }

    .khung-khoa-hoc .danh-sach:empty + * {
        display: block;
    }