/*#region Khung trên */

.khung-tren {
    display: flex;    
    padding: 5px;
}

    .khung-tren .hinh-dai-dien {
        height: 100px;
        min-width: 100px;
        max-width: 100px;
    }

        .khung-tren .hinh-dai-dien img {
            height: 100px;
            width: 100px;
        }

    .khung-tren .thong-tin {

    }

        .khung-tren .ten {
            line-height: 50px;
            color: #555;
            font-size: 25px;
        }

        .khung-tren .ds-giang-vien {
            display: inline-flex;
            flex-wrap: wrap;
        }

            .khung-tren .giang-vien {
                display: flex;
                align-items: center;
            }

                .khung-tren .giang-vien .hinh-giang-vien {
                    min-width: 35px;
                    max-width: 35px;
                    height: 35px;
                }

                    .khung-tren .giang-vien .hinh-giang-vien img {
                        width: 35px;
                        height: 35px;
                    }

/*#endregion */

/*#region Khung dưới */

.khung-duoi {

}

    .khung-duoi .dong-noi-dung {
        display: flex;
        position: relative;
        padding: 5px;
        margin: 5px 0;
    }

        .khung-duoi .dong-noi-dung .tieu-de {
            color: #888;
            min-width: 150px;
            max-width: 150px;
        }
        .khung-duoi .dong-noi-dung .noi-dung {
            font-weight: bold;
            width: 100%;
            color: #555;
        }

/*#endregion */
