/*#region Khung chọn hiển thị */

.khung-chon-hien-thi {
    margin-bottom: 20px;
}

    .khung-chon-hien-thi ul {
        display: flex;
        position: relative;
    }

        .khung-chon-hien-thi ul:after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: -3px;
            left: 0;
            background-color: #ddd;
        }

            [data-hien-thi="khung"] .khung-chon-hien-thi ul:after {
                background-color: #f90;
            }

            [data-hien-thi="bai-giang"] .khung-chon-hien-thi ul:after {
                background-color: #0c0;
            }

            [data-hien-thi="bai-tap"] .khung-chon-hien-thi ul:after {
                background-color: #e00;
            }

            [data-hien-thi="dien-dan"] .khung-chon-hien-thi ul:after {
                background-color: #08c;
            }

    .khung-chon-hien-thi li {
        order: 1;
        opacity: 0.6;
        transition: 0.5s;
    }

            [data-hien-thi="khung"] li.khung,
            [data-hien-thi="bai-giang"] li.bai-giang,
            [data-hien-thi="bai-tap"] li.bai-tap,
            [data-hien-thi="dien-dan"] li.dien-dan {
                order: 0;
                opacity: 1;
            }

            .khung-chon-hien-thi li:hover {
                opacity: 1;
            }

    .khung-chon-hien-thi a {
        padding: 7px 15px;
        display: block;
        color: #fff;
    }

        .khung-chon-hien-thi a:hover {
            text-decoration: none;
        }

        .khung-chon-hien-thi .khung a {
              background-color: #f90;
        }

        .khung-chon-hien-thi .bai-giang a {
              background-color: #0c0;
        }

        .khung-chon-hien-thi .bai-tap a {
              background-color: #e00;
        }

        .khung-chon-hien-thi .dien-dan a {
              background-color: #08c;
        }

    .khung-chon-hien-thi i {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-color: #fff;
        vertical-align: bottom;
    }

    .khung-chon-hien-thi span {
        font-size: 15px;
    }
    
        [data-hien-thi="khung"] .khung-chon-hien-thi .khung a,
        [data-hien-thi="bai-giang"] .khung-chon-hien-thi .bai-giang a,
        [data-hien-thi="bai-tap"] .khung-chon-hien-thi .bai-tap a,
        [data-hien-thi="dien-dan"] .khung-chon-hien-thi .dien-dan a {
            border-right: 2px solid #f5f5f5;
            border-top: 2px solid #f5f5f5;
            margin-top: -8px;
            padding-top: 15px;
            font-weight: bold;
        }

/*#endregion */

/*#region Khung */

[data-hien-thi="khung"] .danh-sach-nhom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    [data-hien-thi="khung"] .khung-nhom {
        width: 250px;
        margin-bottom: 20px;
    }

    [data-hien-thi="khung"] .ten-nhom {
        margin-bottom: -1px;
    }

        [data-hien-thi="khung"] .ten-nhom a {
            display: inline-block;
            padding: 5px 15px 0;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom: 0;
            color: #555;
            font-weight: bold;
            transition: 0.5s;
        }

            [data-hien-thi="khung"] .ten-nhom a:hover {
                text-decoration: none;
                color: #08c;
            }

    [data-hien-thi="khung"] .khung-danh-sach-bai-viet {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 5px 10px;
    }

    [data-hien-thi="khung"] .bai-viet {
        margin: 5px 0;
    }

    [data-hien-thi="khung"] .bai-viet .tieu-de {
        font-weight: bold;
        color: #333;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    [data-hien-thi="khung"] .bai-viet .thong-tin-dang {
        font-size: 11px;
        color: #888;
        text-align: right;
    }

        [data-hien-thi="khung"] .bai-viet.co-bieu-tuong {
            display: flex;
        }

            [data-hien-thi="khung"] .bai-viet.co-bieu-tuong .khung-noi-dung {
                width: 100%;
            }

                [data-hien-thi="khung"] .bai-viet.co-bieu-tuong .noi-dung {
                    display: block;
                    max-width: 100%;
                    height: 34px;
                    font-size: 12px;
                    line-height: 1.4;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #555;
                }
            
            [data-hien-thi="khung"] .bai-viet.co-bieu-tuong .khung-bieu-tuong {
                  min-width: 48px;
                  max-width: 48px;
                  height: 48px;
                  padding: 6px;
                  padding-left: 0;
            }

                [data-hien-thi="khung"] .bai-viet.co-bieu-tuong .bieu-tuong {
                      background-image: url('/KhoaHoc.png/KhoaHoc');
                      width: 48px;
                      height: 48px;
                }

                [data-hien-thi="khung"] .bai-viet.co-bieu-tuong .bieu-tuong.bai-tap {
                      background-position: 0px 0px;
                }

                [data-hien-thi="khung"] .bai-viet.co-bieu-tuong .bieu-tuong.dien-dan {
                      background-position: 0px -144px;
                }

                [data-hien-thi="khung"] .bai-viet.co-bieu-tuong .bieu-tuong.bai-giang {
                      background-position: 0px -48px;
                }

/*#endregion */

/*#region Diễn đàn */

[data-hien-thi="dien-dan"] .muc-bai-viet {
    border: 1px solid #eee;
    margin-bottom: 10px;
}

[data-hien-thi="dien-dan"] .khung-binh-luan {
    border-top: 1px solid #f5f5f5;
    background-color: #fcfcfc;
}

/*#region Khung bài viết */

[data-hien-thi="dien-dan"] .khung-bai-viet {
    background-color: #fff;
    position: relative;
}

    [data-hien-thi="dien-dan"] .khung-bai-viet .khung-thong-tin {
        display: flex;
        background-color: #fcfcfc;
        border-bottom: 1px solid #f8f8f8;
        padding: 10px;
    }

        [data-hien-thi="dien-dan"] .khung-bai-viet .khung-thong-tin .trai {
            min-width: 40px;
            max-width: 40px;
            margin-right: 10px;
        }

            [data-hien-thi="dien-dan"] .khung-bai-viet .khung-thong-tin .trai .hinh-dai-dien {
                height: 40px;
                width: 40px;
            }

                [data-hien-thi="dien-dan"] .khung-bai-viet .khung-thong-tin .trai .hinh-dai-dien img {
                    height: 40px;
                    width: 40px;
                }

        [data-hien-thi="dien-dan"] .khung-bai-viet .khung-thong-tin .phai {
            width: 100%;
            line-height: 20px;
        }

            [data-hien-thi="dien-dan"] .khung-bai-viet .khung-thong-tin .phai .nguoi-dung a {
                font-weight: bold;
                font-size: 14px;
                color: #333;
            }

            [data-hien-thi="dien-dan"] .khung-bai-viet .khung-thong-tin .phai .bai-viet .thoi-gian {
                font-size: 11px;
                color: #888;
            }

    [data-hien-thi="dien-dan"] .khung-bai-viet .khung-noi-dung {
        padding: 10px;
        color: #333;
    }

        [data-hien-thi="dien-dan"] .khung-bai-viet .khung-noi-dung .tieu-de {
            font-weight: bold;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 5px;
        }

/*#endregion */

/*#endregion */

/*#region Bài giảng */

/*#region Khung bài viết */

[data-hien-thi="bai-giang"] .muc-bai-viet {
    margin: 10px 0;
    position: relative;
}

    [data-hien-thi="bai-giang"] .muc-bai-viet .tieu-de {
        color: #333;
        font-size: 16px;
        cursor: pointer;
    }

        [data-hien-thi="bai-giang"] .muc-bai-viet.mo .tieu-de {
            background-color: #fff;
            border: 1px solid #eee;
            border-bottom: 0;
            text-align: center;
            padding-top: 10px;
            font-weight: normal;
            font-size: 22px;
        }

        [data-hien-thi="bai-giang"] .muc-bai-viet .tieu-de i {
            font-size: 26px;
            vertical-align: middle
        }

            [data-hien-thi="bai-giang"] .muc-bai-viet.mo .tieu-de i {
                font-size: 26px;
                vertical-align: -3px;
            }

    [data-hien-thi="bai-giang"] .muc-bai-viet .khung-noi-dung {
        background-color: #fff;
        border: 1px solid #eee;
        padding: 10px;
        margin-top: 5px;
        display: none;
    }

        [data-hien-thi="bai-giang"] .muc-bai-viet.mo .khung-noi-dung {
            border-top: 0;
            margin-top: 0;
            display: block;
        }

/*#endregion */

/*#endregion */

/*#region Bài tập */

[data-hien-thi="bai-tap"] .muc-bai-viet {
    border: 1px solid #eee;
    margin-bottom: 10px;
}

[data-hien-thi="bai-tap"] .khung-binh-luan {
    border-top: 1px solid #f5f5f5;
    background-color: #fcfcfc;
}

/*#region Khung bài viết */

[data-hien-thi="bai-tap"] .khung-bai-viet {
    background-color: #fff;
    position: relative;
}

    [data-hien-thi="bai-tap"] .khung-bai-viet .khung-thong-tin {
        display: flex;
        background-color: #fcfcfc;
        border-bottom: 1px solid #f8f8f8;
        padding: 10px;
    }

        [data-hien-thi="bai-tap"] .khung-bai-viet .khung-thong-tin .trai {
            min-width: 40px;
            max-width: 40px;
            margin-right: 10px;
        }

            [data-hien-thi="bai-tap"] .khung-bai-viet .khung-thong-tin .trai .hinh-dai-dien {
                height: 40px;
                width: 40px;
            }

                [data-hien-thi="bai-tap"] .khung-bai-viet .khung-thong-tin .trai .hinh-dai-dien img {
                    height: 40px;
                    width: 40px;
                }

        [data-hien-thi="bai-tap"] .khung-bai-viet .khung-thong-tin .phai {
            width: 100%;
            line-height: 20px;
        }

            [data-hien-thi="bai-tap"] .khung-bai-viet .khung-thong-tin .phai .nguoi-dung a {
                font-weight: bold;
                font-size: 14px;
                color: #333;
            }

            [data-hien-thi="bai-tap"] .khung-bai-viet .khung-thong-tin .phai .bai-viet .thoi-gian {
                font-size: 11px;
                color: #888;
            }

    [data-hien-thi="bai-tap"] .khung-bai-viet .khung-noi-dung {
        padding: 10px;
        color: #333;
    }

        [data-hien-thi="bai-tap"] .khung-bai-viet .khung-noi-dung .tieu-de {
            font-weight: bold;
            font-size: 14px;
            line-height: 25px;
            margin-bottom: 5px;
        }

        [data-hien-thi="bai-tap"] .khung-bai-viet .khung-noi-dung .thoi-han {
            font-size: 11px;
            margin: 5px 0;
        }

            [data-hien-thi="bai-tap"] .khung-bai-viet .khung-noi-dung .thoi-han span {
                font-weight: bold;
            }

        [data-hien-thi="bai-tap"] .khung-bai-viet .khung-noi-dung .tap-tin {
            padding: 5px;
            border-top: 1px dashed #eee;
        }

            [data-hien-thi="bai-tap"] .khung-bai-viet .khung-noi-dung .tap-tin a {
                display: flex;
            }

            [data-hien-thi="bai-tap"] .khung-bai-viet .khung-noi-dung .tap-tin img {
                width: 25px;
                height: 25px;
                margin-right: 5px;
            }

            [data-hien-thi="bai-tap"] .khung-bai-viet .khung-noi-dung .tap-tin span {
                align-self: center;
                color: #555;
            }

    [data-hien-thi="bai-tap"] .khung-nop-bai {
        background-color: #fcfcfc;
        border-top: 1px solid #f5f5f5;
    }

        [data-hien-thi="bai-tap"] .khung-nop-bai .danh-sach-nop {
            padding: 5px 10px;
        }

            [data-hien-thi="bai-tap"] .khung-nop-bai .danh-sach-nop a {
                cursor: pointer;
                color: #555;
            }

/*#endregion */

/*#region Danh sách nộp */

.khung-danh-sach-nop {
    padding: 10px;
}

.khung-danh-sach-nop .so-luong {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    color: #555;
}

.khung-danh-sach-nop .khung-danh-sach {

}

.khung-danh-sach-nop ul {

}

.khung-danh-sach-nop li {
    display: flex;
    margin-top: 10px;
    border-top: 1px dashed #DDD;
    padding-top: 10px;
}

.khung-danh-sach-nop .trai {
    min-width: 4px;
    max-width: 40px;
    margin-right: 5px;
}

.khung-danh-sach-nop .hinh-dai-dien {
    width: 40px;
    height: 40px;
}

.khung-danh-sach-nop .hinh-dai-dien img {
    width: 40px;
    height: 40px;
}

.khung-danh-sach-nop .thong-tin {

}

.khung-danh-sach-nop .nguoi-nop {
    font-weight: bold;
    color: #333;
}

.khung-danh-sach-nop .thoi-gian {
    font-size: 11px;
    color: #555;
}

.khung-danh-sach-nop .bai-nop {
    margin-top: 5px;
}

.khung-danh-sach-nop .bai-nop a {
    display: block;
}

.khung-danh-sach-nop .bai-nop img {
    height: 20px;
    width: 20px;
    vertical-align: bottom;
}

.khung-danh-sach-nop .bai-nop span {
    color: #555;
    font-size: 12px;
}

/*#endregion */

/*#endregion */