@using LCTMoodle.LCTView
@using Helpers
@model List<DTOLayer.CotDiemDTO>

@{
    Layout = "~/Views/LCT/Khung.cshtml";
    
    var khoaHoc = ViewData["KhoaHoc"] as DTOLayer.KhoaHocDTO;
    
    ViewData["TieuDe"] = "Quản lý cột điểm - " + khoaHoc.ten;

    ViewData["DieuHuong"] = new List<string>()
    {
        khoaHoc.ten, "/KhoaHoc/" + khoaHoc.ma,
        "Quản lý cột điểm", "/KhoaHoc/Tao-BangDiem/" + khoaHoc.ma
    };

    List<string> chucNang = new List<string>();

    var dsQuyen = QuyenView.layDSQuyen("KH", khoaHoc.ma.Value);

    chucNang.Add("Nội dung khóa học");
    chucNang.Add("href='/KhoaHoc/" + khoaHoc.ma + "'");

    if (QuyenHelper.co(dsQuyen, "QLQuyen"))
    {
        chucNang.Add("Quản lý quyền");
        chucNang.Add("href='/QuanlyQuyen/KH/" + khoaHoc.ma + "'");
    }

    chucNang.Add("Chương trình khóa học");
    chucNang.Add("href='/KhoaHoc/ChuongTrinh/" + khoaHoc.ma + "'");

    chucNang.Add("Xem điểm khóa học");
    chucNang.Add("href='/KhoaHoc/Xem-BangDiem/" + khoaHoc.ma + "'");

    ViewData["ChucNang"] = chucNang;
}
@section Styles {
    <link href="/Tao.css/BangDiem" rel="stylesheet" />
}
@section Scripts {
    <script src="/Tao.js/BangDiem"></script>
    <script>
        maKhoaHoc = '@khoaHoc.ma';
    </script>
}

<section class="hop hop-1-vien">
    <section class="tieu-de">
        Quản lý cột điểm
    </section>
    <section id="khung_cot_diem" class=" noi-dung khung-quan-ly">
        <table class="khung-cot-diem lct-bang">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Tên
                    </th>
                    <th>
                        Hệ số
                    </th>
                    <th>
                        Mô tả
                    </th>
                    <th>
                        Ngày
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
                @if (Model != null)
                {
                    foreach (var cotDiem in Model)
                    {
                        @Html.Partial("~/Views/BangDiem/_Item.cshtml", cotDiem);
                    }
                }
            </tbody>
            </table>
            <section class="lct-form khung-nut" style="text-align: center;">
                <a data-chuc-nang="tao" class="button">Thêm cột điểm mới</a>
            </section>
    </section>
</section>