
<!-- region item Trả lời -->

<article class="tra-loi">
    <div class="chi-tiet">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="thong-tin">
        <div class="diem">
            <i class="pe-7s-angle-up"></i>
            <span class="diem-so">5</span>
            <i class="pe-7s-angle-down"></i>
        </div>
        <div class="tac-gia">
            <div class="thoi-gian">trả lời lúc <span>24/5/2015</span></div>
            <div class="nguoi-dang">bởi <a href="#">NMC</a></div>
        </div>
    </div>
</article>

<!-- endregion Trả lời -->