@using DTOLayer;
@using LCTMoodle.LCTView;
@model List<HoatDongDTO>

<section class="lich-su-cau-hoi">
    <ul>
        @if (Model != null)
        {
            foreach (HoatDongDTO hoatDong in Model)
            {
                <li>
                    @HoatDongView.link(hoatDong)
                </li>
            }
        }
        else
        {
            <p class="empty">Chưa có hoạt động</p>
        }
    </ul>
</section>