@using DTOLayer;
@using LCTMoodle.LCTView;
@model List<HoatDongDTO>

<section class="lich-su-cau-hoi">
    
        @if (Model == null || Model.Count == 0)
        {
            <p class="empty">Chưa có hoạt động</p>
        }
        else
        {
            <ul>
                @foreach (HoatDongDTO hoatDong in Model)
                {
                <li>
                    @HoatDongView.link(hoatDong)
                </li>
                }
            </ul>
        }
</section>