@model List<DTOLayer.CauHoiDTO>
@{
    ViewData["Title"] = "Hỏi đáp";
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Hỏi đáp", "/HoiDap",
    };

    ViewData["ChucNang"] = new List<string>()
    {
        "Tạo câu hỏi", "href='/HoiDap/ThemCauHoi'"
    };
}

@section Styles {
    <link rel="stylesheet" href="/Index.css/HoiDap/" />
}
@section Scripts {
    <script src="/Index.js/HoiDap/"></script>
}

<!--#region Tìm kiếm câu hỏi -->

<article class="hop hop-1-vien">
    <section class="tieu-de">Tìm câu hỏi</section>
    <section class="noi-dung">
        <form class="lct-form" id="form_tim_kiem">
            <section class="noi-dung">
                <article class="input">
                    <input type="text" placeholder="Nhập từ khóa" />
                </article>                            
            </section>
        </form>
    </section>
</article>

<!--#endregion -->

 <!--#region Danh sách câu hỏi -->
<article class="hop">
    <section class="tieu-de">Danh sách câu hỏi</section>
    <section class="noi-dung">
        @if (Model != null)
        {
            for (int i = (Model.Count - 1); i >= 0; i--)
            {
                <article class="cau-hoi">
                    <div class="chi-tiet">
                        <div class="tieu-de">
                            <a href="/HoiDap/@Model[i].ma">
                                @Model[i].tieuDe
                            </a>
                        </div>
                        <div class="thong-tin-dang">
                            @if (Model[i].nguoiTao != null)
                            {
                                <div class="nguoi-dang">
                                    <a href="/NguoiDung/Xem/@Model[i].nguoiTao.ma">
                                        @if (Model[i].nguoiTao.hinhDaiDien != null)
                                        {
                                            <img src="/LayTapTin/NguoiDung_HinhDaiDien/@Model[i].nguoiTao.hinhDaiDien.ma" />
                                        }
                                        else
                                        {
                                            <img src="/avatarDefault.png/NguoiDung" />
                                        }
                                        <span>@Model[i].nguoiTao.tenTaiKhoan</span>
                                    </a>
                                </div>
                            }
                            
                            <div class="thoi-gian-dang">
                                <span>@Model[i].thoiDiemTao</span>
                            </div>
                        </div>
                    </div>
                    <div class="thong-tin">
                        <div class="diem">
                            <span>0</span>
                        </div>
                        <div class="tra-loi">
                            <span>0</span>
                        </div>
                    </div>
                </article>
            }
        }
    </section>
</article>
<!--#endregion -->