@model List<DTOLayer.CauHoiDTO>
@{
    ViewData["Title"] = "Hỏi đáp";
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Hỏi đáp", "/HoiDap",
    };

    ViewData["ChucNang"] = new List<string>()
    {
        "Thêm câu hỏi", "href='/HoiDap/ThemCauHoi'"
    };
}

@section Styles {
    <link rel="stylesheet" href="/Index.css/HoiDap/" />
}
@section Scripts {
    <script src="/Index.js/HoiDap/"></script>
    <script src="/Khung.js/ChuDe/"></script>
    <script src="/TimKiem.js/LCT/"></script>
}

<!--#region Tìm kiếm câu hỏi -->

<article class="hop">
    <section class="tieu-de">
        Tìm kiếm câu hỏi
    </section>
    <section class="noi-dung">
        <section id="khung_tim" class="khung-tim lct-form">
            <section class="line">
                <article style="width: 100%" class="input">
                    <input data-doi-tuong="ten-tim" type="text" placeholder="Tên khóa học bạn muốn tìm" />
                </article>
                <article style="width: 100%" class="input">
                    <input data-doi-tuong="chu-de-tim" data-input-type="chu-de" placeholder="Chủ đề bạn muốn tìm" />
                </article>
                <a data-chuc-nang="tat-mo-chu-de" style="min-width: 90px; margin-left: 5px;" class="button inline">Chọn chủ đề</a>
            </section>
        </section>
    </section>
    <section class="lct-form" id="tieu_chi_hien_thi">
        <ul style="background-color: transparent; padding: 0;">
            <li style="justify-content: center">
                <section class="tieu-de"><label style="font-weight: bold;">Tiêu chí hiển thị</label></section>
                <section class="noi-dung" style="width: auto;">
                    <section class="input">
                        <input type="radio" style="width:auto;" name="cachHienThi" value="MoiNhat" data-text="Mới nhất" data-mac-dinh />
                        <input type="radio" style="width:auto;" name="cachHienThi" value="DiemCaoNhat" data-text="Điểm cao nhất" />
                        <input type="radio" style="width:auto;" name="cachHienThi" value="TraLoiNhieuNhat" data-text="Trả lời nhiều nhất" />
                    </section>
                </section>
            </li>
        </ul>
    </section>
</article>

<!--#endregion -->

 <!--#region Danh sách câu hỏi -->

<article class="hop">
    <section class="tieu-de">Danh sách câu hỏi</section>
    <section class="noi-dung" id="danh_sach">
        @Html.Partial("~/Views/HoiDap/_DanhSachCauHoi.cshtml", Model)
    </section>
</article>

<!--#endregion -->