@{
    ViewData["Title"] = "Hỏi đáp";
    Layout = "~/Views/LCT/Khung.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="/Index.css/HoiDap/" />
}
@section Scripts {
}

<h1>Hello hỏi đáp</h1>