@using Helpers
@using LCTMoodle.LCTView
@model List<DTOLayer.CauHoiDTO>
@{
    ViewData["Title"] = "Hỏi đáp";
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Hỏi đáp", "/HoiDap",
    };

    <!--Kiểm tra điều kiện-->
    bool coQuyenThemCauHoi, coQuyenQuanLyCauHoi, coQuyenQuanLyTraLoi;
    string[] dsQuyen;
    
    int? maNguoiDung = (int?)Session["NguoiDung"];
    if (!maNguoiDung.HasValue)
    {
        coQuyenQuanLyCauHoi = false;
        coQuyenQuanLyTraLoi = false;
        dsQuyen = null;
    }
    else
    {
        dsQuyen = QuyenView.layDSQuyen("HD", 0, maNguoiDung);

        coQuyenQuanLyCauHoi = QuyenHelper.co(dsQuyen, "DuyetCauHoi");
        coQuyenQuanLyTraLoi = QuyenHelper.co(dsQuyen, "DuyetTraLoi");
    }
    
    coQuyenThemCauHoi = Session["NguoiDung"] != null;

    if (coQuyenThemCauHoi || coQuyenQuanLyCauHoi || coQuyenQuanLyTraLoi)
    {
        List<string> chucNang = new List<string>();
        if (coQuyenThemCauHoi)
        {
            chucNang.Add("Thêm câu hỏi");
            chucNang.Add("href='/HoiDap/ThemCauHoi'");
        }
        if (coQuyenQuanLyCauHoi)
        {
            chucNang.Add("Quản lý câu hỏi");
            chucNang.Add("href='/HoiDap/QuanLyCauHoi'");
        }
        if (coQuyenQuanLyTraLoi)
        {
            chucNang.Add("Quản lý trả lời");
            chucNang.Add("href='/HoiDap/QuanLyTraLoi'");
        }
        ViewData["ChucNang"] = chucNang;
    }
}

@section Styles {
    <link rel="stylesheet" href="/Index.css/HoiDap/" />
}
@section Scripts {
    <script src="/Index.js/HoiDap/"></script>
    <script src="/Khung.js/ChuDe/"></script>
    <script src="/TimKiem.js/LCT/"></script>
}

<!--#region Tìm kiếm câu hỏi -->

<article class="hop">
    <section class="tieu-de">
        Tìm kiếm câu hỏi
    </section>
    <section class="noi-dung">
        <section id="khung_tim" class="khung-tim lct-form">
            <section class="line">
                <article style="width: 100%" class="input">
                    <input data-doi-tuong="ten-tim" type="text" placeholder="Tên khóa học bạn muốn tìm" />
                </article>
                <article style="width: 100%" class="input">
                    <input data-doi-tuong="chu-de-tim" data-input-type="chu-de" placeholder="Chủ đề bạn muốn tìm" />
                </article>
                <a data-chuc-nang="tat-mo-chu-de" style="min-width: 90px; margin-left: 5px;" class="button inline">Chọn chủ đề</a>
            </section>
        </section>
    </section>
    <section class="lct-form" id="tieu_chi_hien_thi">
        <ul style="background-color: transparent; padding: 0;">
            <li style="justify-content: center">
                <section class="tieu-de"><label style="font-weight: bold;">Tiêu chí hiển thị</label></section>
                <section class="noi-dung" style="width: auto;">
                    <section class="input">
                        <input type="radio" style="width:auto;" name="TieuChi" data-doi-tuong="tieu-chi" value="MoiNhat" data-text="Mới nhất" data-mac-dinh />
                        <input type="radio" style="width:auto;" name="TieuChi" data-doi-tuong="tieu-chi" value="DiemCaoNhat" data-text="Điểm cao nhất" />
                        <input type="radio" style="width:auto;" name="TieuChi" data-doi-tuong="tieu-chi" value="TraLoiNhieuNhat" data-text="Trả lời nhiều nhất" />
                    </section>
                </section>
            </li>
        </ul>
    </section>
</article>

<!--#endregion -->

 <!--#region Danh sách câu hỏi -->

<article class="hop">
    <section class="tieu-de">Danh sách câu hỏi</section>
    <section class="noi-dung danh-sach-cau-hoi" id="danh_sach">
        @if (Model != null)
        {
            Html.Partial("~/Views/HoiDap/_DanhSachCauHoi.cshtml", Model);
        }
    </section>
    @if (Model != null)
    {
        Html.Partial("~/Views/LCT/_PhanTrang.cshtml", null, new ViewDataDictionary()
        {
            { "TongSoLuong", LCTHelper.layGiaTri<int>(Model[0].duLieuThem, "TongSoDong", 0) },
            { "SoLuongMoiTrang", Data.GiaTri.soLuongCauHoiMoiTrang }
        });
    }
    
</article>

<!--#endregion -->