@model List<DTOLayer.CauHoiDTO>
@{
    ViewData["Title"] = "Hỏi đáp";
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Hỏi đáp", "/HoiDap",
    };

    ViewData["ChucNang"] = new List<string>()
    {
        "Tạo câu hỏi", "href='/HoiDap/ThemCauHoi'"
    };
}

@section Styles {
    <link rel="stylesheet" href="/Index.css/HoiDap/" />
}
@section Scripts {
    <script src="/Index.js/HoiDap/"></script>
    <script src="/Khung.js/ChuDe/"></script>
    <script src="/TimKiem.js/LCT/"></script>
}

<!--#region Tìm kiếm câu hỏi -->

<article class="hop">
    <section class="tieu-de">
        Tìm kiếm câu hỏi
    </section>
    <section class="noi-dung khung-khoa-hoc">
        <section id="form_tim" class="khung-tim lct-form">
            <section class="line">
                <article style="width: 100%" class="input">
                    <input id="tim_ten" type="text" placeholder="Tiêu đề câu hỏi bạn muốn tìm" />
                </article>
                <article style="width: 100%" class="input">
                    <input id="tim_chu_de" data-input-type="chu-de" placeholder="Chủ đề bạn muốn tìm" />
                </article>
                <a data-chuc-nang="tat-mo-chu-de" style="min-width: 90px; margin-left: 5px;" class="button inline">Chọn chủ đề</a>
            </section>
        </section>
        <section id="chu_de" style="margin-top: 5px;"></section>
    </section>
</article>

<!--#endregion -->

 <!--#region Danh sách câu hỏi -->

<article class="hop">
    <section class="tieu-de">Danh sách câu hỏi</section>
    <section class="noi-dung" id="danh_sach">
        @Html.Partial("_DanhSachCauHoi", Model)
    </section>
</article>

<!--#endregion -->