@using Helpers;
@using LCTMoodle.LCTView;
@using DTOLayer;

@model List<CauHoiDTO>
@{
    Layout = "~/Views/LCT/Khung.cshtml";
    ViewData["DieuHuong"] = new List<string>()
    {
        "Hỏi đáp", "/HoiDap",
        "Quản lý câu hỏi", "/HoiDap/QuanLyCauHoi"
    };

    int? maNguoiDung = Session["NguoiDung"] as int?;    
    bool coQuyenThemCauHoi, coQuyenDuyetTraLoi;
    string[] dsQuyen;
    
    if (!maNguoiDung.HasValue)
    {
        coQuyenThemCauHoi = coQuyenDuyetTraLoi = false;
        dsQuyen = null;
    }
    else
    {
        coQuyenThemCauHoi = true;
        dsQuyen = QuyenView.layDSQuyen("HD", 0, maNguoiDung);
    }

    coQuyenDuyetTraLoi = QuyenHelper.co(dsQuyen, "DuyetTraLoi");
    
    if (coQuyenThemCauHoi || coQuyenDuyetTraLoi)
    {
        List<string> chucNang = new List<string>();
        if (coQuyenThemCauHoi)
        {
            chucNang.Add("Thêm câu hỏi");
            chucNang.Add("href='/HoiDap/ThemCauHoi'");
        }
        if (coQuyenDuyetTraLoi)
        {
            chucNang.Add("Quản lý trả lời");
            chucNang.Add("href='/HoiDap/QuanLyTraLoi'");
        }
        ViewData["ChucNang"] = chucNang;
    }
}
@section Styles {
    <link rel="stylesheet" href="/QuanLyCauHoi.css/HoiDap/" />
    <link rel="stylesheet" href="/XemCauHoi.css/HoiDap/" />
}
@section Scripts {
    <script src="/QuanLyCauHoi.js/HoiDap/"></script>
}

@if (Model != null)
{
    <article class="hop hop-1-vien">
        <section class="tieu-de">Quản lý câu hỏi</section>
        <section class="noi-dung khung-quan-ly-cau-hoi">
            <table class="lct-bang">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tiêu đề</th>
                        <th>Chức năng</th>                   
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach(var cauHoi in Model)
                        {
                            <tr data-ma="@cauHoi.ma" data-doi-tuong="item-cau-hoi">
                                <td>@cauHoi.ma</td>
                                <td>@cauHoi.tieuDe</td>
                                <td>
                                    <form class="lct-form">                                    
                                        <button type="button" class="thanh-cong" data-chuc-nang="duyet">Duyệt</button>
                                        <button type="button" class="nguy-hiem" data-chuc-nang="xoa">Xóa</button>
                                        <button type="button" class="thanh-cong" data-chuc-nang="xem">Xem</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </section>
    </article>
}
else 
{
    <p class="empty">Tất cả câu hỏi đã được duyệt</p>
}