@{    
    ViewData["Title"] = "Thêm câu hỏi";
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>() 
    {
        "Hỏi đáp", "/HoiDap/Index",
        "Thêm câu hỏi", "/HoiDap/TaoCauHoi"
    };        
    
}

@section Styles {
}

@section Scripts {
    <script src="/TaoCauHoi.js/HoiDap/"></script>
}

<article class="hop hop-2-vien" >
    <section class="tieu-de">Thêm câu hỏi</section>
    <section class="noi-dung">
        @Html.Partial("~/Views/HoiDap/_Form_CauHoi.cshtml", null)
    </section>
</article>
