@using Helpers
@using LCTMoodle.LCTView
@model DTOLayer.CauHoiDTO
@{
    ViewData["Title"] = Model.tieuDe;
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Hỏi đáp", "/HoiDap",
        Model.tieuDe, "/HoiDap/Xem/" + Model.ma
    };

    <!--Kiểm tra điều kiện-->
    int? maNguoiDung = (int?)Session["NguoiDung"];
    string[] dsQuyen;

    bool coQuyenThemCauHoi, coQuyenTraLoiCauHoi, coQuyenDuyetCauHoi, coQuyenDuyetTraLoi;
    
    if (maNguoiDung.HasValue)
    {
        dsQuyen = QuyenView.layDSQuyen("HD", 0, maNguoiDung);
        coQuyenThemCauHoi = coQuyenTraLoiCauHoi = true;
        coQuyenDuyetCauHoi = QuyenHelper.co(dsQuyen, "DuyetCauHoi");
        coQuyenDuyetTraLoi = QuyenHelper.co(dsQuyen, "DuyetTraLoi");
    }
    else
    {
        dsQuyen = null;
        coQuyenThemCauHoi = coQuyenTraLoiCauHoi = false;
        coQuyenDuyetTraLoi = coQuyenDuyetCauHoi = false;
    }

    if (coQuyenThemCauHoi || coQuyenDuyetCauHoi || coQuyenDuyetTraLoi)
    {
        List<string> chucNang = new List<string>();
        if (coQuyenThemCauHoi)
        {
            chucNang.Add("Thêm câu hỏi");
            chucNang.Add("href='/HoiDap/ThemCauHoi'");
        }
        if (coQuyenDuyetCauHoi)
        {
            chucNang.Add("Quản lý câu hỏi");
            chucNang.Add("href='/HoiDap/QuanLyCauHoi'");
        }
        if (coQuyenDuyetTraLoi)
        {
            chucNang.Add("Quản lý trả lời");
            chucNang.Add("href='/HoiDap/QuanLyTraLoi'");
        }
        ViewData["ChucNang"] = chucNang;
    }
    <!---->
    
    Dictionary<int, int> trangThaiVoteTraLoi = ViewData["DSTrangThaiVoteTraLoi"] as Dictionary<int, int>;
}

@section Styles {
    <link rel="stylesheet" href="/XemCauHoi.css/HoiDap/" />
}
@section Scripts {
    <script src="/XemCauHoi.js/HoiDap/"></script>
}

<!-- region Câu hỏi -->

<article class="hop hop-1-vien">
    <section class="noi-dung">
        @Html.Partial("~/Views/HoiDap/_Item_CauHoi.cshtml", Model, new ViewDataDictionary() 
        { 
            { "TrangThaiVote", ViewData["TrangThaiVote"] },
            { "DSQuyen", dsQuyen}
        })
    </section>
</article>

<!-- endregion Câu hỏi -->

<!-- region Trả lời -->

<article class="hop">
    <section class="tieu-de">Danh sách trả lời</section>
    <ul class="noi-dung danh-sach-tra-loi" id="danh_sach_tra_loi">@if (Model.danhSachTraLoi != null) 
        {
            foreach (var traLoi in Model.danhSachTraLoi)
            {                
                ViewData["TrangThaiVoteTraLoi"] = 1;
                
                @Html.Partial("~/Views/HoiDap/_Item_TraLoi.cshtml", traLoi, new ViewDataDictionary()
                { 
                    { "TrangThaiVoteTraLoi", trangThaiVoteTraLoi[traLoi.ma.Value] }, 
                    { "DSQuyen", dsQuyen },
                });
            }
    }</ul>
    <section>Chưa có trả lời</section>
</article>

<!-- endregion Trả lời -->

<!-- region Fom Trả lời -->

<article class="hop hop-2-vien">
    <section class="tieu-de">Trả lời câu hỏi</section>
        @if (coQuyenTraLoiCauHoi)
        {
            <section class="noi-dung">             
                   @Html.Partial("~/Views/HoiDap/_Form_TraLoi.cshtml", null, new ViewDataDictionary() { { "MaCauHoi", Model.ma } })
            </section>                   
        }
        else
        {
            <p class="empty">Đăng nhập để có thể trả lời câu hỏi</p>
        }
</article>

<!-- endregion Fom Trả lời -->
