@model DTOLayer.CauHoiDTO
@{
    ViewData["Title"] = Model.tieuDe;
    Layout = "~/Views/LCT/Khung.cshtml";

    ViewData["DieuHuong"] = new List<string>()
    {
        "Hỏi đáp", "/HoiDap",
        Model.tieuDe, "/HoiDap/Xem/" + Model.ma
    };

    ViewData["ChucNang"] = new List<string>()
    {
        "Thêm câu hỏi", "href='/HoiDap/ThemCauHoi'"
    };
}

@section Styles {
    <link rel="stylesheet" href="/XemCauHoi.css/HoiDap/" />
}
@section Scripts {
    <script src="/XemCauHoi.js/HoiDap/"></script>
}

<!-- region Câu hỏi -->

<article class="hop hop-1-vien">
    <section class="noi-dung">
        @Html.Partial("~/Views/HoiDap/_Item_CauHoi.cshtml", Model, new ViewDataDictionary() { { "VoteDiem", ViewData["VoteDiem"] } })
    </section>
</article>

<!-- endregion Câu hỏi -->

<!-- region Trả lời -->

<article class="hop">
    <section class="tieu-de">Danh sách trả lời</section>
    <ul class="noi-dung danh-sach-tra-loi" id="danh_sach_tra_loi">@if (Model.danhSachTraLoi != null) 
        {
            foreach (var traLoi in Model.danhSachTraLoi)
            {
                @Html.Partial("~/Views/HoiDap/_Item_TraLoi.cshtml", traLoi);
            }
    }</ul>
    <section>Chưa có trả lời</section>
</article>

<!-- endregion Trả lời -->

<!-- region Fom Trả lời -->

<article class="hop hop-2-vien">
    <section class="tieu-de">Trả lời câu hỏi</section>
    <section class="noi-dung">
        @Html.Partial("~/Views/HoiDap/_Form_TraLoi.cshtml", null, new ViewDataDictionary() { { "MaCauHoi", ViewData["MaCauHoi"].ToString() } })
    </section>
</article>

<!-- endregion Fom Trả lời -->
