/*#region Chung */

.lct-form {
    color: #333;
    width: 100%;
}

        .lct-form ul {
            display: flex;
            flex-wrap: wrap;
            padding: 5px;
            background-color: #fcfcfc;
        }

            .lct-form ul > li {
                display: flex;
                margin: 10px 0px;
                width: 100%;
            }

                .lct-form ul > li.cot {
                    flex-direction: column;
                }

                .lct-form ul > li.loi-dan {
                    background-color: #f8f8f8;
                    border: 1px solid #eee;
                    padding: 10px;
                    color: #555;
                }
                                
                    .lct-form ul > li.loi-dan:not(:first-child) {
                        margin-top: 20px;
                    }

                .lct-form ul > li.thong-bao {
                    padding: 5px;
                    color: #555;
                }

                    .lct-form ul > li.thong-bao p {
                        line-height: 30px;
                        padding: 5px 0;
                    }

                    .lct-form ul > li.thong-bao .bieu-tuong:before {
                        font-family: Stroke Icon;
                        line-height: 40px;
                        font-size: 40px;
                        min-width: 40px;
                        padding-right: 5px;
                    }

                    .lct-form ul > li.thong-bao .bieu-tuong.thanh-cong:before {
                        content: '\e66c';
                        color: #08c;
                    }

                    .lct-form ul > li.thong-bao .bieu-tuong.nguy-hiem:before {
                        content: '\e681';
                        color: #e00;
                    }

                    .lct-form ul > li.thong-bao .bieu-tuong.thong-tin:before {
                        content: '\e647';
                        color: #0c0;
                    }

                    .lct-form ul > li.thong-bao .bieu-tuong.canh-bao:before {
                        content: '\e67b';
                        color: #fb0;
                    }

                    .lct-form ul > li.thong-bao .bieu-tuong.hoi:before {
                        content: '\e64a';
                        color: #0c0;
                    }

                .lct-form li > .tieu-de {
                    min-width: 150px;
                    max-width: 150px;
                }

                .lct-form li > .noi-dung {
                    width: 100%;
                }

    .lct-form .tieu-de label {
        text-align: right;
        display: block;
        padding: 5px;
        padding-right: 10px;
        line-height: 20px;
        font-size: 13px;
    }

        .lct-form .cot .tieu-de label {
            text-align: left;
        }

    .lct-form .input {
        border: 1px solid #ddd;
        background-color: #fff;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

        .lct-form .input > i.mac-dinh:before {
            content: '\e61c';
            font: normal 13px 'Stroke Icon';
            display: block;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            position: absolute;
            top: 0px;
            right: 0px;
            transition: 0.5s;
            opacity: 0.2;
        }

        .lct-form .input:hover > i.mac-dinh:before {
            opacity: 0.5;
        }

        .lct-form .input > i.mac-dinh:hover:before {
            opacity: 1;
            color: #08c;
            animation: xoay 1s infinite;
            -webkit-animation: xoay 1s infinite;
            -moz-animation: xoay 1s infinite;
        }

        .lct-form .loi {
            color: #fff;
            background-color: #e00;
            padding: 5px 10px;
            font-weight: bold;
            line-height: 20px;
        }

@keyframes xoay {
    0% {
        transform: none;
    }

    100% {
        transform: rotate(1turn);
    }
}

@-webkit-keyframes xoay {
    0% {
        transform: none;
    }

    100% {
        transform: rotate(1turn);
    }
}

@-moz-keyframes xoay {
    0% {
        transform: none;
    }

    100% {
        transform: rotate(1turn);
    }
}


/*#endregion */

/*#region Inline */

.lct-form .line {
    display: flex;
}

.lct-form button.inline {
    margin: 0;
    height: 32px;
    padding: 0;
}

.lct-form a.button.inline {
    margin: 0;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
}

/*#endregion */

/*#region Đường dẫn */

.lct-form a {
    color: #555;
    font-size: 13px;
}

/*#endregion */

/*#region Text, password */

.lct-form input[type="text"],
.lct-form input[type="password"] {
    border: none;
    line-height: 20px;
    padding: 5px 8px;
    width: calc(100% - 19px);
    height: 20px;
    outline: none;
    border-left: 3px solid #eee;
    transition: 0.5s;
    color: #555;
    background-color: #fff;
}

    .lct-form input[type="text"][class^="loi-"],
    .lct-form input[type="text"][class*=" loi-"],
    .lct-form input[type="password"][class^="loi-"],
    .lct-form input[type="password"][class*=" loi-"] {
        border-left-color: #e00 !important;
    }

    .lct-form input[type="text"]:hover,
    .lct-form input[type="password"]:hover,
    .lct-form input[type="text"]:focus,
    .lct-form input[type="password"]:focus {
        border-left-color: #08c !important;
    }
    

    .lct-form:not([data-an-rang-buoc]) input[type="text"][data-validate~="bat-buoc"],
    .lct-form:not([data-an-rang-buoc]) input[type="password"][data-validate~="bat-buoc"] {
        border-left-color: #f90;
    }

/*#endregion */

/*#region Textarea */

.lct-form textarea {
    min-width: calc(100% - 19px);
    max-width: calc(100% - 19px);
    padding: 5px 8px;
    border: none;
    outline: none;
    border-left: 3px solid #eee;
    transition: border-left-color 0.5s;
    height: 100px;
    color: #555;
    background-color: #fff;
}

    .lct-form textarea[class^="loi-"],
    .lct-form textarea[class*=" loi-"] {
        border-left-color: #e00 !important;
    }

    .lct-form textarea:hover,
    .lct-form textarea:focus {
        border-left-color: #08c !important;
    }

    .lct-form:not([data-an-rang-buoc]) textarea[data-validate~="bat-buoc"] {
        border-left-color: #f90;
    }

/*#endregion */

/*#region Select */

.lct-form select {
    height: 30px;
    outline: none;
    border: none;
    border-left: 3px solid #eee;
    width: calc(100%);
    transition: 0.5s;
    padding: 5px 4px;
    color: #555;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

    .lct-form select[class^="loi-"],
    .lct-form select[class*=" loi-"] {
        border-left-color: #e00 !important;
    }

    .lct-form select:hover,
    .lct-form select:focus {
        border-left-color: #08c !important;
    }

    .lct-form:not([data-an-rang-buoc]) select[data-validate~="bat-buoc"] {
        border-left-color: #f90;
    }

/*#endregion */

/*#region Checkbox, Radio */

.lct-form .checkbox-radio-label {
    display: block;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.lct-form input[type="checkbox"],
.lct-form input[type="radio"] {
    position: absolute;
    left: -9999px;
}

    .lct-form input[type="checkbox"]:disabled ~ *,
    .lct-form input[type="radio"]:disabled ~ * {
        pointer-events: none;
        opacity: .3;
    }

    .lct-form input[type="checkbox"] + u,
    .lct-form input[type="radio"] + u {
        display: inline-block;
        vertical-align: top;
        width: 14px;
        height: 14px;
        padding: 1px;
        border: 1px solid #ddd;
        background-color: #fff;
        margin-right: 4px;
    }

    .lct-form input[type="radio"] + u {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        overflow: hidden;
    }

        .lct-form input[type="checkbox"] + u:before,
        .lct-form input[type="radio"] + u:before {
            content: '';
            height: 14px;
            display: block;
            background-color: #eee;
            transition: 0.5s;
        }

    .lct-form input[type="checkbox"] + u:before {
        width: 3px;
    }

    .lct-form input[type="radio"] + u:before {
        width: 14px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        transform: scale(0.3);
    }

.lct-form label > input[type="checkbox"]:focus + u:before,
.lct-form label:hover > input[type="checkbox"] + u:before {
    width: 5px;
    background-color: #08c;
}

.lct-form label > input[type="radio"]:focus + u:before,
.lct-form label:hover > input[type="radio"] + u:before {
    transform: scale(0.5);
    background-color: #08c;
}

.lct-form input[type="checkbox"]:checked + u:before,
.lct-form input[type="radio"]:checked + u:before {
    background-color: #08c;
}

.lct-form input[type="checkbox"]:checked + u:before {
    width: 14px;
}

.lct-form input[type="radio"]:checked + u:before {
    transform: scale(0.95);
}

.lct-form label > input[type="checkbox"]:checked:focus + u:before,
.lct-form label:hover > input[type="checkbox"]:checked + u:before {
    width: 11px;
}

.lct-form label > input[type="radio"]:checked:focus + u:before,
.lct-form label:hover > input[type="radio"]:checked + u:before {
    transform: scale(0.8);
}

/*#endregion */

/*#region Fileupload */

.lct-form .file-label {
    display: flex;
    padding: 5px;
    height: 20px;
    width: 100%;
    margin-left: 3px;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

.lct-form input[type="file"] {
    position: absolute;
    left: -9999px;
}

.lct-form .file-label input[type="file"].co ~ img {
    display: inline-block;
}

.lct-form .file-label input[type="file"].co ~ i {
    display: none;
}

.lct-form .file-label img {
    display: none;
    width: 20px;
    height: 20px;
    align-self: center;
}

.lct-form .file-label i {
    font: normal 20px 'Stroke Icon';
    color: #ddd;
    transition: 0.5s;
    align-self: center;
}
    .lct-form .file-label i:before {
        content: '\e68a';
    }

    .lct-form .file-label input[type="file"][class^="loi-"] ~ i,
    .lct-form .file-label input[type="file"][class*=" loi-"] ~ i {
        color: #e00;
    }

.lct-form li .file-label:hover i,
.lct-form li .file-label input[type="file"]:focus ~ i,
.lct-form li .file-label input[type="file"].dang ~ i {
    color: #08c !important;
}

.lct-form .file-label u {
    display: block;
    height: 100%;
    width: 3px;
    background-color: #eee;
    transition: 0.5s;
    position: absolute;
    top: 0px;
    left: -3px;
}

    .lct-form .file-label input[type="file"][class^="loi-"] ~ u,
    .lct-form .file-label input[type="file"][class*=" loi-"] ~ u {
        background-color: #e00 !important;
    }

    .lct-form .file-label:hover u,
    .lct-form .file-label input[type="file"]:focus ~ u,
    .lct-form .file-label input[type="file"].dang ~ u {
        background-color: #08c !important;
    }

    .lct-form:not([data-an-rang-buoc]) .file-label input[type="file"][data-validate~="bat-buoc"] ~ u {
        background-color: #f90;
    }

/*#endregion */

/*#region Chọn chủ đề */

.lct-form input[data-input-type="chu-de"] {
    border: none;
    line-height: 20px;
    padding: 5px 8px;
    width: calc(100% - 19px);
    height: 20px;
    outline: none;
    border-left: 3px solid #eee;
    transition: 0.5s;
    color: #555;
    background-color: #fff;
    cursor: pointer;
}

    .lct-form input[data-input-type="chu-de"][class^="loi-"],
    .lct-form input[data-input-type="chu-de"][class*=" loi-"] {
        border-left-color: #e00;
    }
    
    .lct-form input[data-input-type="chu-de"]:hover,
    .lct-form input[data-input-type="chu-de"]:focus {
        border-left-color: #08c;
    }
    
    .lct-form:not([data-an-rang-buoc]) input[data-input-type="chu-de"][data-validate~="bat-buoc"] {
        border-left-color: #f90;
    }

/*#endregion */

/*#region Gợi ý */

.lct-form input[data-input-type="goi-y"] {
    border: none;
    line-height: 20px;
    padding: 5px 8px;
    width: calc(100% - 19px);
    height: 20px;
    outline: none;
    border-left: 3px solid #eee;
    transition: 0.5s;
    color: #555;
    background-color: #fff;
}

    .lct-form input[data-input-type="goi-y"][class^="loi-"],
    .lct-form input[data-input-type="goi-y"][class*=" loi-"] {
        border-left-color: #e00 !important;
    }
    
    .lct-form input[data-input-type="goi-y"]:hover,
    .lct-form input[data-input-type="goi-y"]:focus {
        border-left-color: #08c !important;
    }
    
    .lct-form:not([data-an-rang-buoc]) input[data-input-type="goi-y"][data-validate~="bat-buoc"] {
        border-left-color: #f90;
    }

.lct-form .khung-input-goi-y {
    width: 100%;
    position: relative;
}

.lct-form .khung-danh-sach-goi-y {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    left: -1px;
    display: none;
}

    .lct-form input[data-input-type="goi-y"].focus ~ .khung-danh-sach-goi-y {
        display: block;
    }

.lct-form .danh-sach-goi-y {
    padding: 0;
    max-height: 120px;
    overflow-y: auto;
}

    .lct-form .danh-sach-goi-y:not(:empty) {
        border-top: 1px solid #eee;
    }

    .lct-form .danh-sach-goi-y li {
        margin: 0;
        display: block;
        border-top: 1px solid #eee;
    }

        .lct-form .danh-sach-goi-y li:first-child {
            border-top: 0;
        }

    .lct-form .danh-sach-goi-y span {
        display: block;
        padding: 5px 10px;
        position: relative;
        cursor: pointer;
    }

        .lct-form .danh-sach-goi-y span:hover {
            text-decoration: none;
        }

        .lct-form .danh-sach-goi-y li:nth-child(odd) span {
            background-color: #fcfcfc;
        }

        .lct-form .danh-sach-goi-y span:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            transition: 0.5s;
        }

        .lct-form .danh-sach-goi-y li.chon span:after {
            background-color: #08c;
        }
        
.lct-form .danh-sach-goi-y + span {
    display: none;
    padding: 10px;
    background-color: #fcfcfc;
    border-top: 1px solid #eee;
}

    .lct-form .danh-sach-goi-y:empty + span {
        display: block;
    }

/*#endregion */

/*#region Thời gian */

.lct-form input[data-input-type="gio"],
.lct-form input[data-input-type="ngay"] {
    border: none;
    line-height: 20px;
    padding: 5px 8px;
    width: calc(100% - 19px);
    outline: none;
    border-left: 3px solid #eee;
    transition: 0.5s;
    color: #555;
    background-color: #fff;
    cursor: pointer;
}

    .lct-form input[data-input-type="gio"][class^="loi-"],
    .lct-form input[data-input-type="gio"][class*=" loi-"],
    .lct-form input[data-input-type="ngay"][class^="loi-"],
    .lct-form input[data-input-type="ngay"][class*=" loi-"] {
        border-left-color: #e00 !important;
    }

    .lct-form input[data-input-type="gio"]:hover,
    .lct-form input[data-input-type="ngay"]:hover,
    .lct-form input[data-input-type="gio"]:focus,
    .lct-form input[data-input-type="ngay"]:focus {
        border-left-color: #08c !important;
    }

    .lct-form:not([data-an-rang-buoc]) input[data-input-type="gio"][data-validate~="bat-buoc"],
    .lct-form:not([data-an-rang-buoc]) input[data-input-type="ngay"][data-validate~="bat-buoc"] {
        border-left-color: #f90;
    }

/*#region Đồng hồ */

.lct-dong-ho {
    width: 212px;
    height: 212px;
    background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    border: 1px solid #ddd;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 20;
    padding: 5px;
}

    .lct-dong-ho[data-trang-thai="an"] {
        left: -9999px !important;
        opacity: 0;
        transform: rotate(-30deg) scale(0.9, 0.9);
        transition: transform 0.5s, opacity 0.5s, left 0s 0.5s;
    }

    .lct-dong-ho[data-trang-thai="hien"] {
        transform: none;
        opacity: 1;
        transition: transform 0.5s, opacity 0.5s;
    }

    .lct-dong-ho > .dong-ho {
        border: 1px solid #ddd;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        position: relative;
        width: 210px;
        height: 210px;
        z-index: 20;
        overflow: hidden;
        background-color: rgba(252, 252, 252, 0.7);
        transition: 0.5s;
    }

    .lct-dong-ho[data-buoi="toi"] > .dong-ho {
        background-color: rgba(221, 221, 221, 0.9);
    }

    .lct-dong-ho .buoi i {
        display: block;
        position: absolute;
        top: 113px;
        left: 89px;
        width: 20px;
        height: 20px;
        background-color: #ddd;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        z-index: 20;
        transition: 2s;
        cursor: pointer;
    }

    .lct-dong-ho[data-buoi="toi"] .buoi i {
        background-color: #fff;
    }

    .lct-dong-ho .buoi i:hover {
        box-shadow: 0px 0px 80px 80px rgba(50, 50, 50, 0.5);
    }

    .lct-dong-ho[data-buoi="toi"] .buoi i:hover {
        background-color: #fff;
        box-shadow: 0px 0px 80px 80px rgba(255, 255, 255, 0.7);
    }


    .lct-dong-ho .gio i {
        position: absolute;
        line-height: 0.7em;
        cursor: pointer;
    }

        .lct-dong-ho .gio i:before {
            font-style: normal;
            font-family: Berlin;
            color: #ddd;
            transition: 0.5s;
        }

    .lct-dong-ho[data-buoi="toi"] .gio i:before {
        color: #fff;
    }

    .lct-dong-ho .gio i:hover:before {
        color: #08c;
    }

    .lct-dong-ho .gio i:before {
        content: '1';
    }

    .lct-dong-ho .gio i:nth-child(2):before {
        content: '2';
    }

    .lct-dong-ho .gio i:nth-child(3):before {
        content: '3';
    }

    .lct-dong-ho .gio i:nth-child(4):before {
        content: '4';
    }

    .lct-dong-ho .gio i:nth-child(5):before {
        content: '5';
    }

    .lct-dong-ho .gio i:nth-child(6):before {
        content: '6';
    }

    .lct-dong-ho .gio i:nth-child(7):before {
        content: '7';
    }

    .lct-dong-ho .gio i:nth-child(8):before {
        content: '8';
    }

    .lct-dong-ho .gio i:nth-child(9):before {
        content: '9';
    }

    .lct-dong-ho .gio i:nth-child(10):before {
        content: '10';
    }

    .lct-dong-ho .gio i:nth-child(11):before {
        content: '11';
    }

    .lct-dong-ho .gio i:nth-child(12):before {
        content: '12';
    }

    .lct-dong-ho[data-gio="1"] .gio i:nth-child(1):before,
    .lct-dong-ho[data-gio="2"] .gio i:nth-child(2):before,
    .lct-dong-ho[data-gio="3"] .gio i:nth-child(3):before,
    .lct-dong-ho[data-gio="4"] .gio i:nth-child(4):before,
    .lct-dong-ho[data-gio="5"] .gio i:nth-child(5):before,
    .lct-dong-ho[data-gio="6"] .gio i:nth-child(6):before,
    .lct-dong-ho[data-gio="7"] .gio i:nth-child(7):before,
    .lct-dong-ho[data-gio="8"] .gio i:nth-child(8):before,
    .lct-dong-ho[data-gio="9"] .gio i:nth-child(9):before,
    .lct-dong-ho[data-gio="10"] .gio i:nth-child(10):before,
    .lct-dong-ho[data-gio="11"] .gio i:nth-child(11):before,
    .lct-dong-ho[data-gio="12"] .gio i:nth-child(12):before .lct-dong-ho[data-gio="0"] .gio i:nth-child(12):before,
    .lct-dong-ho[data-buoi="toi"] .gio i:hover:before {
        color: #08c;
        text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff;
    }

    .lct-dong-ho .gio i:nth-child(1) {
        top: 53px;
        left: 113px;
        font-size: 84px;
        transform: rotate(14deg);
        z-index: 18;
    }

    .lct-dong-ho .gio i:nth-child(2) {
        top: 18px;
        left: 133px;
        font-size: 75px;
        transform: rotate(-33deg);
        z-index: 16;
    }

    .lct-dong-ho .gio i:nth-child(3) {
        top: 63px;
        left: 152px;
        font-size: 87px;
        transform: rotate(59deg);
        z-index: 17;
    }

    .lct-dong-ho .gio i:nth-child(4) {
        top: 103px;
        left: 154px;
        font-size: 72px;
        transform: rotate(21deg);
        z-index: 16;
    }

    .lct-dong-ho .gio i:nth-child(5) {
        top: 114px;
        left: 111px;
        font-size: 95px;
        transform: rotate(-26deg);
        z-index: 17;
    }

    .lct-dong-ho .gio i:nth-child(6) {
        top: 145px;
        left: 86px;
        font-size: 66px;
        transform: rotate(-10deg);
        z-index: 16;
    }

    .lct-dong-ho .gio i:nth-child(7) {
        top: 120px;
        left: 59px;
        font-size: 91px;
        transform: rotate(19deg);
        z-index: 16;
    }

    .lct-dong-ho .gio i:nth-child(8) {
        top: 112px;
        left: 27px;
        font-size: 72px;
        transform: rotate(-20deg);
        z-index: 16;
    }

    .lct-dong-ho .gio i:nth-child(9) {
        top: 71px;
        left: 14px;
        font-size: 64px;
        transform: rotate(10deg);
        z-index: 17;
    }

    .lct-dong-ho .gio i:nth-child(10) {
        top: 65px;
        left: 48px;
        font-size: 67px;
        transform: rotate(-37deg);
        z-index: 16;
    }

    .lct-dong-ho .gio i:nth-child(11) {
        top: 30px;
        left: 38px;
        font-size: 66px;
        transform: rotate(41deg);
        z-index: 16;
    }

    .lct-dong-ho .gio i:nth-child(12) {
        top: 7px;
        left: 76px;
        font-size: 70px;
        z-index: 16;
    }


    .lct-dong-ho .phut i {
        display: block;
        width: 2px;
        height: 7px;
        position: absolute;
        z-index: 19;
        background-color: #ddd;
        left: 100px;
        top: 0px;
        border-radius: 0px 0px 40% 40%;
        transform-origin: center 105px;
        cursor: pointer;
        transition: 0.5s;
        border: 4px solid #fcfcfc;
        border-top: none;
    }

    .lct-dong-ho[data-buoi="toi"] .phut i {
        background-color: #fff;
        border-color: #ddd;
    }

    .lct-dong-ho .phut i:nth-child(5n) {
        width: 4px;
        height: 10px;
        left: 99px;
    }

    .lct-dong-ho .phut i:nth-child(1) {
        transform: rotate(6deg);
    }

    .lct-dong-ho .phut i:nth-child(2) {
        transform: rotate(12deg);
    }

    .lct-dong-ho .phut i:nth-child(3) {
        transform: rotate(18deg);
    }

    .lct-dong-ho .phut i:nth-child(4) {
        transform: rotate(24deg);
    }

    .lct-dong-ho .phut i:nth-child(5) {
        transform: rotate(30deg);
    }

    .lct-dong-ho .phut i:nth-child(6) {
        transform: rotate(36deg);
    }

    .lct-dong-ho .phut i:nth-child(7) {
        transform: rotate(42deg);
    }

    .lct-dong-ho .phut i:nth-child(8) {
        transform: rotate(48deg);
    }

    .lct-dong-ho .phut i:nth-child(9) {
        transform: rotate(54deg);
    }

    .lct-dong-ho .phut i:nth-child(10) {
        transform: rotate(60deg);
    }

    .lct-dong-ho .phut i:nth-child(11) {
        transform: rotate(66deg);
    }

    .lct-dong-ho .phut i:nth-child(12) {
        transform: rotate(72deg);
    }

    .lct-dong-ho .phut i:nth-child(13) {
        transform: rotate(78deg);
    }

    .lct-dong-ho .phut i:nth-child(14) {
        transform: rotate(84deg);
    }

    .lct-dong-ho .phut i:nth-child(15) {
        transform: rotate(90deg);
    }

    .lct-dong-ho .phut i:nth-child(16) {
        transform: rotate(96deg);
    }

    .lct-dong-ho .phut i:nth-child(17) {
        transform: rotate(102deg);
    }

    .lct-dong-ho .phut i:nth-child(18) {
        transform: rotate(108deg);
    }

    .lct-dong-ho .phut i:nth-child(19) {
        transform: rotate(114deg);
    }

    .lct-dong-ho .phut i:nth-child(20) {
        transform: rotate(120deg);
    }

    .lct-dong-ho .phut i:nth-child(21) {
        transform: rotate(126deg);
    }

    .lct-dong-ho .phut i:nth-child(22) {
        transform: rotate(132deg);
    }

    .lct-dong-ho .phut i:nth-child(23) {
        transform: rotate(138deg);
    }

    .lct-dong-ho .phut i:nth-child(24) {
        transform: rotate(144deg);
    }

    .lct-dong-ho .phut i:nth-child(25) {
        transform: rotate(150deg);
    }

    .lct-dong-ho .phut i:nth-child(26) {
        transform: rotate(156deg);
    }

    .lct-dong-ho .phut i:nth-child(27) {
        transform: rotate(162deg);
    }

    .lct-dong-ho .phut i:nth-child(28) {
        transform: rotate(168deg);
    }

    .lct-dong-ho .phut i:nth-child(29) {
        transform: rotate(174deg);
    }

    .lct-dong-ho .phut i:nth-child(30) {
        transform: rotate(180deg);
    }

    .lct-dong-ho .phut i:nth-child(31) {
        transform: rotate(186deg);
    }

    .lct-dong-ho .phut i:nth-child(32) {
        transform: rotate(192deg);
    }

    .lct-dong-ho .phut i:nth-child(33) {
        transform: rotate(198deg);
    }

    .lct-dong-ho .phut i:nth-child(34) {
        transform: rotate(204deg);
    }

    .lct-dong-ho .phut i:nth-child(35) {
        transform: rotate(210deg);
    }

    .lct-dong-ho .phut i:nth-child(36) {
        transform: rotate(216deg);
    }

    .lct-dong-ho .phut i:nth-child(37) {
        transform: rotate(222deg);
    }

    .lct-dong-ho .phut i:nth-child(38) {
        transform: rotate(228deg);
    }

    .lct-dong-ho .phut i:nth-child(39) {
        transform: rotate(234deg);
    }

    .lct-dong-ho .phut i:nth-child(40) {
        transform: rotate(240deg);
    }

    .lct-dong-ho .phut i:nth-child(41) {
        transform: rotate(246deg);
    }

    .lct-dong-ho .phut i:nth-child(42) {
        transform: rotate(252deg);
    }

    .lct-dong-ho .phut i:nth-child(43) {
        transform: rotate(258deg);
    }

    .lct-dong-ho .phut i:nth-child(44) {
        transform: rotate(264deg);
    }

    .lct-dong-ho .phut i:nth-child(45) {
        transform: rotate(270deg);
    }

    .lct-dong-ho .phut i:nth-child(46) {
        transform: rotate(276deg);
    }

    .lct-dong-ho .phut i:nth-child(47) {
        transform: rotate(282deg);
    }

    .lct-dong-ho .phut i:nth-child(48) {
        transform: rotate(288deg);
    }

    .lct-dong-ho .phut i:nth-child(49) {
        transform: rotate(294deg);
    }

    .lct-dong-ho .phut i:nth-child(50) {
        transform: rotate(300deg);
    }

    .lct-dong-ho .phut i:nth-child(51) {
        transform: rotate(306deg);
    }

    .lct-dong-ho .phut i:nth-child(52) {
        transform: rotate(312deg);
    }

    .lct-dong-ho .phut i:nth-child(53) {
        transform: rotate(318deg);
    }

    .lct-dong-ho .phut i:nth-child(54) {
        transform: rotate(324deg);
    }

    .lct-dong-ho .phut i:nth-child(55) {
        transform: rotate(330deg);
    }

    .lct-dong-ho .phut i:nth-child(56) {
        transform: rotate(336deg);
    }

    .lct-dong-ho .phut i:nth-child(57) {
        transform: rotate(342deg);
    }

    .lct-dong-ho .phut i:nth-child(58) {
        transform: rotate(348deg);
    }

    .lct-dong-ho .phut i:nth-child(59) {
        transform: rotate(354deg);
    }

    .lct-dong-ho .phut i:nth-child(60) {
        transform: rotate(0deg);
    }

    .lct-dong-ho[data-phut="1"] .phut i:nth-child(1),
    .lct-dong-ho[data-phut="2"] .phut i:nth-child(2),
    .lct-dong-ho[data-phut="3"] .phut i:nth-child(3),
    .lct-dong-ho[data-phut="4"] .phut i:nth-child(4),
    .lct-dong-ho[data-phut="5"] .phut i:nth-child(5),
    .lct-dong-ho[data-phut="6"] .phut i:nth-child(6),
    .lct-dong-ho[data-phut="7"] .phut i:nth-child(7),
    .lct-dong-ho[data-phut="8"] .phut i:nth-child(8),
    .lct-dong-ho[data-phut="9"] .phut i:nth-child(9),
    .lct-dong-ho[data-phut="10"] .phut i:nth-child(10),
    .lct-dong-ho[data-phut="11"] .phut i:nth-child(11),
    .lct-dong-ho[data-phut="12"] .phut i:nth-child(12),
    .lct-dong-ho[data-phut="13"] .phut i:nth-child(13),
    .lct-dong-ho[data-phut="14"] .phut i:nth-child(14),
    .lct-dong-ho[data-phut="15"] .phut i:nth-child(15),
    .lct-dong-ho[data-phut="16"] .phut i:nth-child(16),
    .lct-dong-ho[data-phut="17"] .phut i:nth-child(17),
    .lct-dong-ho[data-phut="18"] .phut i:nth-child(18),
    .lct-dong-ho[data-phut="19"] .phut i:nth-child(19),
    .lct-dong-ho[data-phut="20"] .phut i:nth-child(20),
    .lct-dong-ho[data-phut="21"] .phut i:nth-child(21),
    .lct-dong-ho[data-phut="22"] .phut i:nth-child(22),
    .lct-dong-ho[data-phut="23"] .phut i:nth-child(23),
    .lct-dong-ho[data-phut="24"] .phut i:nth-child(24),
    .lct-dong-ho[data-phut="25"] .phut i:nth-child(25),
    .lct-dong-ho[data-phut="26"] .phut i:nth-child(26),
    .lct-dong-ho[data-phut="27"] .phut i:nth-child(27),
    .lct-dong-ho[data-phut="28"] .phut i:nth-child(28),
    .lct-dong-ho[data-phut="29"] .phut i:nth-child(29),
    .lct-dong-ho[data-phut="30"] .phut i:nth-child(30),
    .lct-dong-ho[data-phut="31"] .phut i:nth-child(31),
    .lct-dong-ho[data-phut="32"] .phut i:nth-child(32),
    .lct-dong-ho[data-phut="33"] .phut i:nth-child(33),
    .lct-dong-ho[data-phut="34"] .phut i:nth-child(34),
    .lct-dong-ho[data-phut="35"] .phut i:nth-child(35),
    .lct-dong-ho[data-phut="36"] .phut i:nth-child(36),
    .lct-dong-ho[data-phut="37"] .phut i:nth-child(37),
    .lct-dong-ho[data-phut="38"] .phut i:nth-child(38),
    .lct-dong-ho[data-phut="39"] .phut i:nth-child(39),
    .lct-dong-ho[data-phut="40"] .phut i:nth-child(40),
    .lct-dong-ho[data-phut="41"] .phut i:nth-child(41),
    .lct-dong-ho[data-phut="42"] .phut i:nth-child(42),
    .lct-dong-ho[data-phut="43"] .phut i:nth-child(43),
    .lct-dong-ho[data-phut="44"] .phut i:nth-child(44),
    .lct-dong-ho[data-phut="45"] .phut i:nth-child(45),
    .lct-dong-ho[data-phut="46"] .phut i:nth-child(46),
    .lct-dong-ho[data-phut="47"] .phut i:nth-child(47),
    .lct-dong-ho[data-phut="48"] .phut i:nth-child(48),
    .lct-dong-ho[data-phut="49"] .phut i:nth-child(49),
    .lct-dong-ho[data-phut="50"] .phut i:nth-child(50),
    .lct-dong-ho[data-phut="51"] .phut i:nth-child(51),
    .lct-dong-ho[data-phut="52"] .phut i:nth-child(52),
    .lct-dong-ho[data-phut="53"] .phut i:nth-child(53),
    .lct-dong-ho[data-phut="54"] .phut i:nth-child(54),
    .lct-dong-ho[data-phut="55"] .phut i:nth-child(55),
    .lct-dong-ho[data-phut="56"] .phut i:nth-child(56),
    .lct-dong-ho[data-phut="57"] .phut i:nth-child(57),
    .lct-dong-ho[data-phut="58"] .phut i:nth-child(58),
    .lct-dong-ho[data-phut="59"] .phut i:nth-child(59),
    .lct-dong-ho[data-phut="60"] .phut i:nth-child(60),
    .lct-dong-ho[data-phut="0"] .phut i:nth-child(60),
    .lct-dong-ho .phut i:hover {
        width: 4px;
        height: 10px;
        left: 99px;
        background-color: #08c;
    }

/*#endregion */

/*#region Lịch */

.lich {
    width: 212px;
    background-image: linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    border: 1px solid #ddd;
    padding: 5px;
    font-family: Berlin;
    position: absolute;
    z-index: 20;
}

    .lich[data-trang-thai="an"] {
        left: -9999px !important;
        opacity: 0;
        transform: scale(0.7, 0.7);
        transition: transform 0.5s, opacity 0.5s, left 0s 0.5s;
    }

    .lich[data-trang-thai="hien"] {
        transform: none;
        opacity: 1;
        transition: transform 0.5s, opacity 0.5s;
    }

    .lich .thang-nam {
        font-size: 30px;
        text-align: center;
        color: #555;
        border: 1px solid #eee;
        border-bottom: 1px dashed #f0f0f0;
        background-color: #fafafa;
        position: relative;
        height: 35px;
        overflow: hidden;
    }

        .lich .thang-nam a {
            display: block;
            background-color: #aaa;
            height: 20px;
            width: 5px;
            position: absolute;
            top: 7.5px;
            transition: 0.5s;
        }

            .lich .thang-nam a:hover {
                background-color: #08c;
            }

            .lich .thang-nam a:before,
            .lich .thang-nam a:after {
                content: '';
                display: block;
                width: 0px;
                height: 0px;
                border: 10px solid transparent;
                position: absolute;
                transition: 0.5s;
            }

            .lich .thang-nam a:before {
                border-right-color: #aaa;
                right: 100%;
            }

            .lich .thang-nam a:hover:before {
                border-right-color: #08c;
            }

            .lich .thang-nam a:after {
                border-right-color: #fafafa;
                right: 0px;
            }

            .lich .thang-nam a.thang-truoc {
                left: 15px;
            }

            .lich .thang-nam a.thang-sau {
                right: 15px;
                transform: rotate(180deg);
            }

        .lich .thang-nam span {
            height: 35px;
            line-height: 35px;
            cursor: default;
        }

        .lich .thang-nam .thang,
        .lich .thang-nam .nam {
            position: relative;
        }

            .lich .thang-nam .thang:before,
            .lich .thang-nam .nam:before {
                content: attr(data-value);
            }

        .lich .thang-nam i {
            display: block;
            opacity: 0;
            width: 1px;
            height: 1px;
            position: absolute;
            border: 5px solid transparent;
            left: calc(50% - 5.5px);
            transition: 0.5s;
            cursor: pointer;
        }

        .lich .thang-nam .thang:hover i,
        .lich .thang-nam .nam:hover i {
            opacity: 1;
        }

        .lich .thang-nam .truoc {
            border-top-color: #555;
            bottom: -7px;
        }

            .lich .thang-nam .truoc:hover {
                border-top-color: #08c;
            }

        .lich .thang-nam .sau {
            border-bottom-color: #555;
            top: -4px;
        }

            .lich .thang-nam .sau:hover {
                border-bottom-color: #08c;
            }

    .lich .khung-thang {
        border: 1px solid #eee;
        border-top: none;
        width: 210px;
        background-color: #fcfcfc;
    }

        .lich .khung-thang table {
            width: 100%;
        }

        .lich .khung-thang td,
        .lich .khung-thang th {
            width: 14.285%;
            text-align: center;
        }

        .lich .khung-thang th {
            font-size: 18px;
            color: #555;
            cursor: default;
        }

        .lich .khung-thang td {
            padding: 1px 2px;
            color: #777;
        }

            .lich .khung-thang td i {
                display: none;
                font-style: normal;
                border: 1px solid #fafafa;
                background-color: #fff;
                position: relative;
                cursor: pointer;
                transition: 0.5s;
            }

                .lich .khung-thang td i[data-value] {
                    display: block;
                }

                .lich .khung-thang td i.chon {
                    background-color: #08c;
                    color: #fff !important;
                }

                .lich .khung-thang td i:before {
                    content: attr(data-value);
                }

                .lich .khung-thang td i:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                }

                .lich .khung-thang td i:hover {
                    color: #000;
                }

                    .lich .khung-thang td i:hover:after {
                        background-color: #08c;
                        transition: 0.5s;
                    }

/*#endregion */

/*#endregion */

/*#region Cây thư mục */

.lct-cay {
    border: 1px solid #ddd;
    position: relative;
}

    .lct-cay a {
        text-decoration: none;
    }

    /*#region Cây */

    .lct-cay .cay {
        background-color: #f8f8f8;
        padding: 15px;
        border-bottom: 1px dashed #e5e5e5;
    }

        .lct-cay .cay:after {
            content: '';
            display: block;
            clear: both;
        }

        .lct-cay .cay .nut > li {
            display: block;
            float: left;
            border: 1px solid #e5e5e5;
            background-color: #fff;
            position: relative;
            margin: 1px 2px 1px 0px;
            height: 30px;
        }

            .lct-cay .cay .nut > li:hover {
                border-color: #ddd;
            }

            .lct-cay .cay .nut > li:last-child {
                background-color: #08c;
            }

                .lct-cay .cay .nut > li:last-child > a {
                    color: #fff;
                    font-weight: bold;
                }

        .lct-cay .cay .nut a {
            display: block;
            padding: 0px 10px;
            color: #555;
            line-height: 30px;
            position: relative;
        }

            .lct-cay .cay .nut > li:not(:last-child) > a {
                padding-right: 20px;
            }

            .lct-cay .cay .nut a:hover {
                color: #000;
            }

        .lct-cay .cay .nut > li > a:after {
            content: '';
            display: block;
            width: 10px;
            height: 30px;
            background-color: #eee;
            position: absolute;
            right: 0px;
            top: 0px;
            transition: 0.5s;
        }

            .lct-cay .cay .nut > li:last-child > a:after {
                display: none;
            }

            .lct-cay .cay .nut > li:hover > a:after {
                background-color: #08c;
            }

        .lct-cay .cay .nut-con {
            display: none;
            position: absolute;
            left: 100%;
            top: -1px;
            background-color: #fff;
            border: 1px solid #ddd;
            z-index: 5;
            max-height: 100px;
            overflow-y: scroll;
        }

            .lct-cay .cay .nut > li:not(:last-child):hover .nut-con {
                display: block;
            }

        .lct-cay .cay .nut-con > li {
        }

            .lct-cay .cay .nut > li:nth-last-child(2) .nut-con > li:first-child {
                background-color: #08c;
            }

            .lct-cay .cay .nut-con > li:nth-child(even) {
                background-color: #fafafa;
            }

            .lct-cay .cay .nut-con > li + li {
                border-top: 1px solid #f8f8f8;
            }

            .lct-cay .cay .nut-con > li a {
                border-left: 3px solid #eee;
                float: none;
                white-space: nowrap;
            }

            .lct-cay .cay .nut > li:nth-last-child(2) .nut-con > li:first-child a {
                color: #fff;
                font-weight: bold;
            }

            .lct-cay .cay .nut-con > li:hover a {
                border-left-color: #08c;
            }

    /*#endregion */

    /*#region Con */

    .lct-cay .con {
        background-color: #fcfcfc;
        padding: 10px;  
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .lct-cay .con > a {
            border: 1px dashed #ddd;
            border-bottom-style: solid;
            display: none;
            text-align: center;
            padding: 20px 5px;
            color: #888;
            background-color: #fff;
            transition: 0.5s;
            position: relative;
        }

        .lct-cay .khung-danh-sach:empty + a {
            display: block;
        }

        .lct-cay .con > a:hover {
            color: #000;
        }

        .lct-cay .con > a:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #eee;
            bottom: 0px;
            left: 0px;
            transition: 0.5s;
        }

        .lct-cay .con > a:hover:after {
            background-color: #08c;
        }

        .lct-cay .con > a i {
            display: block;
            font-size: 30px;
        }

    .lct-cay .khung-danh-sach {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .lct-cay .khung-danh-sach > li {
        border: 1px solid #eee;
        background-color: #fff;
        margin: 5px;
        padding: 10px;
        width: 200px;
        position: relative;
        transition: 0.5s;
    }

        .lct-cay .khung-danh-sach > li:hover {
            border-color: #ddd;
        }

        .lct-cay .khung-danh-sach > li:after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-color: #eee;
            transition: 0.5s;
        }

        .lct-cay .khung-danh-sach > li:hover:after {
            background-color: #08c;
        }

    .lct-cay .khung-danh-sach .mo-ta {
        height: 40px;
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px dashed #eee;
    }

    .lct-cay .khung-danh-sach img {
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 5px;
    }

    .lct-cay .khung-danh-sach p {
        font-size: 11px;
        line-height: 1.3em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .lct-cay .khung-danh-sach .ten {
        display: block;
        text-align: center;
        font-weight: bold;
        color: #333;
        width: 90%;
        margin: 0 auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

        .lct-cay .khung-danh-sach .ten:hover {
            color: #000;
        }
        
    .lct-cay .khung-danh-sach .chuc-nang {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
    }

        .lct-cay .khung-danh-sach .chuc-nang i {
            display: block;
            line-height: 20px;
            width: 20px;
            text-align: center;
            opacity: 0.2;
            transition: 0.5s;
            font-size: 16px;
        }

    .lct-cay .khung-danh-sach > li:hover .chuc-nang i {
        opacity: 0.4;
    }

    .lct-cay .khung-danh-sach .chuc-nang:hover i {
        opacity: 1;
        color: #08c;
    }

    .lct-cay .khung-danh-sach .chuc-nang ul {
        position: absolute;
        display: none;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .lct-cay .khung-danh-sach .chuc-nang:hover i ~ ul {
        display: flex;
        flex-direction: column;
    }

    .lct-cay .khung-danh-sach .chuc-nang li {
        display: block;
        white-space: nowrap;
        position: relative;
    }

        .lct-cay .khung-danh-sach .chuc-nang li + li {
            border-top: 1px solid #eee;
        }

        .lct-cay .khung-danh-sach .chuc-nang li:nth-child(even) {
            background-color: #fcfcfc;
        }

        .lct-cay .khung-danh-sach .chuc-nang li:after {
            content: '';
            display: block;
            width: 3px;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: transparent;
            transition: 0.5s;
        }

        .lct-cay .khung-danh-sach .chuc-nang li:hover:after {
            background-color: #08c;
        }

    .lct-cay .khung-danh-sach .chuc-nang a {
        display: block;
        padding: 5px 10px;
    }
    
    .lct-cay .khung-danh-sach .nut-chon {
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        bottom: -20px;
        right: -20px;
        z-index: 1;
        border: 20px solid transparent;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        border-left-color: #eee;
        transition: border-left-color 0.5s;
        cursor: pointer;
    }

        .lct-cay .khung-danh-sach li:hover .nut-chon {
            border-left-color: #08c;
        }

        .lct-cay .khung-danh-sach .nut-chon:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background: url('/ChuDe.png/ChuDe') 0px 0px;
            transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            position: absolute;
            top: -8px;
            left: -21px;
        }

    /*#endregion */

    /*#region Khung chức năng */

    .lct-cay .khung-chuc-nang {
        position: absolute;
        width: 40px;
        top: -1px;
        right: -1px;
        border: 1px solid #ddd;
        background-color: #fff;
    }

        .lct-cay .khung-chuc-nang li {
            opacity: 0;
        }

            .lct-cay .khung-chuc-nang li:first-child,
            .lct-cay .khung-chuc-nang ul:hover li {
                opacity: 1;
                transition: opacity 0.5s;
            }

                .lct-cay .khung-chuc-nang li:first-child a {
                    line-height: 40px;
                    height: 40px;
                }

        .lct-cay .khung-chuc-nang a {
            display: block;
            width: 40px;
            border: none;
            text-align: center;
            font-size: 30px;
            color: #888;
            position: relative;
            height: 0px;
            line-height: 0px;
        }

        .lct-cay .khung-chuc-nang ul:hover a {
            height: 40px;
            line-height: 40px;
        }

        .lct-cay .khung-chuc-nang a:hover {
            color: #000;
        }

        .lct-cay .khung-chuc-nang li:nth-child(even) {
            background-color: #fdfdfd;
        }

        .lct-cay .khung-chuc-nang ul:hover li + li {
            border-top: 1px solid #f5f5f5;
        }

        .lct-cay .khung-chuc-nang a u {
            display: block;
            position: absolute;
            left: 0%;
            bottom: 0px;
            height: 3px;
            width: 100%;
            background-color: #ddd;
            transition: 0.5s;
        }

        .lct-cay .khung-chuc-nang a:hover u {
            background-color: #08c;
        }

        .lct-cay .khung-chuc-nang a u:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            background-color: #fff;
            transition: 0.5s;
        }

        .lct-cay .khung-chuc-nang li:nth-child(even) a u:after {
            background-color: #fcfcfc;
        }
        
        .lct-cay .khung-chuc-nang a:hover u:after {
            width: 0%;
            left: 31px;
        }

/*#endregion */

/*#endregion */

/*#region Khung button */

.lct-form .khung-button {
    border-top: 1px solid #eee;
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.lct-form button,
.lct-form a.button {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0px 20px;
    height: 35px;
    margin: 5px;
    color: #555;
    font-weight: bold;
    position: relative;
    outline: none;
    transition: color 0.5s;
}

.lct-form a.button {
    height: 33px;
    line-height: 33px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    white-space: nowrap;
}

    .lct-form button:after,
    .lct-form a.button:after {
        content: '';
        display: block;
        background-color: #eee;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0%;
        height: 3px;
        transition: 0.5s;
    }

    .lct-form button:hover:after,
    .lct-form button:focus:after,
    .lct-form a.button:hover:after,
    .lct-form a.button:focus:after {
        width: 100%;
    }
    
    .lct-form button:hover:after,
    .lct-form button:focus:after,
    .lct-form a.button:hover:after,
    .lct-form a.button:focus:after {
        background-color: #08c;
    }

    .lct-form button.thong-tin:hover:after,
    .lct-form button.thong-tin:focus:after,
    .lct-form a.button.thong-tin:hover:after,
    .lct-form a.button.thong-tin:focus:after {
        background-color: #0c0;
    }

    .lct-form button.can-than:hover:after,
    .lct-form button.can-than:focus:after,
    .lct-form a.button.can-than:hover:after,
    .lct-form a.button.can-than:focus:after {
        background-color: #fb0;
    }

    .lct-form button.nguy-hiem:hover:after,
    .lct-form button.nguy-hiem:focus:after,
    .lct-form a.button.nguy-hiem:hover:after,
    .lct-form a.button.nguy-hiem:focus:after {
        background-color: #e00;
    }

    .lct-form button:hover,
    .lct-form button:focus,
    .lct-form a.button:hover,
    .lct-form a.button:focus {
        color: #08c;
    }

    .lct-form button.thong-tin:hover,
    .lct-form button.thong-tin:focus,
    .lct-form a.button.thong-tin:hover,
    .lct-form a.button.thong-tin:focus {
        color: #0c0;
    }

    .lct-form button.can-than:hover,
    .lct-form button.can-than:focus,
    .lct-form a.button.can-than:hover,
    .lct-form a.button.can-than:focus {
        color: #fb0;
    }

    .lct-form button.nguy-hiem:hover,
    .lct-form button.nguy-hiem:focus,
    .lct-form a.button.nguy-hiem:hover,
    .lct-form a.button.nguy-hiem:focus {
        color: #e00;
    }

/*#endregion */

/*#region Table */

.lct-bang {
    width: 100%;
    background-color: #fff;
    color: #333;
    border-collapse: collapse;
    display: table;
}

.lct-bang .thead {
    display: table-header-group;
}

.lct-bang .tbody {
    display: table-row-group;
}

.lct-bang .tfoot {
    display: table-footer-group;
}

.lct-bang .tr {
    display: table-row;
}

.lct-bang .td,
.lct-bang .th {
    display: table-cell;
}

.lct-bang .td,
.lct-bang .th,
.lct-bang td,
.lct-bang th {
    border: 1px solid #eee;
}

.lct-bang .td,
.lct-bang td {
    padding: 5px;
}

.lct-bang .thead .th,
.lct-bang thead th {
    text-align: center;
    font-weight: bold;
    position: relative;
    padding: 10px;
    vertical-align: middle;
}

    .lct-bang .thead .th:not(.khong-vien):after,
    .lct-bang thead th:not(.khong-vien):after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #08c;
    }
    
.lct-bang .tbody .th,
.lct-bang tbody th {
    text-align: center;
    font-weight: bold;
    position: relative;
    padding: 5px 10px;
    vertical-align: middle;
}

    .lct-bang .tbody .th:not(.khong-vien):after,
    .lct-bang tbody th:not(.khong-vien):after {
        content: '';
        display: block;
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #08c;
    }
    
.lct-bang .tr:nth-child(odd),
.lct-bang tr:nth-child(odd) {
    background-color: #fcfcfc;
}

.lct-bang .tbody .tr:hover,
.lct-bang tbody tr:hover {
    background-color: #f5f5f5;
}

/*#endregion */