.lct-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px;
}
    .lct-form:after {
        content: '';
        display: block;
        clear: both;
    }
.lct-form > article {
    background-color: #fcfcfc;
    border: 1px solid #eee;
}
.lct-form > article > ul {
    padding: 10px;
}
.lct-form > article > ul > li {
    display: flex;
    margin: 10px 0px;
}
.lct-form > article > ul > li > .tieu-de {
    min-width: 200px;
    max-width: 200px;
}
.lct-form > article > ul > li > .noi-dung {
    width: 100%;
}
.lct-form .tieu-de label {
    color: #555;
    text-align: right;
    display: block;
    padding: 5px;
    padding-right: 10px;
    line-height: 20px;
}
.lct-form .input {
    border: 1px solid #ddd;
    background-color: #fff;
}
/*#region text, password */

.lct-form input:not([type]),
.lct-form input[type="text"],
.lct-form input[type="password"] {
    border: none;
    line-height: 20px;
    padding: 5px 8px;
    width: calc(100% - 19px);
    outline: none;
    border-left: 3px solid #eee;
    transition: 0.5s;
}
    .lct-form input:not([type]):hover,
    .lct-form input[type="text"]:hover,
    .lct-form input[type="password"]:hover,
    .lct-form input:not([type]):focus,
    .lct-form input[type="text"]:focus,
    .lct-form input[type="password"]:focus {
        border-left-color: #08c;
    }

/*#endregion */

/*#region Textarea */

.lct-form textarea {
    min-width: calc(100% - 19px);
    max-width: calc(100% - 19px);
    padding: 5px 8px;
    border: none;
    outline: none;
    margin-bottom: -3px;
    border-left: 3px solid #eee;
    transition: border-left-color 0.5s;
    height: 100px;
}

    .lct-form textarea:hover,
    .lct-form textarea:focus {
        border-left-color: #08c;
    }

/*#endregion */

/*#region Checkbox, Radio */

.lct-form .lct-checkbox-radio-label {
    display: block;
    padding: 5px;
}
.lct-form input[type="checkbox"],
.lct-form input[type="radio"] {
    display: none;
}
.lct-form input[type="checkbox"] + u,
.lct-form input[type="radio"] + u {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    padding: 1px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin-right: 4px;
}
.lct-form input[type="radio"] + u {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
}
    .lct-form input[type="checkbox"] + u:before,
    .lct-form input[type="radio"] + u:before {
        content: '';
        height: 14px;
        display: block;
        background-color: #eee;
        transition: 0.5s;
    }
    .lct-form input[type="checkbox"] + u:before {
        width: 3px;
    }
    .lct-form input[type="radio"] + u:before {
        width: 14px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        transform: scale(0.3);
    }
    .lct-form label:hover > input[type="checkbox"] + u:before {
        width: 5px;
        background-color: #08c;
    }
    .lct-form label:hover > input[type="radio"] + u:before {
        transform: scale(0.5);
        background-color: #08c;
    }
    .lct-form input[type="checkbox"]:checked + u:before,
    .lct-form input[type="radio"]:checked + u:before {
        background-color: #08c;
    }
    .lct-form input[type="checkbox"]:checked + u:before {
        width: 14px;
    }
    .lct-form input[type="radio"]:checked + u:before {
        transform: scale(0.95);
    }
    .lct-form label:hover > input[type="checkbox"]:checked + u:before {
        width: 11px;
    }
    .lct-form label:hover > input[type="radio"]:checked + u:before {
        transform: scale(0.8);
    }

/*#endregion */

/*#region Fileupload */

.lct-form .lct-file-label {
    display: block;
    padding: 5px;
    border-left: 3px solid #eee;
    transition: 0.5s;
}
    .lct-form .lct-file-label:hover {
        border-left-color: #08c;
    }
.lct-form input[type="file"] {
    display: none;
}
.lct-form input[type="file"] + u {
    text-decoration: none !important;
    margin-right: 4px;
}
.lct-form input[type="file"] + u:before {
    content: '\e68a';
    font-family: 'Pe-icon-7-stroke';
    font-size: 16px;
    vertical-align: middle;
}

/*#endregion */

/*#region Khung button */

.lct-form .lct-khung-button {
    border-top: 1px solid #eee;
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
}
.lct-form button {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0px 20px;
    height: 35px;
    margin: 0px 3px;
    font-weight: bold;
    color: #333;
    position: relative;
    outline: none;
    transition: color 0.5s;
}
    .lct-form button:after {
        content: '';
        display: block;
        background-color: #eee;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0%;
        height: 3px;
        transition: 0.5s;
    }
    .lct-form button:hover:after,
    .lct-form button:focus:after {
        width: 100%;
    }
    .lct-form button.chap-nhan:hover:after,
    .lct-form button.chap-nhan:focus:after {
        background-color: #08c;
    }
    .lct-form button.thong-tin:hover:after,
    .lct-form button.thong-tin:focus:after {
        background-color: #0c0;
    }
    .lct-form button.can-than:hover:after,
    .lct-form button.can-than:focus:after {
        background-color: #fb0;
    }
    .lct-form button.nguy-hiem:hover:after,
    .lct-form button.nguy-hiem:focus:after {
        background-color: #e00;
    }
    .lct-form button.chap-nhan:hover,
    .lct-form button.chap-nhan:focus {
        color: #08c;
    }
    .lct-form button.thong-tin:hover,
    .lct-form button.thong-tin:focus {
        color: #0c0;
    }
    .lct-form button.can-than:hover,
    .lct-form button.can-than:focus {
        color: #fb0;
    }
    .lct-form button.nguy-hiem:hover,
    .lct-form button.nguy-hiem:focus {
        color: #e00;
    }

/*#endregion */