/*#region General */

* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body {
    background-color: #f5f5f5;
    position: relative;
}
body, textarea, select, input {
    font: normal 13px 'Segoe ui';
}
a {
    cursor: pointer;
    color: #333;
    text-decoration: none;  
}
a[href]:hover {
    text-decoration: underline;
}
.tat:not([data-chi-an]) {
    display: none !important;
}
.tat[data-chi-an],
.an {
    opacity: 0.5 !important;
    pointer-events: none !important;
}
@font-face {
    font-family: Berlin;
    src: url('/Berlin.ttf/');
}
@font-face {
    font-family: Akashi;
    src: url('/Akashi.ttf/');
}
@font-face {
    font-family: TamLe;
    src: url('/TamLe.ttf/');
}

/*#endregion */

/*#region Biểu tượng tải */

@-webkit-keyframes dang-tai{ 
    0% {
        -webkit-transform: translate(0px, 0px);
        font-size: 10px;
        opacity: 0.5;
    }
    10% {
        -webkit-transform: translate(0px, 0px);
        font-size: 10px;
        opacity: 0.5;
    }
    30% {
        -webkit-transform: translate(20px, -30px);
        font-size: 30px;
        opacity: 1;
    }
    50% {
        -webkit-transform: translate(20px, 0px);
        font-size: 10px;
        opacity: 0.5;
    }
    60% {
        -webkit-transform: translate(0px, 0px);
    }
}

@-moz-keyframes dang-tai{ 
    0% {
        -moz-transform: translate(0px, 0px);
        font-size: 10px;
        opacity: 0.5;
    }
    10% {
        -moz-transform: translate(0px, 0px);
        font-size: 10px;
        opacity: 0.5;
    }
    30% {
        -moz-transform: translate(20px, -30px);
        font-size: 30px;
        opacity: 1;
    }
    50% {
        -moz-transform: translate(20px, 0px);
        font-size: 10px;
        opacity: 0.5;
    }
    60% {
        -moz-transform: translate(0px, 0px);
    }
}

@keyframes dang-tai{ 
    0% {
        transform: translate(0px, 0px);
        font-size: 10px;
        opacity: 0.5;
    }
    10% {
        transform: translate(0px, 0px);
        font-size: 10px;
        opacity: 0.5;
    }
    30% {
        transform: translate(20px, -30px);
        font-size: 30px;
        opacity: 1;
    }
    50% {
        transform: translate(20px, 0px);
        font-size: 10px;
        opacity: 0.5;
    }
    60% {
        transform: translate(0px, 0px);
    }
}

body.dang-tai-lct {
    cursor: progress !important;
}

body.tai > .khung {
    display: none;
}

.bieu-tuong-tai-lct {
    display: block;
    position: absolute;
    padding-left: 5px;
    text-align: left;
    z-index: 9;
}

.bieu-tuong-tai-lct_page {
    position: fixed;
    bottom: 60%;
    width: 100%;
    display: block;
    padding-left: 0;
    text-align: center;
}

    .bieu-tuong-tai-lct i {
        opacity: 0.5;
        display: inline-block;
        font-size: 10px;
        -webkit-animation: dang-tai 3s infinite ease-in-out;
        -moz-animation: dang-tai 2s infinite ease-in-out;
        color: transparent;
        line-height: 0;
    }

        .bieu-tuong-tai-lct i:nth-child(6):before {
            content: 'e'
        }

        .bieu-tuong-tai-lct i:nth-child(5):before {
            content: 'l'
        }

        .bieu-tuong-tai-lct i:nth-child(4):before {
            content: 'd'
        }

        .bieu-tuong-tai-lct i:nth-child(3):before {
            content: 'o'
        }

        .bieu-tuong-tai-lct i:nth-child(2):before {
            content: 'o'
        }

        .bieu-tuong-tai-lct i:nth-child(1):before {
            content: 'M'
        }

        .bieu-tuong-tai-lct i:nth-child(6) {
            -webkit-animation-delay: 1s;
            -moz-animation-delay: 1s;
            animation-delay: 1s;
            color: #0c0;
        }

        .bieu-tuong-tai-lct i:nth-child(5) {
            -webkit-animation-delay: 0.8s;
            -moz-animation-delay: 0.8s;
            animation-delay: 0.8s;
            color: #f90;
        }

        .bieu-tuong-tai-lct i:nth-child(4) {
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            color: #e00;
        }

        .bieu-tuong-tai-lct i:nth-child(3) {
            -webkit-animation-delay: 0.4s;
            -moz-animation-delay: 0.4s;
            animation-delay: 0.4s;
            color: #6b00b2;
        }

        .bieu-tuong-tai-lct i:nth-child(2) {
            -webkit-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
            animation-delay: 0.2s;
            color: #6b00b2;
        }

        .bieu-tuong-tai-lct i:nth-child(1) {
            -webkit-animation-delay: 0s;
            -moz-animation-delay: 0s;
            animation-delay: 0s;
            color: #08c;
        }

        .item-tai-lct {
            opacity: 0.5;
            pointer-events: none;
        }

/*#endregion */

/*#region Khung chức năng */

.khung-chuc-nang-lct {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 1;
}

    .khung-chuc-nang-lct button {
        background-color: transparent;
        border: 0;
        outline: 0;
        height: 15px;
        width: 15px;
        cursor: pointer;
    }

        .khung-chuc-nang-lct button i {
            display: block;
            font-size: 15px;
            transition: 0.5s;
            color: #ddd;
            opacity: 0.3;
        }
            
            :hover > .khung-chuc-nang-lct button i,
            .khung-chuc-nang-lct ul.mo + button i {
                opacity: 1;
            }
                
            .khung-chuc-nang-lct button:hover i {
                color: #08c;
            }

    .khung-chuc-nang-lct ul {
        position: absolute;
        top: 21px;
        right: -3px;
        background-color: #fff;
        border: 1px solid #ddd;
        display: none;
        z-index: 1;
    }

        .khung-chuc-nang-lct ul:before,
        .khung-chuc-nang-lct ul:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            position: absolute;
        }
        
        .khung-chuc-nang-lct:not(.ben-trai):not(.ben-phai) ul:before,
        .khung-chuc-nang-lct:not(.ben-trai):not(.ben-phai) ul:after  {
            right: 5px;
        }
        
        .khung-chuc-nang-lct:not(.ben-trai):not(.ben-phai) ul:before {
            border-bottom-color: #ddd;
            top: -10px;
        }
        
        .khung-chuc-nang-lct:not(.ben-trai):not(.ben-phai) ul:after {
            border-bottom-color: #fff;
            top: -9px;
        }
        
        .khung-chuc-nang-lct.ben-trai ul:before,
        .khung-chuc-nang-lct.ben-trai ul:after,
        .khung-chuc-nang-lct.ben-phai ul:before,
        .khung-chuc-nang-lct.ben-phai ul:after {
            top: 5px;
        }

        .khung-chuc-nang-lct.ben-trai ul {
            top: -4px;
            right: 22px;
        }

        .khung-chuc-nang-lct.ben-trai ul:before {
            border-left-color: #ddd;
            right: -10px;
        }

        .khung-chuc-nang-lct.ben-trai ul:after {
            border-left-color: #fff;
            right: -9px;
        }

        .khung-chuc-nang-lct.ben-phai ul {
            top: -4px;
            left: 22px;
            right: initial;
        }

        .khung-chuc-nang-lct.ben-phai ul:before {
            border-right-color: #ddd;
            left: -10px;
            right: initial;
        }

        .khung-chuc-nang-lct.ben-phai ul:after {
            border-right-color: #fff;
            left: -9px;
            right: initial;
        }

        .khung-chuc-nang-lct.ben-phai li a:before {
            left: initial;
            right: 0;
        }

    .khung-chuc-nang-lct li a {
        display: block;
        padding: 3px 10px;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        position: relative;
        white-space: nowrap;
        cursor: pointer;
    }

        .khung-chuc-nang-lct li:last-child a {
            border-bottom: 0;
        }

        .khung-chuc-nang-lct li:nth-child(even) a {
            background-color: #fcfcfc;
        }

        .khung-chuc-nang-lct li a:before {
            content: '';
            display: block;
            position: absolute;
            width: 3px;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #eee;
            transition: 0.5s;
        }

            .khung-chuc-nang-lct li a:hover:before {
                background-color: #08c;
            }

/*#endregion */

/*#region Nội dung CKEDITOR */

.noi-dung-ckeditor {
    line-height: 1.8;
}

.noi-dung-ckeditor blockquote {
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
    margin: 5px 0;
}

.noi-dung-ckeditor .cke_contents_ltr blockquote {
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.noi-dung-ckeditor .cke_contents_rtl blockquote {
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

.noi-dung-ckeditor a {
	color: #0782C1;
}

.noi-dung-ckeditor ol,
.noi-dung-ckeditor ul,
.noi-dung-ckeditor dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
    margin: 5px 0;
}

.noi-dung-ckeditor ol {
    list-style-type: decimal;
}

.noi-dung-ckeditor ul {
    list-style-type: disc;
}

.noi-dung-ckeditor h1,
.noi-dung-ckeditor h2,
.noi-dung-ckeditor h3,
.noi-dung-ckeditor h4,
.noi-dung-ckeditor h5,
.noi-dung-ckeditor h6 {
    margin: 5px 0;
    font-size: 1.5em;
}

.noi-dung-ckeditor p {
    margin: 5px 0;
    text-indent: 10px;
}

.noi-dung-ckeditor hr {
	border: 0px;
	border-top: 1px solid #ccc;
    margin: 5px 0;
}

.noi-dung-ckeditor img.right {
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

.noi-dung-ckeditor img.left {
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

.noi-dung-ckeditor pre {
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	tab-size: 4;
    margin: 5px 0;
}

.noi-dung-ckeditor .marker {
	background-color: Yellow;
}

.noi-dung-ckeditor span[lang] {
	font-style: italic;
}

.noi-dung-ckeditor figure {
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

.noi-dung-ckeditor figure > figcaption {
	text-align: center;
	display: block; /* For IE8 */
}

.noi-dung-ckeditor a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}

/*#endregion */

/*#region Khung hộp */

.hop-2-vien > .noi-dung {
    padding: 5px;
    position: relative;
    border: 1px solid #ddd;
    background-color: #fff;
}
    .hop-2-vien > .noi-dung > * {
        display: block;
        background-color: #fcfcfc;
        border: 1px solid #eee;
    }

.hop-1-vien > .noi-dung {
    background-color: #fcfcfc;
    border: 1px solid #ddd;    
}

.hop {
    margin-bottom: 20px;
}
.hop:last-child {
    margin-bottom: 0px;
}

.hop > .tieu-de {
    font-size: 18px;
    color: #08c;
    line-height: 30px;
    margin-bottom: 5px;
}
.hop > .tieu-de.can-giua {
    text-align: center;
}
.hop > .noi-dung {

}
.hop-form {

}
.hop-form > .tieu-de {
    text-align: center;
    font-size: 30px;
    color: #08c;
    line-height: 30px;
    margin-bottom: 20px;
}
.hop-form > .noi-dung {
    width: 50%;
    margin: 0 auto;
}

/*#endregion */

/*#region Popup */

body.khong-scroll {
    overflow: hidden;
}

body.khong-scroll > .khung {
    overflow-y: scroll;
}

.popup-full-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    display: none;
}

    .popup-full-container.popup-mo {
        display: block;
    }

    .popup-full-container .khung-tat {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    

@keyframes mo-popup-full {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

    .popup-full-container .popup-full {
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
    }

        .popup-full-container.popup-mo .popup-full {
            animation: mo-popup-full 0.5s;
        }

@keyframes mo-popup-noi-dung { 
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

        .popup-full-container > .popup-full > .khung-noi-dung {
            text-align: left;
            max-width: 90vw;
            max-height: 90vh;
            background-color: #f5f5f5;
            padding: 5px;
            border: 1px solid #ddd;
            position: relative;
            overflow: auto;
        }

            .popup-full-container.popup-mo  > .popup-full > .khung-noi-dung {
                animation: mo-popup-noi-dung 0.5s;
            }
            
    .popup-full-container > .popup-full .khung-popup-tap-tin {
        position: relative;
    }

        .popup-full-container > .popup-full .khung-popup-tap-tin .noi-dung {
            padding: 10px;
        }

        .popup-full-container > .popup-full .khung-popup-tap-tin .chuc-nang {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            opacity: .2;
            transition: 0.5s;
            background-color: #000;
            text-align: right;
        }
        
            .popup-full-container > .popup-full .khung-popup-tap-tin .chuc-nang:hover {
                opacity: .6;
            }

            .popup-full-container > .popup-full .khung-popup-tap-tin .chuc-nang a {
                padding: 5px 10px;
                display: inline-block;
                color: #fff;
                font-weight: bold;
            }

                .popup-full-container > .popup-full .khung-popup-tap-tin .chuc-nang a:hover {
                    text-decoration: none;
                }

/*#endregion */

/*#region Phân trang */

ul.phan-trang-lct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    ul.phan-trang-lct li {
        margin: 2px;
        border: 1px solid #eee;
    }

        ul.phan-trang-lct li a {
            display: block;
            padding: 5px;
            background-color: #fff;
            font-family: Berlin;
            font-size: 15px;
            min-width: 15px;
            text-align: center;
            color: #555;
            transition: 0.5s;
            position: relative;
        }

            ul.phan-trang-lct li a:after {
                content: '';
                background-color: transparent;
                width: 100%;
                bottom: 0;
                left: 0;
                display: block;
                position: absolute;
                height: 3px;
                transition: 0.5s;
            }

            ul.phan-trang-lct li a:hover:after {
                background-color: #08c;
            }

            ul.phan-trang-lct li a.chon {
                background-color: #08c;
                color: #fff;
            }

/*#endregion */

/*#region Header */

header {
    position: relative;
}

/*#region Logo */

header .logo {
    height: 65px;
    width: 370px;
    position: absolute;
    z-index: 11;
    bottom: 8px;
    left: 0px;
}
    header .logo a {
        display: block;
        height: 65px;
        width: 370px;
        background-image: url('/logo.png/lct');
    }

/*#endregion */

/*#region Top header */

header .top-header,
header .buffer-top-header {
    height: 35px;
    width: 100%;
}
header .buffer-top-header {
    visibility: hidden;
}
header .top-header {
    background-color: #004263;
    border-bottom: #003048 solid 1px;
    position: fixed;
    z-index: 10;
}

/*#region Tải */

@-webkit-keyframes dang-tai-header {
    0% { border-bottom-color: #08c; }
    20% { border-bottom-color: #6b00b2; }
    60% { border-bottom-color: #e00; }
    40% { border-bottom-color: #f90; }
    80% { border-bottom-color: #0c0; }
    100% { border-bottom-color: #08c; }
}

@-moz-keyframes dang-tai-header {
    0% { border-bottom-color: #08c; }
    20% { border-bottom-color: #6b00b2; }
    60% { border-bottom-color: #e00; }
    40% { border-bottom-color: #f90; }
    80% { border-bottom-color: #0c0; }
    100% { border-bottom-color: #08c; }
}

@keyframes dang-tai-header {
    0% { border-bottom-color: #08c; }
    20% { border-bottom-color: #6b00b2; }
    60% { border-bottom-color: #e00; }
    40% { border-bottom-color: #f90; }
    80% { border-bottom-color: #0c0; }
    100% { border-bottom-color: #08c; }
}

body.dang-tai-lct header .top-header {
    border-bottom-width: 5px;
    -webkit-animation: dang-tai-header 5s linear infinite;
    -moz-animation: dang-tai-header 5s linear infinite;
    animation: dang-tai-header 5s linear infinite;
}

/*#endregion */

    /*#region Hộp người dùng */    

    .hop-nguoi-dung {
        float: right;
    }

        /*#region Chưa đăng nhập */

        .hop-nguoi-dung ul.chua-dang-nhap {
            height: 35px;            
            margin: 0 6px;
        }
            .hop-nguoi-dung ul.chua-dang-nhap > li {
                display: inline-block;
                padding: 0 5px;
                position: relative;
            }
                .hop-nguoi-dung ul.chua-dang-nhap > li > a {
                    display: block;
                    color: #fff;                    
                    line-height: 35px;
                    transition: 0.2s;           
                }
                .hop-nguoi-dung ul.chua-dang-nhap > li > a:hover {
                    text-decoration: none;
                    text-shadow: 0px 0px 5px #fff;
                }
            .hop-nguoi-dung ul.chua-dang-nhap > li:last-of-type:before {
                content: '|';
                position: absolute;
                color: #fff;
                left: -5px;
                top: 9px;
            }

        /*#endregion */

         /*#region Đã đăng nhập */

        .hop-nguoi-dung ul.da-dang-nhap {
            height: 35px;            
            margin: 0 6px;
        }
            .hop-nguoi-dung ul.da-dang-nhap > li {
                float: left;
                padding: 0 5px;
                height: 100%;                
            }
            .hop-nguoi-dung ul.da-dang-nhap > li:last-of-type {
                padding: 0 5px 0 20px;
                position: relative;
            }
                .hop-nguoi-dung ul.da-dang-nhap > li:last-of-type:before {
                    content: '|';
                    position: absolute;
                    color: #ddd;
                    top: 10px;
                    left: 7px;
                }
                .hop-nguoi-dung ul.da-dang-nhap > li > a {
                    display: block;        
                    color: #ddd;
                    transition: 0.2s;                      
                }
                .hop-nguoi-dung ul.da-dang-nhap > li > a:hover {
                    text-shadow: 0 0 5px #fff;
                    text-decoration: none;                                  
                }
                    .hop-nguoi-dung ul.da-dang-nhap > li > a > i {
                        line-height: 35px;                                 
                        font-size: 20px;                        
                    }
                    .hop-nguoi-dung ul.da-dang-nhap > li > a > span {
                        line-height: 35px;                           
                    }
                    .hop-nguoi-dung ul.da-dang-nhap > li > a > img {
                        display: block;
                        float: left;                                       
                        padding: 7px;
                        width: 22px;
                        height: 22px;                        
                    }
                    .hop-nguoi-dung ul.da-dang-nhap > li > a > .hinh-dai-dien {
                        padding: 7px;
                        width: 22px;
                        height: 22px;
                        display: block;
                        float: left;  
                    }                        


                    /*#region Hộp điều khiển */

                    .hop-dieu-khien {
                        position: absolute;                               
                        z-index: 1;
                        top: 35px;
                        right: calc(0% - 6px);
                        background-color: #004263;
                        padding: 5px;
                        display: none;
                    }
                        .hop-dieu-khien > ul {     
                            width: 152px;                       
                        }
                            .hop-dieu-khien > ul > li {
                                display: block;
                                width: 100%;
                                height: 30px; 
                                transition: 0.2s;                               
                            }
                                .hop-dieu-khien > ul > li:hover {
                                    text-shadow: 0 0 5px #fff;                           
                                }
                                .hop-dieu-khien > ul > li > a {
                                    display: block;
                                    color: #ddd;
                                    display: table;
                                    width: 100%;
                                    position: relative;
                                    padding-left: 3px;
                                }                                
                                .hop-dieu-khien > ul > li > a:after {
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    background-color: #ddd;
                                    left: 0px;
                                    top: 0px;
                                    transition: 0.2s;
                                    height: 100%;
                                    width: 3px;
                                }         
                                .hop-dieu-khien > ul > li > a:hover:after {
                                    background-color: #08c;                                    
                                }                            
                                    .hop-dieu-khien > ul > li > a > i {
                                        font-size: 20px;
                                        line-height: 30px;
                                        float: left;
                                        padding: 0 5px;
                                        width: 25px;
                                        text-align: center;
                                    }
                                    .hop-dieu-khien > ul > li > a > span {
                                        line-height: 30px;
                                        float: left;
                                        padding: 0 5px;
                                    }
                    /*#endregion */

                    /*#region Hộp tin nhắn */

                    .hop-tin-nhan {
                        flex-direction: column;
                        width: 350px;
                        max-height: 500px;
                        right: 173px;
                        background-color: #fcfcfc;
                        border: 1px solid #ddd;
                        top: 34px;
                        position: fixed;
                        display: none;
                    }

                        .hop-tin-nhan:after,
                        .hop-tin-nhan:before {
                            content: '';
                            display: block;
                            border: 5px solid transparent;
                            right: 47px;
                            position: absolute;
                        }

                        .hop-tin-nhan:before {
                            top: -10px;
                            border-bottom-color: #ddd;
                        }
                        .hop-tin-nhan:after {
                            top: -8px;
                            border-bottom-color: #08c;
                        }

                    .hop-tin-nhan .khung-bao-tin-nhan {
                        border-top: 3px solid #08c;
                    }

                    .hop-tin-nhan ul {
                        max-height: 269px;
                        overflow-x: hidden;
                        overflow-y: auto;
                    }

                    .hop-tin-nhan li {
                        border-bottom: 1px solid #eee;                            
                    }
                    .hop-tin-nhan li:last-child {
                        border-bottom: none;
                    }
                        .hop-tin-nhan li:hover {
                            background-color: #eee;
                        }
                            
                    .hop-tin-nhan a {
                        display: flex;
                        padding: 5px;
                    }

                    .hop-tin-nhan .hinh-dai-dien {
                        width: 34px;
                        height: 34px;
                    }
                        .hop-tin-nhan img {
                            width: 100%;
                        }

                    .hop-tin-nhan .tin-nhan {
                        margin-left: 5px;
                    }
                        .hop-tin-nhan .noi-dung {
                            width: 301px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .hop-tin-nhan .thoi-gian {
                            font-size: 11px;
                            color: #ccc;
                        }
                    /*#endregion */

        /*#endregion */        

    /*#endregion */

    

/*#endregion */

/*#region Bottom header */

header .bottom-header {
    height: 50px;
    background-image: linear-gradient(top, #f8f8f8, #fff);
    background-image: -moz-linear-gradient(top, #f8f8f8, #fff);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #fff);
    background-image: -o-linear-gradient(top, #f8f8f8, #fff);
    border-bottom: 1px solid #eee;
}
    header .bottom-header nav {
        float: right;
        height: 50px;
    }
        header .bottom-header nav li {
            display: block;
            float: left;
            border-left: 1px dashed #eee;
        }
        header .bottom-header nav a {
            display: block;
            line-height: 50px;
            padding: 0px 10px;
            font-size: 16px;
            position: relative;
        }
            header .bottom-header nav a:hover {
                text-decoration: none;
            }
        header .bottom-header nav i {
            font-size: 30px;
            vertical-align: -6px;
        }
        header .bottom-header nav a u {
            height: 3px;
            width: 0%;
            position: absolute;
            left: 0px;
            bottom: 0px;
            background-color: #08c;
            opacity: 0;
            transition: 0.5s;
        }
        header .bottom-header nav a:hover u {
            opacity: 1;
            width: 100%;
            transition: width 0.5s, opacity 1.5s;
        }

/*#endregion */

/*#endregion */

/*#region Điều hướng */

.thanh-dieu-huong {
    padding-left: 10px;
    padding-top: 20px;
}
    .thanh-dieu-huong:after {
        content: '';
        display: block;
        clear: both;
    }
    .thanh-dieu-huong li {
        display:block;
        background-color: #fff;
        float:left;
        position: relative;
        height: 30px;
        margin-right: 4px;
        line-height: 30px;
    }
    .thanh-dieu-huong li:before, 
    .thanh-dieu-huong li:after {
        border: 15px solid transparent;
        position: absolute;
        content: "";
    }
    .thanh-dieu-huong li:before {
        top: 0px;
        left: 0px;
        border-left-color: #f5f5f5;
        z-index: 1;
    }
    .thanh-dieu-huong li:after {
        top: 0px;
        left: 100%;
        border-left-color: white;
        z-index: 2;
    }
    .thanh-dieu-huong li:first-child:before {
        border: none;
    }
    .thanh-dieu-huong li:last-child {
        background-color: #08c;
        color: white;
    }
    .thanh-dieu-huong li:last-child:after {
        border-left-color: #08c;
    }
    .thanh-dieu-huong li a {
        display: block;
        padding: 0 10px 0 25px;
        font-size: 14px;
        transition: 0.5s;
        z-index: 2;
        position: relative;
        max-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #555;
    }
    .thanh-dieu-huong li:first-child a {
        padding-left: 15px;
    }
    .thanh-dieu-huong li:first-child a:hover {
        padding-left: 25px;
    }
    .thanh-dieu-huong li a:hover {
        padding: 0 20px 0 35px;
        text-decoration: none;
    }
    .thanh-dieu-huong li:last-child a {
        color: #fff;
    }

/*#endregion */

/*#region Main */

main {
    min-height: calc(100vh - 150px);
    padding: 20px 15px 20px 10px;
    display: flex;
}

.empty {
    padding: 10px;
    color: #888;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fcfcfc;
}

/*#region Cột trái */

main > .cot-trai {
    min-width: 210px;
    max-width: 210px;
}

/*#region Khung menu */

.cot-trai .menu {
    border: 1px solid #ddd;
}

/*#region Khung thông tin */

/*#region Thông tin người dùng */

.cot-trai .khung-thong-tin {
    background-color: #fbfbfb;
    padding: 10px;
    height: 40px;
    display: flex;
}

    .cot-trai .menu .khung-thong-tin .hinh-dai-dien {
        max-height: 40px;    
        min-height: 40px;
        max-width: 40px;
        min-width: 40px;    
        position: relative;        
    }
    
        .cot-trai .menu .khung-thong-tin .hinh-dai-dien img {
            height: 100%;
            width: 100%;
            position: absolute;
        }
        
    .cot-trai .menu .khung-thong-tin .thong-tin-nguoi-dung {
        margin-left: 10px;
        width: 100%;
    }
    
        .cot-trai .menu .khung-thong-tin .thong-tin-nguoi-dung .ten-nguoi-dung {
            line-height: 40px;
            color: #555;
            font-size: 12px;
            font-weight: bold;
        }

/*#endregion */

/*#region Menu */

.cot-trai nav {
    border-top: none;
}
    .cot-trai nav > ul > li {
        background-color: #fefefe;
        border-top: 1px solid #ddd;
    }
    .cot-trai nav li li {
        background-color: #fbfbfb;
        border-top: 1px solid #e5e5e5;
    }
    .cot-trai nav li li:nth-child(even) {
        background-color: #fdfdfd;
    }
    .cot-trai nav a {
        display: block;
        position: relative;
        color: #333;
    }
    .cot-trai nav a:hover {
        text-decoration:  none;
    }
    .cot-trai nav li:hover > a {
        color: #000;
    }
    .cot-trai nav a:after {
        content: '';
        display: block;
        position: absolute;
        background-color: #ddd;
        left: 0px;
        top: 0px;
        transition: 0.5s;
    }
    .cot-trai nav > ul > li > a {
        line-height: 30px;
        padding: 5px 0px 5px 15px;
        font-size: 15px;
        font-weight: bold;
    }
    .cot-trai nav > ul > li > a:after {
        width: 5px;
        height: 100%;
    }
        .cot-trai nav > ul > li:hover > a:after,
        .cot-trai nav > ul > li > a:hover:after {
            background-color: #08c;
        }
    .cot-trai nav > ul > li > ul > li > a {
        padding: 5px 10px;
        font-size: 13px;
        line-height: 20px;
    }
    .cot-trai nav > ul > li > ul > li > a:after {
        width: 3px;
        height: 0px;
    }
        .cot-trai nav > ul > li > ul > li > a:hover:after {
            background-color: #08c;
            height: 100%;
        }
        
        .cot-trai nav > ul > li > ul > li > a:hover:after {
            background-color: #08c;
            height: 100%;
        }

        .cot-trai nav .khoa-hoc-cua-toi-lct .sl-bai-moi {
            padding: 0px 5px;
            border: 1px solid #f0f0f0;
            font-family: Berlin;
            background-color: #08c;
            color: #fff;
            font-size: 16px;
            line-height: 0;
        }
 
        .cot-trai nav .khoa-hoc-cua-toi-lct .sl-bai-moi {
            padding: 0px 5px;
            border: 1px solid #f0f0f0;
            font-family: Berlin;
            background-color: #08c;
            color: #fff;
            font-size: 16px;
            line-height: 0;
        }
/*#endregion */

/*#endregion */

/*#endregion */

/*#endregion */

/*#region Cột phải */

main > .cot-phai {
    min-width: 240px;
    max-width: 240px;
}

/*#region Chức năng */

.cot-phai > .khung-chuc-nang {
    border-left: 2px solid #ddd;
    padding-left: 15px;
}
.khung-chuc-nang .hop-chuc-nang {
    margin-bottom: 20px;
}
.khung-chuc-nang .ten-chuc-nang {
    color: #08c;
    line-height: 30px;
    font-size: 18px;
    position: relative;
    margin-bottom: 10px;
}
    .khung-chuc-nang .ten-chuc-nang:before {
        content: '';
        position: absolute;
        display: block;
        background-color: #fff;
        width: 10px;
        height: 10px;
        border: 2px solid #ddd;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        top: 9px;
        left: -23px;
    }

/*#region Danh sách nút chức năng */

.khung-chuc-nang .chuc-nang .danh-sach {
    border: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
}

    .khung-chuc-nang .chuc-nang .danh-sach li {
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #eee;
    }

        .khung-chuc-nang .chuc-nang .danh-sach li:last-child {
            border-bottom: 0;
        }

    .khung-chuc-nang .chuc-nang .danh-sach a {
        display: block;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        position: relative;
        font-size: 14px;
        color: #333;
    }

        .khung-chuc-nang .chuc-nang .danh-sach li:nth-child(even) a {
            background-color: #fcfcfc;
        }

        .khung-chuc-nang .chuc-nang .danh-sach a:after {
            content: '';
            display: block;
            width: 0%;
            height: 3px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #eee;
            transition: 0.5s;
        }

        .khung-chuc-nang .chuc-nang .danh-sach a:hover:after {
            background-color: #08c;
            width: 100%;
        }

/*#endregion */

/*#endregion */

/*#region Hộp câu hỏi */

.noi-dung-hop-cau-hoi {

}

    .noi-dung-hop-cau-hoi ul {
        border: 1px solid #ddd;
    }

        .noi-dung-hop-cau-hoi ul li {
            padding: 0 5px;
            background-color: #fafafa;
            border-bottom: 1px solid #eee;
        }

        .noi-dung-hop-cau-hoi ul li:last-child {
            border-bottom: 0;
        }

        .noi-dung-hop-cau-hoi ul li:nth-child(even) {
            background-color: #fcfcfc;
        }
    
    .noi-dung-hop-cau-hoi .tieu-de {
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

        .noi-dung-hop-cau-hoi .tieu-de a {
            font-weight: bold;
            color: #555;
        }
    
    .noi-dung-hop-cau-hoi .thong-tin {
        padding: 0 5px 5px 5px;
        font-size: 11px;
        color: #888;
    }
        .noi-dung-hop-cau-hoi .thong-tin img {
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    
    .noi-dung-hop-cau-hoi ul:empty {
        display: none;
    }

    .noi-dung-hop-cau-hoi ul:empty + * {
        display: block;
    }

    .noi-dung-hop-cau-hoi ul + * {
        display: none;
        text-align: center;
        border: 1px solid #ddd;
        background-color: #fff;
        color: #555;
        padding: 10px;
    }

/*#endregion */

/*#endregion */

/*#region Cột giữa */

main > .cot-giua {
    width: 100%;
    padding: 0px 20px;
}

/*#endregion */

/*#endregion */

/*#region Footer */

footer {
    background-color: #004263;
    border-top: #003048 solid 1px;
    padding: 20px;
    font-family: Akashi;
    color: #fff;
    text-align: center;
    margin-top: 100px;
}

/*#endregion */